---
---
<!DOCTYPE html>
<html>

  <head>
  <meta charset="utf-8">

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-MZGV8GK');</script>
  <!-- End Google Tag Manager -->

  <!-- begin SEO -->








<title>The New Yorker, Ein Wyndham Hotel</title>





<meta name="description" content="Entdecken Sie das The New Yorker Hotel, ein Boutique-Hotel in New York. Beginnen Sie Ihren Ausflug nach New York mit der Buchung Ihres Aufenthalts in Midtown Manhattan.">
<meta property="og:description" content="Entdecken Sie das The New Yorker Hotel, ein Boutique-Hotel in New York. Beginnen Sie Ihren Ausflug nach New York mit der Buchung Ihres Aufenthalts in Midtown Manhattan.">




<meta name="author" content="WyndhamNYH">

<meta property="og:locale" content="en_US">
<meta property="og:site_name" content="The New Yorker, A Wyndham Hotel | Midtown Manhattan Hotel">
<meta property="og:title" content="The New Yorker, Ein Wyndham Hotel">


  <link rel="canonical" href="https://www.newyorkerhotel.com/de/">
  <meta property="og:url" content="https://www.newyorkerhotel.com/">



  <meta name="twitter:site" content="@WyndhamNYH">
  <meta name="twitter:title" content="The New Yorker, Ein Wyndham Hotel">
  <meta name="twitter:description" content="Entdecken Sie das The New Yorker Hotel, ein Boutique-Hotel in New York. Beginnen Sie Ihren Ausflug nach New York mit der Buchung Ihres Aufenthalts in Midtown Manhattan.">
  <meta name="twitter:url" content="https://www.newyorkerhotel.com/">
  <meta name="twitter:card" content="summary">


  <meta name="twitter:image" content="https://www.newyorkerhotel.com/images/banner-4.jpg">



    <meta name="twitter:creator" content="@WyndhamNYH">










  <meta property="og:image" content="https://www.newyorkerhotel.com/images/banner-4.jpg">





  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "url": "https://www.newyorkerhotel.com",
      "logo": "https://www.newyorkerhotel.com/images/banner-4.jpg"
    }
  </script>




<!-- end SEO -->


  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <script>
    document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
  </script>

  <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="/css/all.css">
  <!--<![endif]-->

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poiret+One">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/owl.carousel.css">
  <link rel="stylesheet" href="/css/owl.theme.css">
  <link rel="stylesheet" href="/css/owl.transitions.css">
  <link rel="stylesheet" href="/css/animations.css">
  <link rel="stylesheet" href="/css/lightgallery.css">
  <link rel="stylesheet" href="/css/font-awesome.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin="">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
  <link rel="apple-touch-icon" sizes="57x57" href="/fav-icon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/fav-icon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/fav-icon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/fav-icon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/fav-icon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/fav-icon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/fav-icon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/fav-icon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/fav-icon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/fav-icon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/fav-icon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/fav-icon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/fav-icon/favicon-16x16.png">
  <link rel="manifest" href="/fav-icon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/fav-icon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <meta http-equiv="cleartype" content="on">

  <script id="gtsgig-boot" data-hotel-id="newyorkerhotel" src="https://widgets.gtsgig.com/boot.js" async defer></script>
  <script>(function(){ var v = document.createElement('script'); var s = document.getElementsByTagName('script')[0]; v.src = '//io.voyat.com/v.js'; v.async = true; s.parentNode.insertBefore(v, s); })();</script>


<!--Homepage Pixel-->
<!-- Sojern Master Pixel Tag cp_v1_js, Pixel Version: 1 -->
<script>
  (function () {
    /* Please fill the following values. */
    var params = {
      hpid: "NYCNYR", /* Property ID */
      pt: "HOME_PAGE" /* Page Type - HOME_PAGE or PRODUCT or TRACKING */
    };

    /* Please do not modify the below code. */
    var paramsArr = [];
    for(key in params) { paramsArr.push(key + '=' + encodeURIComponent(params[key])) };

    var pl = document.createElement('script');
    pl.type = 'text/javascript';
    pl.async = true;
    pl.src = "https://beacon.sojern.com/pixel/cp/8?f_v=cp_v1_js&p_v=1&" + paramsArr.join('&');
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(pl);
  })();
</script>
<!-- End Sojern Tag -->


  <link rel="stylesheet" type="text/css" href="https://plugins.traveltripper.io/v2/css/booking-widget.css" />
      <style type="text/css">
  @media screen and (max-width: 1023px){
    .menu-btn{
      right: 260px;
    }
  }
  @media screen and (max-width: 767px){
    .menu-btn{
      right: 185px;
    }
  }
</style>

    <link rel="alternate" hreflang="en" href="https://www.newyorkerhotel.com/">
    <link rel="alternate" hreflang="es" href="https://www.newyorkerhotel.com/es/">
    <link rel="alternate" hreflang="it" href="https://www.newyorkerhotel.com/it/">
    <link rel="alternate" hreflang="fr" href="https://www.newyorkerhotel.com/fr/">
    <link rel="alternate" hreflang="de" href="https://www.newyorkerhotel.com/de/">
    <link rel="alternate" hreflang="zh-hans" href="https://www.newyorkerhotel.com/zh/">
</head>


<body ng-app="rezTrip" rt3-hotel-info="hotelInfo" rt3-rooms-browser="browser">
  <input type="hidden" id="rezlang" value="de">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MZGV8GK"
    height="0" width="0" style="display: none; visibility: hidden;"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

   	<nav class="header-wrapper">
  <div class="container-fluid">
    <div class="logo"> <a href="/de/"><img src="/images/the-new-yorker-logo.svg" alt="The New Yorker"/></a> </div>
    <div class="main-menu">
      <ul class="nav">
       	<li ><a href="/de/rooms/">Zimmer</a></li>
        <li ><a href="/de/offers/">Angebote</a></li>
       	<li ><a href="/de/location/">Standort</a></li>
        <li ><a href="/de/gallery/">Galerie</a></li>
       	<li ><a href="/de/contact/">Kontakt</a></li>
      </ul>
    </div>
    <div class="menu-btn"></div>
    <div class="booknow langpick">
      <select class="selectpicker" data-width="fit" onchange="location = this.value;">
        <option value="/" data-content='<span class="flag-icon flag-icon-us"></span> EN'></option>
        <option value="/fr/" {% if page.url contains '/fr/'%} selected="selected"{% endif %}  data-content='<span class="flag-icon flag-icon-fr"></span> FR'></option>
        <option value="/es/" {% if page.url contains '/es/'%} selected="selected"{% endif %} data-content='<span class="flag-icon flag-icon-es"></span> ES'></option>
        <option value="/it/" {% if page.url contains '/it/'%} selected="selected"{% endif %} data-content='<span class="flag-icon flag-icon-it"></span> IT'></option>
        <option value="/de/" {% if page.url contains '/de/'%} selected="selected"{% endif %} data-content='<span class="flag-icon flag-icon-de"></span> DE'></option>
        <option value="/zh/" {% if page.url contains '/zh/'%} selected="selected"{% endif %} data-content='<span class="flag-icon flag-icon-zh"></span> ZH'></option>
      </select>
    <!-- <select onchange="location = this.value;">
      <option value="/">EN</option>
      <option value="/fr/" {% if page.url contains '/fr/'%} selected="selected"{% endif %}>FR</option>
      <option value="/es/"  {% if page.url contains '/es/'%} selected="selected"{% endif %}>ES</option>
      <option value="/it/"  {% if page.url contains '/it/'%} selected="selected"{% endif %}>IT</option>
      <option value="/de/"  {% if page.url contains '/de/'%} selected="selected"{% endif %}>DE</option>
    </select> -->
    <a href="javascript:void(0);" show-booking-widget><span class="cal"><img src="/images/calendar.svg" alt=""/></span>Jetzt buchen</a>
    </div>
  </div>
</nav>


    <section class="home-banner custom-carousel" rt3-recent-bookings="recentBookings" ng-cloak>
  <div class="container-fluid">
    <div id="home-banner" class="carousel slide carousel-fade" data-ride="carousel">

      <div class="carousel-inner" role="listbox">
        <!-- <div class="item active" style="background-image: url(/images/banner-4.jpg); height:650px;"></div> -->
        <!-- <div class="item" style="background-image: url(/images/banner-2.jpg);"></div> -->


          <div class="item active" style="background-image: url('https://cdn.traveltripper.io/site-assets/426_558_6591/media/2017-08-25-085033/new-yorker-exclusive-offer.jpg');">
            <div class="offer-details">
              <div class="offer-title"><span>New Yorker exklusiv</span></div>

              <a href="/de/offer-details/#new-yorker-exclusive" class="btn-common">Dieses Angebot buchen</a>
            </div>
          </div>

          <div class="item" style="background-image: url('https://cdn.traveltripper.io/site-assets/426_558_6591/media/2017-08-25-085409/pay-now-save-10-percent-offer.jpg');">
            <div class="offer-details">
              <div class="offer-title"><span>Zahlen Sie direkt und sparen Sie 10 %</span></div>

              <a href="https://newyorkerhotel.reztrip.com/classic/de/special_offer?action=show&controller=landings&locale=de&rate_code=BPRADV&rate_code=BPRADV&starting_page=special_offer&vr=3" class="btn-common">Dieses Angebot buchen</a>
            </div>
          </div>

          <div class="item" style="background-image: url('https://d31f902anbz5po.cloudfront.net/677/32888_2_yankee_large.jpg');">
            <div class="offer-details">
              <div class="offer-title"><span>Frühstück für einen Dollar</span></div>

              <a href="/de/offer-details/#breakfast-for-a-dollar" class="btn-common">Dieses Angebot buchen</a>
            </div>
          </div>

      </div>

      <!-- <div class="banner-overlay"></div> -->

      <!-- <div class="banner-logo">
        <a href="/"><img src="/images/the-new-yorker-logo-white.svg" alt="The New Yorker"></a>
      </div> -->

      <div class="caption-price" style="display:none">
        <span class="price-holder" ng-show="recentBookings.totalBookings > 5"><span class="recentBookingNo">[[ recentBookings.totalBookings ]]</span><span class="recentBookingText">Reisende buchten unser Hotel in den letzten 2 Tagen</span></span>
      </div>

      <div class="counter"><span class="num">1 von 3</span></div>

      <a class="left carousel-control" href="#home-banner" role="button" data-slide="prev"><i class="fa fa-angle-left" aria-hidden="true"></i><span class="sr-only">Zurück</span></a> <a class="right carousel-control" href="#home-banner" role="button" data-slide="next"><i class="fa fa-angle-right" aria-hidden="true"></i><span class="sr-only">Weiter</span></a>

    </div>
  </div>
</section>

<section class="price-wrap1 container-fluid" ng-show="browser.isRate" style="display:none">
  <div class="best-rate-ota" ng-show="browser.otaRates.brgFound">
    <div class="boxes">

      <div class="tonight-rate ">
        <p>Bester verfügbarer Preis</p>
        <h4>Heutiger Preis <a href="https://newyorkerhotel.reztrip.com/search?locale=de" target="_blank" class="homeTonightRate" ><span class="price">[[ browser.otaRates.reztripRate ]]</span></a></h4>
      </div>

      <div class="ota-list">
        <ul>
          <li ng-repeat="(key, value) in browser.otaRates.brg">[[ key ]] <span>$[[ value ]]</span></li>
        </ul>
      </div>

    </div>
  </div>
</section>

<section class="intro-wrap">
  <div class="container-fluid">
    <div class="intro">
      <div class="col-sm-5 no-padding">
        <div class="-left">
          <div class="img-holder">
            <img src="/images/welcome-2.jpg"> <a href="javascript:void(0)" id="link"> <img src="/images/play-icon.svg" class="play-icon"> </a>
          </div>
          <div class="img-holder">
            <img src="/images/welcome-1.jpg">
          </div>
        </div>
      </div>
      <div class="col-sm-7 no-padding">
        <div class="-right">
          <h1>Willkommen im<br>New Yorker</h1>
          <p>Das Gebäude aus der Jazz-Ära zog bereits einige der berühmtesten Reisenden der Geschichte an. Es befindet sich in Midtown Manhattan an der 8th Avenue, nur wenige Minuten vom Times Square und einen Block von der Penn Station entfernt. Wenn Sie die Art-déco-Fassade sehen, die stolz von den Buchstaben <span style="color:red;">NEW YORKER</span> geschmückt wird, haben Sie Ihr Ziel erreicht.</p>
          <!-- <div class="btn-holder"><a href="/de/about/" class="btn-common">Entdecken Sie diese historische Legende</a></div> -->
        </div>
      </div>
    </div>
  </div>
</section>

<div class="modal fade full-screen" id="welcomeVideo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
      <div class="modal-body">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" frameborder="0" allowfullscreen=""></iframe>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="intro-wrap home-rooms custom-carousel">
	<div class="container-fluid">
        <div class="intro">
          <div class="col-sm-5 no-padding">
                <div class="-right">
                   <h2>Zimmer und Suiten</h2>
                    <p>Neben dem besonders wertvollen, zentral in New York City gelegenen Standort, bieten die Zimmer des New Yorker einen entspannenden, durch Art déco inspirierten Rückzugsort inmitten der Energie Midtown Manhattans.</p>
                    <div class="btn-holder"><a href="/de/rooms/" class="btn-common">Entdecken Sie alle Zimmer und Suiten</a></div>
              </div>
          </div>
            <div class="col-sm-7 no-padding">
            	<div class="-left">
                	<div id="home-room-banner" class="carousel slide" data-ride="carousel">

                       <!-- Wrapper for slides -->
                      <div class="carousel-inner" role="listbox">
                        <div class="item active"><img ng-src="/images/home-room-1.jpg"></div>
                        <div class="item"><img ng-src="/images/home-room-2.jpg"></div>
                        <div class="item"><img ng-src="/images/home-room-3.jpg"></div>
                        <div class="item"><img ng-src="/images/home-room-4.jpg"></div>
                      </div>


                      <!-- Left and right controls -->
                      <a class="left carousel-control" href="#home-room-banner" role="button" data-slide="prev"> <i class="fa fa-angle-left" aria-hidden="true"></i> <span class="sr-only">Zurück</span> </a> <a class="right carousel-control" href="#home-room-banner" role="button" data-slide="next"> <i class="fa fa-angle-right" aria-hidden="true"></i> <span class="sr-only">Weiter</span> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="cta-one" style="background-image:url(/images/home-cta.jpg)">
	<div class="container">
    	<div class="banner-overlay"></div>
        <div class="cta-content">
            <h4>Herausragende und inspirierende Veranstaltungen</h4>
            <h3>Ein einzigartiger Veranstaltungsort</h3>
            <!-- <div class="btn-holder"><a href="/de/events/" class="btn-common btn-white">Entdecken Sie Veranstaltungen und Treffen</a></div> -->
        </div>
    </div>
</section>

<div class="two-col-wrapper padding80 white_bg cover" style="background-image: url('/images/bg-tower.jpg');">
     <div class="container">
     	  <div class="row">
     	      <div class="col-sm-6">
     	      	   <div id="amenitiesCarousel" class="carousel slide no-shadow margin22" data-ride="carousel">

     	      	     <!-- Wrapper for slides -->
     	      	     <div class="carousel-inner" role="listbox">
     	      	       <div class="item active">
     	      	         <img src="/images/amenities/1.jpg" alt="Ausstattung">
     	      	       </div>
					   <div class="item">
     	      	          <img src="/images/amenities/2.jpg" alt="Ausstattung">
     	      	       </div>
                       <div class="item">
     	      	          <img src="/images/amenities/3.jpg" alt="Ausstattung">
     	      	       </div>
                       <div class="item">
     	      	          <img src="/images/amenities/4.jpg" alt="Ausstattung">
     	      	       </div>


     	      	     </div>

     	      	     <!-- Left and right controls -->
     	      	     <a class="left carousel-control" href="#amenitiesCarousel" role="button" data-slide="prev"> <img src="/images/amenities/arrow-left.png"> </a> <a class="right carousel-control" href="#amenitiesCarousel" role="button" data-slide="next"> <img src="/images/amenities/arrow-right.png"> </a>
     	      	   </div>
     	      </div>
     	      <div class="col-sm-6">
     	           <div class="content-box">
		     	      	   <h2>Ausstattung <br>von Weltrang</h2>
		     	      	   <ul>
		     	      	   	 <li> Eine Legende im Art-déco-Stil </li>
							 <li> Unübertroffener Standort in Midtown West </li>
							 <li> Exklusive Zimmer und Suiten </li>
							 <li> Rund um die Uhr im Tick Tock Diner dinieren </li>
							 <li> Schöner und vielseitiger Veranstaltungsort </li>
							 <li> Atemberaubende Ausblicke über New York City aus der Sky Lounge </li>
		     	      	   </ul>
		     	      	   <div class="btn-holder">
		     	      	      <a class="btn-common" href="/de/gallery/"> Galerie ansehen</a>
		     	      	   </div>
     	      	   </div>
     	      </div>
     	  </div>
     </div>
</div>
<div class="two-col-wrapper padding80 grey_bg">
     <div class="container">
     	  <div class="row">
     	      <div class="col-sm-5">
     	           <div class="content-box-left">
		     	      	   <h2>Eine Art-déco-Legende <br> in New York</h2>
		     	      	    <p>Das The New Yorker, ein Wyndham Hotel wurde im Jahr 1929 erbaut und verzaubert seit Generationen die Gäste durch die Art-déco-Einrichtung, den hervorragendem Service und den erstklassigen Standort in Midtown Manhattan.</p>
		     	      	   <!-- <div class="btn-holder">
		     	      	      <a class="btn-common" href="/de/about/"> Entdecken Sie unsere Geschichte</a>
		     	      	   </div> -->
     	      	   </div>
     	      </div>
     	      <div class="col-sm-7">
     	      	        <img src="/images/amenities/history.jpg" alt="Geschichte" class="img-responsive img-5">

     	      </div>
     	  </div>
     	  <div class="row">
     	      <div class="col-sm-5 text-right">
                       <img src="/images/amenities/building1.jpg" alt="Gebäude" class="margin40">
     	      </div>
     	      <div class="col-sm-5">
     	                <img src="/images/amenities/30-dancing.jpg" alt="Tänze der 30er " class="img-responsive margin40">
     	      </div>
     	  </div>
     </div>
</div>

<section class="offers-wrapper home-page-offers">
     <div class="container-fluid" rt3-special-rates= "offers">
     	      <div class="col-sm-4 no-padding-margin" ng-repeat="offer in offers.special_rates | limitTo: 3">
     	                   <div class="thumb" style="background-image: url([[offer.lead_photo_url.yankee_large]]);">
     	                         <div class="caption">
                                <div class="v-align">
     	                             <h3 ng-bind-html="offer.rate_plan_name | renderHTMLCorrectly"></h3>

     	                             <a ng-href="/de/offer-details/#[[offer.rate_plan_name | formatNameForLink ]]" class="btn-common btn-white" rel="tooltip" title="Dieses Angebot ansehen">Angebot ansehen</a>
     	                         </div>
                            </div>
     	                     </div>
     	      </div>

     </div>
</section>

<section class="home-map">
	<div class="container-fluid two-col-wrap">
    	<div class="row no-gutters">
        	<div class="col-sm-6 img v-center">
            	<div class="map-inner" id="map"></div>
       	    	<!--<img src="../images/home-map.jpg" alt="Map"/> -->
            </div>
            <div class="col-sm-6 v-center">
            	<div class="content">
                    <h2>Eine legendäre<br>Umgebung</h2>
                    <p>New York ist eine der weltbekanntesten Städte und bietet unzählige Sehenswürdigkeiten und Aktivitäten. Vom perfekten Standort des The New Yorker, ein Wyndham Hotel in Midtown West aus, erreicht man in nur wenigen Augenblicken das Jacob Javits Center und die Penn Station. Einige der markantesten Sehenswürdigkeiten der Stadt finden Sie direkt vor der Tür.</p>
                    <!--<p class="p-t-60"><span>The new yorkeR</span>  -  481 8th Avenue & 34th Street, New York, NY 10001</p>-->
                    <div class="btn-holder">
                    	<a class="btn-common" href="https://www.google.com/maps/place/The+New+Yorker+A+Wyndham+Hotel/@40.752722,-73.9957992,17z/data=!3m1!4b1!4m5!3m4!1s0x89c259ade9128e5f:0x2276df1fe19f85bc!8m2!3d40.752722!4d-73.9936052" target="_blank">Wegbeschreibung zum Hotel</a>
                    </div>
                    <!-- <p class="p-t-40">We offer car service, shuttle bus service, and bus tours</p>
                    <div class="btn-holder p-t-20">
                        <a class="btn-common" href="http://www.wnyguest.com" target="_blank">LEARN MORE</a>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</section>
<section class="home-map exclusive-trans">
	<div class="container-fluid two-col-wrap">
    	<div class="row no-gutters">
            <div class="col-sm-6 v-center">
            	<div class="content">
                    <h2>Erstklassiger Transportservice</h2>
                    <p class="">8th Avenue Guest Service ist der exklusive Transportservice des The New Yorker Hotel. Erfahren Sie mehr über Ihren persönlichen Auto-Service, Airport-Shuttle-Busse oder Bus-Touren durch New York City.</p>
                    <div class="btn-holder">
                        <a class="btn-common" href="http://www.wnyguest.com" target="_blank">ERFAHREN SIE MEHR</a>
                    </div>

                </div>
            </div>
            <div class="col-sm-6 img v-center">
            	<div class="ex-trans"><img src="/images/exclusive-transportation.jpg" alt="Erstklassiger Transportservice"/></div>
            </div>
        </div>
    </div>
</section>
<!-- <h3 class="mega-title1">Erkunden Sie den Big Apple</h3> -->
<!-- <section class="a-e">
	<div class="container">
    	<div class="row no-gutters">
        	<div class="col-md-12">
            	<h4>Sehenswürdigkeiten</h4>
                <div class="owl-carousel attractions-carousel">

                      <div class="item">
                        <img src="https://cdn.traveltripper.io/site-assets/426_558_1159/media/2017-01-05-222405/macys.jpg" alt=""/>
                        <h5>MACY’S HERALD SQUARE</h5>
                        <a href="/attractions/macys-herald-square">Attraktion anzeigen <i class="fa fa-plus"></i></a>
                      </div>

                      <div class="item">
                        <img src="https://cdn.traveltripper.io/site-assets/426_558_1159/media/2017-01-05-235649/central-park.jpg" alt=""/>
                        <h5>CENTRAL PARK</h5>
                        <a href="/attractions/central-park">Attraktion anzeigen <i class="fa fa-plus"></i></a>
                      </div>

                      <div class="item">
                        <img src="https://cdn.traveltripper.io/site-assets/426_558_1159/media/2017-01-05-235652/madison.jpg" alt=""/>
                        <h5>MADISON SQUARE GARDEN</h5>
                        <a href="/attractions/madison-square-garden">Attraktion anzeigen <i class="fa fa-plus"></i></a>
                      </div>

                      <div class="item">
                        <img src="https://cdn.traveltripper.io/site-assets/426_558_1159/media/2017-01-05-235656/theatre.jpg" alt=""/>
                        <h5>THEATER-DISTRIKT</h5>
                        <a href="/attractions/theater-district">Attraktion anzeigen <i class="fa fa-plus"></i></a>
                      </div>

                      <div class="item">
                        <img src="https://cdn.traveltripper.io/site-assets/426_558_1159/media/2017-01-05-235650/interpid.jpg" alt=""/>
                        <h5>INTREPID-MUSEUM</h5>
                        <a href="/attractions/intrepid-museum">Attraktion anzeigen <i class="fa fa-plus"></i></a>
                      </div>

                      <div class="item">
                        <img src="https://cdn.traveltripper.io/site-assets/426_558_1159/media/2017-01-05-235655/sept-11.jpg" alt=""/>
                        <h5>NATIONAL SEPTEMBER 11TH MEMORIAL & MUSEUM</h5>
                        <a href="/attractions/national-september-11th-memorial-museum">Attraktion anzeigen <i class="fa fa-plus"></i></a>
                      </div>

                      <div class="item">
                        <img src="https://cdn.traveltripper.io/site-assets/426_558_1159/media/2017-01-05-235653/natural.jpg" alt=""/>
                        <h5>AMERICAN MUSEUM OF NATURAL HISTORY</h5>
                        <a href="/attractions/american-museum-of-natural-history">Attraktion anzeigen <i class="fa fa-plus"></i></a>
                      </div>

                      <div class="item">
                        <img src="https://cdn.traveltripper.io/site-assets/426_558_1159/media/2017-01-05-235650/empire.jpg" alt=""/>
                        <h5>EMPIRE STATE BUILDING</h5>
                        <a href="/attractions/empire-state-building">Attraktion anzeigen <i class="fa fa-plus"></i></a>
                      </div>

                      <div class="item">
                        <img src="https://cdn.traveltripper.io/site-assets/426_558_1159/media/2017-01-05-235657/timesquare.jpg" alt=""/>
                        <h5>TIMES SQUARE</h5>
                        <a href="/attractions/times-square">Attraktion anzeigen <i class="fa fa-plus"></i></a>
                      </div>

                      <div class="item">
                        <img src="https://cdn.traveltripper.io/site-assets/426_558_1159/media/2017-01-05-235652/jacob.jpg" alt=""/>
                        <h5>JACOB JAVITS CONVENTION CENTER</h5>
                        <a href="/attractions/jacob-javits-convention-center">Attraktion anzeigen <i class="fa fa-plus"></i></a>
                      </div>

                </div>
              <div class="btn-holder">
                  <a class="btn-common btn-white" href="/attractions/">Alle Attraktionen anzeigen</a>
              </div>
            </div>
        </div>
    </div>
</section> -->
<!--<section class="a-e">
	<div class="container">
    	<div class="row no-gutters">
        	<div class="col-md-12">
            	<h4>Attractions</h4>
                <div class="owl-carousel attractions-carousel">
                      <div class="item">
                        <img src="../images/home-owl/01.jpg" alt=""/>
                        <h5>Empire State Building</h5>
                        <a href="#">Read More <i class="fa fa-plus"></i></a>
                      </div>
                      <div class="item">
                        <img src="../images/home-owl/02.jpg" alt=""/>
                        <h5>Madison Square Garden</h5>
                        <a href="#">Read More <i class="fa fa-plus"></i></a>
                      </div>
                      <div class="item">
                        <img src="../images/home-owl/03.jpg" alt=""/>
                        <h5>Times Square</h5>
                        <a href="#">Read More <i class="fa fa-plus"></i></a>
                      </div>
                      <div class="item">
                        <img src="../images/home-owl/04.jpg" alt=""/>
                        <h5>Other Attraction</h5>
                        <a href="#">Read More <i class="fa fa-plus"></i></a>
                      </div>
                </div>
              <div class="btn-holder">
                  <a class="btn-common btn-white" href="#">Discover More</a>
              </div>
            </div>
            <div class="col-md-4">
            	<h4>Events</h4>
                <ul>
                	<li>
                    	<h6>11.09.2016</h6>
                        <h5>Event One / Event Venue</h5>
                        <a href="#">Read More <i class="fa fa-plus"></i></a>
                    </li>
                    <li>
                    	<h6>11.10.2016</h6>
                        <h5>Event One / Event Venue</h5>
                        <a href="#">Read More <i class="fa fa-plus"></i></a>
                    </li>
                    <li>
                    	<h6>11.11.2016</h6>
                        <h5>Event One / Event Venue</h5>
                        <a href="#">Read More <i class="fa fa-plus"></i></a>
                    </li>
                    <li>
                    	<h6>11.12.2016</h6>
                        <h5>Event One / Event Venue</h5>
                        <a href="#">Read More <i class="fa fa-plus"></i></a>
                    </li>
                </ul>
                <div class="btn-holder">
                    <a class="btn-common btn-white" href="#">Discover More</a>
                </div>
            </div>
        </div>
    </div>
</section>-->


<section class="newsletter-signup">
	<div class="container">
    	<div class="row no-gutters">
        	<div class="col-md-7">
            	<h3>Registrieren Sie sich, um stets aktuelle Informationen zu erhalten</h3>
            </div>
            <div class="col-md-5">
            <form class="jotform-form" action="https://submit.jotform.me/submit/63621092258455/" method="post" name="form_63621092258455" id="63621092258455" accept-charset="utf-8">
            	<input type="hidden" name="formID" value="63621092258455" />
            	<div class="input-group">
                  <input type="email" class="form-control validate[required]" placeholder="Enter Your Email Address" id="input_3" name="q3_email" value="" placeholder="YOUR EMAIL" required="required">
                  <span class="input-group-btn">
                    <button class="btn btn-default" id="input_2" type="submit" ><img src="/images/arrow-right.png" width="26" height="21" alt=""/></button>
                  </span>
                </div><!-- /input-group -->

             </form>
            </div>
        </div>
    </div>
</section>
<section class="instagram-feed" style="display: none;">
<div class="container-fluid no-padding">
  <div class="row no-gutters">
    <h3><a href="https://www.instagram.com/explore/tags/newyorkerhotel/" target="_blank">#newyorkerhotel</a></h3>
    <h5><a href="https://www.instagram.com/newyorkerhotel/" target="_blank">Unsere Seite auf Instagram</a></h5>
      <ul class="instafeed">

      </ul>
  </div>
</div>
</section>



    <script>
function getIp(data){
   sessionStorage.ip_add =  data.ip;
}
</script>
<script src="https://api.ipify.org?format=jsonp&callback=getIp"></script>

<script src="/js/jquery-1.11.1.js"></script>

<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>-->

<script src="/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.js"></script>
<script src="/js/lightgallery.js"></script>
<script src="/js/lg-fullscreen.js"></script>
<script src="/js/lg-thumbnail.js"></script>
<script src="/js/jquery.mousewheel.min.js"></script>
<script src="/js/owl.carousel.js"></script>

<script src="/js/angular.min.js"></script>
<script src="/js/jquery-ui.min.js"></script>
<script src="/js/rt3api.js"></script>
<script src="/js/ui-date.js"></script>
<script src="/js/rez-trip.js"></script>
<script src="/js/rt3-services.js"></script>
<script src="/js/rt3-directives.js"></script>
<script src="/js/rt3-filters.js"></script>
<script src="/js/scripts.js"></script>
<script src="/js/utm-tracking.js"></script>
<script src="/js/update-meta.min.js"></script>
<script src="https://plugins.traveltripper.io/v2/rt3api.js"></script>
  <script src="https://plugins.traveltripper.io/v2/jquery.ttweb.js"></script>

  <script >

    TTWeb.Config.configure({
      hotelId: 'NYCNYR', //'orwhatever your values are',
      portalId: 'newyorkerhotel',
      defaultTimezone: 'America/New_York', // timezone of site
      ipAddress: sessionStorage.ip_add,
      defaultCurrency: 'USD',
      //rootPath: 'https://rt3api-prd-ase.ttaws.com' // include this line only if site is on asian server i.e elite and cristalhospitality
    });


    $("[show-booking-widget]").bookingWidget({
         showRateCalendar: true,
         showOfferCode: true
    });
  </script>






    <footer class="footer-wrap">
  <div class="container no-padding">
  		<div class="col-md-3 col-sm-6 no-padding">
        	<div class="footer-logo"><a href="/de/"><img src="/images/the-new-yorker-logo-black.svg" alt="The New Yorker"/></a></div>
        </div>
        <div class="col-md-3 col-sm-6 no-padding">
        	<div class="address">
            	<h3>Kontakt</h3>
                <p>
                	<a href="https://goo.gl/maps/m7a6UQKkgcH2" target="_blank"> <span>Ecke 481 8th Avenue und 34th Street</span> <span>New York, NY 10001</span> <span>+1 (21 2) 9 71 01 01</span> </a>
                 </p>
                <p>
                	<span><a href="mailto:reservations@nyhotel.com">reservations@nyhotel.com</a></span> <span><a href="mailto:guestservices@nyhotel.com">guestservices@nyhotel.com</a></span>
                </p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 no-padding">
        	<div class="links extra-padding">
            	<h3>Links</h3>
            	<ul>
                    <li><a href="/de/rooms/">Zimmer</a></li>
                    <li><a href="/de/offers/">Angebote</a></li>
                    <li><a href="/de/location/">Standort</a></li>
                    <li><a href="/de/gallery/">Galerie</a></li>
                    <li><a href="/de/contact/">Kontakt</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 no-padding">
        	<div class="social extra-padding">
            	<h3>Folgen Sie uns</h3>
            	<a href="https://www.facebook.com/newyorkerhotel" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a> <a href="https://twitter.com/WyndhamNYH" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a> <a href="https://www.instagram.com/newyorkerhotel/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a> <a href="https://www.youtube.com/channel/UCXDFDBPGBkC07HOxL7ISQLQ" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
            </div>
        </div>
  </div>
</footer>


<!-- Leaflet Settings -->
<script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
crossorigin=""></script>
<script>
setTimeout(function(){
  // Create map object, assign it to the 'map' div, give initial latitude, longitude and zoom values.
  var map = L.map('map', {scrollWheelZoom:false}).setView([40.752941, -73.993605], 15);

  // Add base map tiles from Carto CDN - Voyager Theme
  L.tileLayer('https://{s}.basemaps.cartocdn.com/rastertiles/light_nolabels/{z}/{x}/{y}.png', {
    attribution:'&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>, &copy; <a href="https://carto.com/attribution/">CARTO</a>',
    maxZoom: 20,
    minZoom: 0,
  }).addTo(map);

  // Create a custom marker icon.
  var hotelIcon = L.icon({
    iconUrl: '/assets/images/leaflet/loc.png',
    iconSize: [25, 36],
  });

  // Create a default marker object, pass custom icon as an option, add it to the map.
  var marker = L.marker([40.752941, -73.993605], {icon:hotelIcon}).addTo(map);

  // Bind a popup to the default marker
  }, 1000);
</script>

  </body>

</html>
