---
layout: default
title: The New Yorker, A Wyndham Hotel | Midtown Manhattan Hotel
excerpt: Learn more about The New Yorker, an Art Deco gem in Midtown Manhattan with a rich history and famous guests. Located next to Penn Station and Madison Square Garden.
pagename: Amenities
---
<div class="history-wrapper">
	<section class="inner-page-banner history" style="background-image: url(/images/location-banner.jpg);">
		<div class="overlay" tabindex="0">
			<h1>Services & Amenities</h1>
		</div>
	</section>

	<div class="two-col-wrapper padding80 white_bg cover about" style="background-image: url('/images/bg-tower.jpg');">
   <div class="container">
 	  <div class="row">
      <div class="col-sm-6">
  	   <div id="amenitiesCarousel" class="carousel slide no-shadow margin22" data-ride="carousel">
  	     <!-- Wrapper for slides -->
  	     <div class="carousel-inner" role="listbox">
  	       <div class="item active" role="option">
  	         <img src="/images/history/parking-thenewyorker.jpg" alt="Parking And Pets">
  	       </div>
  	     </div>
  	   </div>
      </div>

      <div class="col-sm-6">
       <div class="content-box our-art pt-30">
      		<h2 tabindex="0">PARKING</h2>
       		<p tabindex="0">ICON parking located at 1 Penn Plaza (34th street between 7th and 8th avenue). Rates are calculated per 24 hours, with no in and out privileges. On the day of departure the vehicle must be retrieved at the exact time it was dropped off to avoid incurring additional charges.<br>Valet Parking is $70.00 for a sedan and $80.00 for an SUV<br>Self-parking is $40.00 for a sedan and $50.00 for an SUV<br><br></p>

       		<h2 tabindex="0">PETS</h2>
		 		 	<p tabindex="0">The <a href="https://www.newyorkerhotel.com/" title="Pet friendly NYC hotel">New Yorker Hotel</a> is a pet friendly hotel. There is a pet cleaning fee of $50 per night per pet. No more than 2 pets are allowed in the guest room. The pet must be in a crate when the guest is not in the room.</p>
  	   </div>
      </div>

 	  </div>
   </div>
	</div>

	<div class="two-cal-wraper-full">
		<div class="col-sm-6 no-padding" style="height:700px">
			<div class="content-area">
				<div class="overlay aminites-services">
					<!-- <h2 tabindex="0">CHECK-IN/ OUT</h2>
					<p tabindex="0">Check-in time: 4pm<br>Check-out time: 12pm<br>Early check-in is based on availability for a minimal fee<br>Late check-out is based on availability for a minimal fee</p>
					<p tabindex="0">Upon check-in the hotel requires a credit card hold of $45 per night for security/ incidentals. If there are no charges billed to your room (room upgrade, restaurant, bar, pending facility fee charge and/or room damages) the hold will be released on the day of departure. For domestic credit cards it can take 5-10 business days for the hold to be released. For international credit cards it can take 15-30 business days for the hold to be released.</p> -->
				</div>
			</div>
		</div>

		<div class="col-sm-6 no-padding" style="height:700px">
			<div class="content-area" style="background-image:url(/images/about/concierge.jpg);">
	      <div class="overlay aminites-services">
          <h2 tabindex="0">CONCIERGE</h2>
          <p tabindex="0">Are you looking to reserve transportation to/ from the airport? Do you need assistance with booking tickets for a tour bus or information on how to get around the city? Our Concierge is here to assist!<br>Website: <a href="www.wnyguest.com" title="www.wnyguest.com" target="_blank">www.wnyguest.com</a><br>Phone:  <a href="tel:6462931658" title="646-293-1658">646-293-1658</a></p>
	      </div>
			</div>
		</div>
	</div>

	<div class="clearfix"></div>

</div>
{% include exclusive-offer.html %}


{% include newsletter.html %}
{% include twitter-instagram.html %}
