---
layout: default
title: The New Yorker, A Wyndham Hotel
excerpt: Learn more about The New Yorker, an Art Deco gem in Midtown Manhattan with a rich history and famous guests. Located next to Penn Station and Madison Square Garden.
pagename: about
---
<div class="history-wrapper">
<section class="inner-page-banner history">
<div class="overlay">
	<h1>Historic new yorker</h1>
    <p>Built in 1929, during the height of the Jazz Age, The New Yorker, A Wyndham Hotel has dazzled visitors with its
Art Deco décor, exceptional service, and superb location in Midtown West for generations.</p>
</div>
</section>
<div class="two-col-wrapper padding80 white_bg cover about" style="background-image: url('/images/bg-tower.jpg');">
     <div class="container">
     	  <div class="row">
     	      <div class="col-sm-6">
     	      	   <div id="amenitiesCarousel" class="carousel slide no-shadow margin22" data-ride="carousel">

     	      	     <!-- Wrapper for slides -->
     	      	     <div class="carousel-inner" role="listbox">
     	      	       <div class="item active">
     	      	         <img src="/images/history/building-thenewyorker.jpg" alt="the new yorker old photo">
     	      	       </div>
					   <!--<div class="item">
     	      	          <img src="/images/about/nyhotel-front.jpg" alt="front view">
     	      	       </div>-->

     	      	     </div>

     	      	     <!-- Left and right controls -->
     	      	     <!--<a class="left carousel-control" href="#amenitiesCarousel" role="button" data-slide="prev">
     	      	       <img src="/images/amenities/arrow-left.png">
     	      	     </a>
     	      	     <a class="right carousel-control" href="#amenitiesCarousel" role="button" data-slide="next">
     	      	       <img src="/images/amenities/arrow-right.png">
     	      	     </a>-->
     	      	   </div>
     	      </div>
     	      <div class="col-sm-6">
     	           <div class="content-box our-art">
		     	      	  <h2>Greatness from the very start</h2>
                   <p>The <a href="https://www.newyorkerhotel.com/" title="New Yorker hotel">New Yorker</a> has a history as intriguing as her intricate design. From her iconic Art Deco style to her ingenious American construction, the “Grand Old Lady” has been striking component of the New York skyline, towering above all others and illuminating it since her 1930 inception. Built with a private power plant, an underground tunnel to Penn Station and even an ice-rink, The New Yorker was the most technologically advanced of her day. At the height of her popularity she hosted influential politicians, celebrities, and sports figures, and entertained in The Terrace Room with the who’s who of the Big Band era. Today she returns to her roots, proving that she was destined for greatness from the very start. 
</p>
		     	      	   <div class="btn-holder">
		     	      	      <a class="btn-common" href="/gallery/"> View the Gallery</a>
		     	      	   </div>
     	      	   </div>
     	      </div>
     	  </div>
     </div>
</div>
<div class="two-cal-wraper-full">
	<div class="col-sm-6 no-padding">
		<div class="content-area" style="background-image:url(/images/about/events.jpg)";>
		<div class="overlay">
			<h1>world-class Events</h1>
			<h4>UNIQUE EVENT SPACES</h4>
            <a href='/events/' class='icon-button'><i class='fa fa-angle-right'></i></a>
			</div>
		</div>
	</div>
	<div class="col-sm-6 no-padding">
		<div class="content-area" style="background-image:url(/images/about/delight.jpg);">
            <div class="overlay">
                <h1>Culinary Delight</h1>
                <h4>EXPERIENCE NY CITY DINING</h4>
                <a href='/dining/' class='icon-button'><i class='fa fa-angle-right'></i></a>
            </div>
		</div>
	</div>
</div>
<div class="clearfix"></div>
<div class="two-col-wrapper cover" style="background-image: url('/images/about/landmark-bg.jpg');">
      <div class="timeline-container" id="timeline-1">
        <div class="timeline-header">
		    <h3 class="timeline-header__title">THE NEW YORKER HISTORY</h3>
		     
	   </div>
        <div class="timeline">
          <div class="timeline-item" data-text="CONSTRUCTION BEGINS">
            <div class="timeline__content"><img class="timeline__img" src="/images/history/construction-begin.jpg" alt="NYH Foundation Front" />
              <h2 class="timeline__content-title">1928</h2>
              <p class="timeline__content-desc">Construction begins on The New Yorker Hotel. Designed by Sugarman and Berger Architects, this 1.2 million-square-foot hotel would be the most state-of-the-art building in the country, as well as one of the largest.</p>
            </div>
          </div>
          <div class="timeline-item" data-text="THE NEW YORKER OPENS">
            <div class="timeline__content"><img class="timeline__img" src="/images/history/newyorker-opens.jpg" alt=" 78 feet The New Yorker" />
              <h2 class="timeline__content-title">1930</h2>
              <p class="timeline__content-desc">After just 22 months of construction, The New Yorker opens on January 2, 1930, with 2503 rooms starting at $3.50 a night. Towering 43 stories into the sky and 78 feet below the ground, The New Yorker was no small feat, much less one to be completed in under two years. </p>
            </div>
          </div>
          <div class="timeline-item" data-text="DIRECT ACCESS TO SUBWAYS & PENN STATION">
            <div class="timeline__content"><img class="timeline__img" src="/images/history/to-subway.jpg" alt="to subway and pennsylvania station" />
              <h2 class="timeline__content-title">1932</h2>
              <p class="timeline__content-desc"> The 8th Avenue subway line opens, giving The New Yorker guests direct access to Penn Station by means of the hotel’s private tunnel.</p>
            </div>
          </div>
          <div class="timeline-item" data-text="TESLA LIVE UNTILL HIS DEATH">
            <div class="timeline__content"><img class="timeline__img" src="/images/history/TESLA.jpg" alt="TESLA in NEW YORKER HOTEL" />
              <h2 class="timeline__content-title">1933</h2>
              <p class="timeline__content-desc"> Inventor of the AC power system and the Tesla power coil, Nikola Tesla moves into the New Yorker, occupying rooms 3327 and 3328. Tesla would live in The New Yorker until his death on January 7, 1943. </p>
            </div>
          </div>
          <div class="timeline-item" data-text="NBC LIVE BROADCASTING">
            <div class="timeline__content"><img class="timeline__img" src="/images/history/benny-good-man.jpg" alt="benny Goodman Show" />
              <h2 class="timeline__content-title">1939</h2>
              <p class="timeline__content-desc">NBC begins broadcasting live from The Terrace Room. Throughout the 1930s and 1940s The Terrace Room would set the stage for big name, big band acts like Benny Goodman, Woody Herman, Tommy and Jimmy Dorsey, as well as nightly ice-skating shows on the hotel’s retractable ice-skating rink. </p>
            </div>
          </div>
          <div class="timeline-item" data-text="BROOKLYN DODGERS INTO NYH">
            <div class="timeline__content"><img class="timeline__img" src="/images/history/Baseball-Giants-Bus-NYH-back.jpg"/>
              <h2 class="timeline__content-title">1941</h2>
              <p class="timeline__content-desc">The Brooklyn Dodgers, under the management of Leo Durocher, move into The New Yorker during the World Series. Dubbed the first of the “Subway Series” the Brooklyn Dodgers would go on to lose to the New York Yankees in five games. </p>
            </div>
          </div>
          <div class="timeline-item" data-text="STATE OF THE ART HOTEL">
            <div class="timeline__content"><img class="timeline__img" src="/images/history/mezz.jpg"/>
              <h2 class="timeline__content-title">1942</h2>
              <p class="timeline__content-desc">Due to its proximity to Penn Station, the New Yorker hosts numerous GIs during World War II en route to the European Theater. Being a big-city, state-of-the-art hotel, The New Yorker developed its own renown among GIs, many of which had never lived in such luxury, much less visited New York City. </p>
            </div>
          </div>
          <div class="timeline-item" data-text="THE GREATEST NUMBER OF TELEVISION SETS">
            <div class="timeline__content"><img class="timeline__img" src="/images/history/NYH2.jpg"/>
              <h2 class="timeline__content-title">1948</h2>
              <p class="timeline__content-desc">The New Yorker installs televisions in its first 100 guestrooms, making it one of the first hotels in the United States to do so. Being the only hotel in the world with these bragging rights, The New Yorker began to advertise itself as the hotel with “the greatest number of television sets under one roof.”
              </p>
            </div>
          </div>
          <div class="timeline-item" data-text="OBAMA SR. MARRIED ANN DUNHAM">
            <div class="timeline__content"><img class="timeline__img" src="/images/history/srobama.jpg"/>
              <h2 class="timeline__content-title">1959</h2>
              <p class="timeline__content-desc">Barack Obama, Sr. arrives at The New Yorker as part of the airlift initiative by then-senator John F. Kennedy. Organized with Kenyan leader Tom Myoba, the program provided scholarships and living expenses for Kenya students in the United States. It was on this trip that Obama, Sr. married Ann Dunham, the mother of President Barack Obama. </p>
            </div>
          </div>
          <div class="timeline-item" data-text="MUHAMMAD ALI RECUPERATES AT NYH">
            <div class="timeline__content"><img class="timeline__img" src="/images/history/ali.jpg"/>
              <h2 class="timeline__content-title">1971</h2>
              <p class="timeline__content-desc">Muhammad Ali recuperates at The New Yorker after his hard-fought loss to Joe Frazier in the “Fight of the Century,” which took place across the street at Madison Square Garden.</p>
            </div>
          </div>
          <div class="timeline-item" data-text="THE NEW YORKER CLOSES ITS DOORS">
            <div class="timeline__content"><img class="timeline__img" src="/images/history/lobby.jpg"/>
              <h2 class="timeline__content-title">1972</h2>
              <p class="timeline__content-desc">
                After years of New York’s inner city decline, The New Yorker closes its doors, uncertain of its future.  </i>
              </p>
            </div>
          </div>
          <div class="timeline-item" data-text="CHURCH PURCHASES">
            <div class="timeline__content"><img class="timeline__img" src="/images/history/about.jpg"/>
              <h2 class="timeline__content-title">1976-1980</h2>
              <p class="timeline__content-desc"> The Unification Church purchases The New Yorker with plans to turn it into a mission center for the Korean religious movement in the United States. In 1980 the renovations to bring the former hotel up to code and to date are finished, with almost all work done by Unification Church members. 
</p>
            </div>
          </div>
          <div class="timeline-item" data-text="THE NEW YORKER HOTEL REOPEN">
            <div class="timeline__content"><img class="timeline__img" src="/images/history/NYH3.jpg"/>
              <h2 class="timeline__content-title">1994</h2>
              <p class="timeline__content-desc">The New Yorker reopens as a hotel, under the direction of The New Yorker Hotel Management Company, with 150 initial rooms, starting at $45 a night.</p>
            </div>
          </div>
          <div class="timeline-item" data-text="THE NEW YORKER DURING 9/11">
            <div class="timeline__content"><img class="timeline__img" src="/images/history/NYH.jpg"/>
              <h2 class="timeline__content-title">2001</h2>
              <p class="timeline__content-desc">The New Yorker donates 10,000 free nights to volunteers in the aftermath of the 9/11 attacks. For this act of kindness, The New Yorker was recognized by both the New York Police Department and the Chicago Fire Department.</p>
            </div>
          </div>
          <div class="timeline-item" data-text="THE NEW YORKER RENOVATION">
            <div class="timeline__content"><img class="timeline__img" src="/images/history/renovation.jpg"/>
              <h2 class="timeline__content-title">2006</h2>
              <p class="timeline__content-desc"> The New Yorker breaks ground on one of its most substantial renovations, a three-year project aimed at restoring the building’s Art Deco heritage, as well as bringing the heating, cooling and safety systems up to date. Thanks to this renovation, guests can now enjoy The New Yorker in all its iconic splendor. </p>
            </div>
          </div>
         
          <div class="timeline-item" data-text="PRIVATE POWER PLANT">
            <div class="timeline__content"><img class="timeline__img" src="/images/history/powerplant.jpg"/>
              <h2 class="timeline__content-title">2008</h2>
              <p class="timeline__content-desc">The Institute of Electronics and Electrical Engineers names The New Yorker’s private power plant a milestone in electrical engineering. During its use from 1930-1967, the power plant was capable of providing for a small city of 25,000. </p>
            </div>
          </div>
          <div class="timeline-item" data-text="JOINS WYNDHAM HOTELS">
            <div class="timeline__content"><img class="timeline__img" src="/images/history/NYHW.jpg"/>
              <h2 class="timeline__content-title">2014</h2>
              <p class="timeline__content-desc">The New Yorker joins Wyndham Hotels. </p>
            </div>
          </div>
          <div class="timeline-item" data-text="THE NEW YORKER ADDITION">
            <div class="timeline__content"><img class="timeline__img" src="/images/history/bed.jpg"/>
              <h2 class="timeline__content-title">2014-2016</h2>
              <p class="timeline__content-desc">The New Yorker expands its hotel with 139 Executive rooms and Suites with a new look and décor while still keeping up with the art deco charm.</p>
            </div>
          </div>
           <div class="timeline-item" data-text="Hillary Clinton - DELIVERS CONCESSION SPEECH">
            <div class="timeline__content"><img class="timeline__img" src="/images/history/Hillary-Clinton.jpg"/>
              <h2 class="timeline__content-title">2016</h2>
              <p class="timeline__content-desc">2016 - Standing beside her husband and former President, Hillary Clinton delivers her concession speech in the Grand Ballroom at The New Yorker. </p>
            </div>
          </div>

        </div>
      </div>
</div>

<section class="offers-wrapper rooms-rates">
     <div class="container-fluid">
     	      <div class="col-sm-4 no-padding-margin" ng-repeat ="room in browser.roomsList | limitTo: 3">
     	                   <div class="thumb">
     	                        <div class="caption" ng-style="{'background-image': 'url([[room.photos[0].yankee_large]])'}">
    	                             <span>Tonight’s rate $ <strong><a href="{{site.data.config.reztripUrl}}search?selected_room_category=[[room.category]]&selected_room=[[room.code]]" target="_blank"><span>[[ room.todayRate ]]</span></a></strong></span>
     	                             <h3>[[room.name]]</h3>
     	                              <a ng-href="/rooms/#[[room.name | formatNameForLink]]" class="btn-common" rel="tooltip" title="View This Offer">View Room</a>
     	                              <div class="clearfix"></div>
     	                             <a ng-href="{{site.data.config.reztripUrl}}search?selected_room_category=[[room.category]]&selected_room=[[room.code]]" target="_blank"><img class="cal-icon" src="../images/about/calendar-icon.jpg" alt="Calendar" /></a>
     	                         </div>

     	                     </div>
     	      </div>

     </div>
</section>
</div>
{% include exclusive-offer.html %}


{% include newsletter.html %}
{% include twitter-instagram.html %}
