---
layout: default
title: The New Yorker, A Wyndham Hotel | Midtown Manhattan Hotel
excerpt: Experience The New Yorker Hotel, a boutique hotel in New York. Book your
  stay at our Midtown Manhattan Hotel & start your New York getaway.
map: true
published_localized:
  en: true
title_localized: The New Yorker, A Wyndham Hotel | Midtown Manhattan Hotel
layout_localized: default
label: Home
permalink_localized:
  en: "//"
meta_description_localized:
  en: Experience The New Yorker Hotel, an Iconic hotel in Midtown Manhattan. Book
    your stay at our Art Deco Masterpiece Hotel and start your New York City getaway
    today, with Free WiFi and breakfast for just $1!  We're located just half a mile
    from the Empire State Building and lots more in central Manhattan.

---
{% comment %}
<section class="home-banner custom-carousel" rt3-recent-bookings="recentBookings" ng-cloak>
  <div class="container-fluid">
    <div id="home-banner" class="carousel slide carousel-fade" data-ride="carousel">

      <div class="carousel-inner" role="listbox">
        <!-- <div class="item active" style="background-image: url(/images/banner-4.jpg); height:650px;"></div> -->
        <!-- <div class="item" style="background-image: url(/images/banner-2.jpg);"></div> -->
        {% assign slides = site.data._models.homepage_slider | sort: "sort_order" %}
        {% for slide in slides %}
          <div class="item{% if forloop.first == true %} active{% endif %}" style="background-image: url('{{ slide.image.url }}');">
            <div class="banner-overlay"></div>
            <div class="offer-details">
              <div class="offer-title"><span>{{ slide.title }}</span></div>
              {% if slide.sub-title %}<div class="offer-sub-title">{{ slide.sub-title }}</div>{% endif %}
              <a href="{{ slide.button-url }}" class="btn-common" title="{{ slide.button-text }}">{{ slide.button-text }}</a>
            </div>
          </div>
        {% endfor %}
      </div>

      <!-- <div class="banner-overlay"></div> -->

      <!-- <div class="banner-logo">
        <a href="/"><img src="/images/the-new-yorker-logo-white.svg" alt="The New Yorker"></a>
      </div> -->

      <div class="caption-price" style="display:none">
        <span class="price-holder" ng-show="recentBookings.totalBookings > 5"><span class="recentBookingNo">[[ recentBookings.totalBookings ]]</span><span class="recentBookingText">People booked our hotel in the last 2 days</span></span>
      </div>

      <div class="counter"><span class="num">1 of {% for slide in slides %}{% if forloop.first %}{{ forloop.length }}{% endif %}{% endfor %}</span></div>

      <a class="left carousel-control" href="#home-banner" role="button" data-slide="prev" title="Previous"><i class="fa fa-angle-left" aria-hidden="true"></i><span class="sr-only">Previous</span></a>
      <a class="right carousel-control" href="#home-banner" role="button" data-slide="next" title="Next"><i class="fa fa-angle-right" aria-hidden="true"></i><span class="sr-only">Next</span></a>

    </div>
  </div>
</section>
{% endcomment %}
<!--Special Banner Bar
<section class="special-banner-bar">
  <h3>EXCLUSIVE HOTEL OFFER - BREAKFAST FOR $1
      
     </h3>
  <a href="https://newyorkerhotel.reztrip.com/ext/promoRate?property=677&mode=b&pm=true&sr=69511&vr=3" title="Book Offer" target="_blank" class="btn-common">BOOK & SAVE &nbsp;</a>
  


  <!--<ul class="countdown">
      <li>
          <span class="days">00</span>
          <p class="days_ref">hours</p>
      </li>
      <li class="seperator">.</li>
      <li>
          <span class="hours">00</span>
          <p class="hours_ref">hours</p>
      </li>
      <li class="seperator">:</li>
      <li>
          <span class="minutes">00</span>
          <p class="minutes_ref">minutes</p>
      </li>
      <li class="seperator">:</li>
      <li>
          <span class="seconds">00</span>
          <p class="seconds_ref">seconds</p>
      </li>
  </ul>-->
</section>

<section class="home-banner custom-carousel" rt3-recent-bookings="recentBookings" ng-cloak>
  <div class="container-fluid">
    <div id="home-banner" class="carousel slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner">
          <div class="item active" style="background-image: url('//cdn.traveltripper.io/site-assets/426_558_9658/media/2017-11-30-013515/2-3-nights-offer.jpg');">
            <div class="banner-overlay"></div>
            <div class="offer-details">
              <div class="offer-title"><span>STAY 2/3 NIGHTS, SAVE 15%</span></div>
              <a href="/offer-details/#stay-2-or-3-nights-save-15percent" class="btn-common" title="Book This Offer">Book This Offer</a></div>
    <div class="caption-price" style="display:none">
      <span class="price-holder" ng-show="recentBookings.totalBookings > 5"><span class="recentBookingNo">[[ recentBookings.totalBookings ]]</span><span class="recentBookingText">People booked our hotel in the last 2 days</span></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--
<section class="price-wrap1 container-fluid" ng-show="browser.isRate" style="display:none">
  <div class="best-rate-ota" ng-show="browser.otaRates.brgFound">
    <div class="boxes">

      <div class="tonight-rate ">
        <p>Best Price Available</p>
        <h4>Tonight's Rate <a href="https://newyorkerhotel.reztrip.com/search?" target="_blank"  class="homeTonightRate" title="[[ browser.otaRates.reztripRate ]]"><span class="price">[[ browser.otaRates.reztripRate ]]</span></a></h4>
      </div>

      <div class="ota-list">
        <ul>
          <li ng-repeat="(key, value) in browser.otaRates.brg">[[ key ]] <span>$[[ value ]]</span></li>
        </ul>
      </div>

    </div>
  </div>
</section>
//-->

<section class="intro-wrap">
  <div class="container-fluid">
    <div class="intro">
      <div class="col-sm-5 no-padding">
        <div class="-left">
          <div class="img-holder">
            <img src="/images/welcome-2.jpg" alt="welcome">
            <a href="javascript:void(0)" id="link" title="Play">
              <img src="/images/play-icon.svg" class="play-icon" alt="Play">
            </a>
          </div>
          <div class="img-holder">
            <img src="/images/welcome-1.jpg" alt="Welcome">
          </div>
        </div>
      </div>
      <div class="col-sm-7 no-padding">
        <div class="-right">
          <h1>welcome to the<br>New yorker Hotel</h1>
          <p>The <a href="https://www.newyorkerhotel.com/" title="New Yorker hotel">New Yorker Hotel</a> has a history as intriguing as her intricate design. From her iconic Art Deco style to her ingenious American construction, the “Grand Old Lady” has been striking component of the New York skyline, towering above all others and illuminating it since her 1930 inception. Built with a private power plant, an underground tunnel to Penn Station and even an ice-rink, The New Yorker Hotel was the most technologically advanced of her day. At the height of her popularity she hosted influential politicians, celebrities, and sports figures, and entertained in The Terrace Room with the who’s who of the Big Band era. Today she returns to her roots, proving that she was destined for greatness from the very start.</p>
          <div class="btn-holder"><a href="/history/" class="btn-common" title="History">Discover this historical icon</a></div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="modal fade full-screen" id="welcomeVideo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <div class="modal-body">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" frameborder="0" allowfullscreen="" title="model"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>

{% include home-rooms.html %}
{% include cta-one.html %}
{% include world-class.html %}
{% include home-offers.html %}
{% include home-map.html %}
{% include attractions-events.html %}
{% include blog-cta.html %}
{% include newsletter.html %}
{% include twitter-instagram.html %}
