---
layout: default
title: The New Yorker Meeting Rooms | Event Space in Manhattan
excerpt: The New Yorker offers 23,000 sq ft of flexible event space in Manhattan. Check out our Meeting Rooms and let us craft your upcoming meeting or gathering.
map: true
pagename: last-minute-nyc-deals
permalink_localized:
  en: "/offers/last-minute-nyc-deals/"
---

<section class="inner-page-banner dining">
  <div class="overlay">
    {% regionblock deals_heading1, type:header %}
      <h1>Last Minute NYC Deals</h1>
    {% endregionblock %}
    {% regionblock deals_content1, type:text %}
      <p>The restaurant and lounge offerings at The New Yorker Hotel are guaranteed to please even the most discerning palates. Whether you’re looking to satisfy a late-night craving at Tick Tock Diner, indulge in some hearty Tuscan cuisine, or sip a cocktail with friends, we’ve got you covered.</p>
    {% endregionblock %}
  </div>
</section>

<section class="intro-wrap home-rooms custom-carousel dining">
  <div class="container-fluid">
    <div class="intro">
      <div class="col-sm-7 no-padding">
        <div class="map-inner spl-offer" id="map"></div>
      </div>
      <div class="col-sm-5 no-padding">
        <div class="-right dinerpad">
          {% regionblock deals_heading2, type:header %}
            <h2>Tick Tock Diner</h2>
          {% endregionblock %}
          {% regionblock deals_content2, type:text %}
            <p>This 24-hour diner is a New York institution, dishing out delicious American-style comfort food – everything from juicy burgers to crisp, fresh salads and an all-day breakfast menu. We’re particularly famous for our sandwiches – treat yourself to a Monte Christo, or a Triple Decker Club.</p>
          {% endregionblock %}
          {% regionblock deals_button1, type:text %}
            <a href="/pdf/tick-tock-diner.pdf" target="_blank" class="btn-common mtop">Tick Tock Diner</a>
          {% endregionblock %}
          {% regionblock deals_heading3, type:header %}
            <h2>In-Room Dining</h2>
          {% endregionblock %}
          {% regionblock deals_content3, type:text %}
            <p>Prefer to dine in the privacy and comfort of your hotel room or suite? No problem. Just give us a call and we’ll have something sent up.</p>
          {% endregionblock %}
          {% regionblock deals_button2, type:text %}
            <a href="/pdf/tick-tock-diner.pdf" target="_blank" class="btn-common mtop">Room Service</a>
          {% endregionblock %}
          <div class="hours nyc-details">
            {% regionblock deals_heading4, type:header %}
              <h5>Opening hours</h5>
            {% endregionblock %}
            <div class="aminities">
              {% regionblock deals_content4, type:text %}
              <ul>
                <li>Free WiFi</li>
                <li>Parking available</li>
                <li>Family rooms</li>
                <li>Non-smoking rooms</li>
                <li>Fitness centre</li>
                <li>Pets allowed</li>
                <li>Breakfast available</li>
                <li>Room service</li>
                <li>Bar & Restaurant</li>
                <li>Air conditioning</li>
              </ul>
              {% endregionblock %}
            </div>
            {% regionblock deals_content5, type:text %}
              <p><strong>T</strong> <a href="tel:212-268-8444">(212) 268-8444</a></p>
            {% endregionblock %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="discover dining">
  <div class="two-col-wrapper padding80 white_bg cover" style="background-image: url('/images/location/03.jpg');">
    <div class="container intro">
      <div class="row no-gutters">
        <div class="col-sm-6">
          <div class="content">
            {% regionblock deals_heading5, type:header %}
            <h2>Trattoria<br>Bianca</h2>
            {% endregionblock %}
            {% regionblock deals_content6, type:text %}
            <p>Open daily for lunch and dinner, this sleek Italian restaurant features Art Deco design and offers an oyster bar, our famous gorgonzola garlic bread, and delicious dishes including Chianti- braised short rib and seafood fritto misto. Wash it all down with a glass of wine from our extensive collection.</p>
            {% endregionblock %}
            {% regionblock deals_button3, type:text %}
            <a href="/pdf/trattoria-bianca-dinner.pdf" target="_blank" class="btn-common mtop">Trattoria Bianca</a>
            {% endregionblock %}
          </div>
        </div>
        <div class="col-sm-6">
          <div class="img">
            {% regionblock deals_image1, type:image %}
            <img src="/images/dining/02.jpg" alt="" class="img-responsive" />
            {% endregionblock %}
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row no-gutters m-t--150 amenitiesslider">
        <div class="col-sm-6 no-gutters">
          <div id="amenitiesCarousel" class="carousel slide no-shadow margin22" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <img src="/images/gallery/large/8.jpg" alt="Empire State Building hotel package">
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="content-box">
            <div class="hours">
              {% regionblock deals_heading6, type:header %}
              <h5>Opening hours</h5>
              {% endregionblock %}
              {% regionblock deals_content7, type:text %}
              <p>
                Lunch and Dinner Only<br> Daily at 11:30 am and close at 10pm<br> 7 days a week, 365 days a year
              </p>
              {% endregionblock %}
            </div>
            <div class="btn-holder">
              {% regionblock deals_button4, type:text %}
              <a class="btn-common" href="https://www.opentable.com/trattoria-bianca" target="_blank">Make A Reservation</a>
              {% endregionblock %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% include home-offers.html %}
{% include twitter-instagram.html %}
