<section class="cta-one with-bg" style="background-image:url(/images/home-cta.jpg)">
	<div class="container">
    	<div class="banner-overlay"></div>
        <div class="cta-content">
            <h4 tabindex="0"><span>Inspiring & World-class events</span></h4>
            <h3 tabindex="0"><span>A unique event space</span></h3>
            <div class="btn-holder"><a href="/events/" class="btn-common" title="Discover events & meetings">Discover events & meetings</a></div>
        </div>
    </div>
</section>
