<section class="home-map exclusive-trans">
	<div class="container-fluid two-col-wrap">
    	<div class="row no-gutters">
        	<div class="col-md-6 img v-center">
            	<div class="ex-trans"></div>
       	    	<!--<img src="../images/home-map.jpg" alt="Map"/> -->
            </div>
            <div class="col-md-6 v-center">
            	<div class="content">
                    <h2 class="p-t-60">Exclusive Transportation</h2>
                    <p class="">8th Avenue Guest Service is the exclusive transportation provider of The New Yorker Hotel. Learn more about booking your private car service, airport shuttle bus or NYC bus tour.</p>
                    <div class="btn-holder">
                        <a class="btn-common" href="http://www.wnyguest.com" target="_blank">LEARN MORE</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>