<footer class="footer-wrap">
  <div class="container no-padding">
  		<div class="col-md-3 col-sm-6 no-padding">
        	<div class="footer-logo"><a href="/" title="Newyorker"><img src="/images/the-new-yorker-logo-black.svg" alt="The New Yorker"/></a></div>
        </div>
        <div class="col-md-3 col-sm-6 no-padding">
        	<div class="address">
            	<h3>Contact</h3>
                <p>
                	<a href="https://goo.gl/maps/m7a6UQKkgcH2" rel="nofollow" target="_blank" title="Map">
                        <span rel="nofollow">481 8th Avenue & 34th Street</span>
                        <span rel="nofollow">New York, NY 10001</span>
                        <span rel="nofollow">(212) 971 0101</span>
                    </a>
                 </p>
                <p>
                	<span><a href="mailto:reservations@nyhotel.com" rel="nofollow" title="reservations@nyhotel.com">reservations@nyhotel.com</a></span>
                    <span><a href="mailto:guestservices@nyhotel.com" rel="nofollow" title="guestservices@nyhotel.com">guestservices@nyhotel.com</a></span>
                </p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 no-padding">
        	<div class="links extra-padding">
            	<h3>Links</h3>
            	<ul>
                    <li><a href="/about/" title="About">About</a></li>
                    <li><a href="/rooms/" title="Rooms">Rooms</a></li>
                    <li><a href="/offers/" title="Offers">Offers</a></li>
                    <li><a href="/location/" title="Location">Location</a></li>
                    <li><a href="/dining/" title="Dining">Dining</a></li>
                    <li><a href="/gallery/" title="Gallery">Gallery</a></li>
                    <li><a href="mailto:hr@nyhotel.com" rel="nofollow" title="Careers">Careers</a></li>
                    <li><a href="/contact/" title="Contact">Contact</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 no-padding">
        	<div class="social extra-padding">
            	<h3>Follow Us</h3>
            	<a href="https://www.facebook.com/newyorkerhotel" rel="nofollow" target="_blank" title="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="https://twitter.com/WyndhamNYH" rel="nofollow" target="_blank" title="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="https://www.instagram.com/newyorkerhotel/" rel="nofollow" target="_blank" title="instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href="https://www.youtube.com/channel/UCXDFDBPGBkC07HOxL7ISQLQ" rel="nofollow" target="_blank" title="youtube"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
            </div>
        </div>
  </div>
</footer>
