<nav class="header-wrapper">
  <div class="container-fluid">
    <div class="logo"> <a href="/"><img src="/images/the-new-yorker-logo.svg" alt="The New Yorker"/></a> </div>
    <div class="main-menu">
      <ul class="nav">
      {% for items in site.data.navigation.mainnav %}
     	<li {% if items.submenu == "true" %} class="dropdown" {% endif %}><a href="{{ items.url }}" {% if items.name == page.pagename %} class="active" {% endif %} {% if items.submenu == "true" %} data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" {% endif %}>{{ items.title }}</a>
        {% if items.submenu == "true" %}
        <ul class="dropdown-menu">
            {% for dropdown in items.subitems %}
                <li><a href="{{ dropdown.url }}">{{ dropdown.title }}</a></li>
            {% endfor %}
        </ul>
        {% endif %} 
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="menu-btn"></div>
    <div class="booknow langpick">  
      <select class="selectpicker" data-width="fit" onchange="location = this.value;">
        <option value="/" data-content='<span class="flag-icon flag-icon-us"></span> EN'></option>
        <option value="/fr/" {% if page.url contains '/fr/'%} selected="selected"{% endif %}  data-content='<span class="flag-icon flag-icon-fr"></span> FR'></option>
        <option value="/es/" {% if page.url contains '/es/'%} selected="selected"{% endif %} data-content='<span class="flag-icon flag-icon-es"></span> ES'></option>
        <option value="/it/" {% if page.url contains '/it/'%} selected="selected"{% endif %} data-content='<span class="flag-icon flag-icon-it"></span> IT'></option>
        <option value="/de/" {% if page.url contains '/de/'%} selected="selected"{% endif %} data-content='<span class="flag-icon flag-icon-de"></span> DE'></option>
        <option value="/zh/" {% if page.url contains '/zh/'%} selected="selected"{% endif %} data-content='<span class="flag-icon flag-icon-zh"></span> ZH'></option>
      </select>
    <!-- <select onchange="location = this.value;">
      <option value="/">EN</option>
      <option value="/fr/" {% if page.url contains '/fr/'%} selected="selected"{% endif %}>FR</option>
      <option value="/es/"  {% if page.url contains '/es/'%} selected="selected"{% endif %}>ES</option>
      <option value="/it/"  {% if page.url contains '/it/'%} selected="selected"{% endif %}>IT</option>
      <option value="/de/"  {% if page.url contains '/de/'%} selected="selected"{% endif %}>DE</option>
    </select> -->
    <a href="javascript:void(0);" show-booking-widget><span class="cal"><img src="/images/calendar.svg" alt=""/></span>Book Now</a>
    </div>
  </div>
</nav>
