<section class="home-map">
	<div class="container-fluid two-col-wrap">
    	<div class="row no-gutters">
        	<div class="col-md-6 img v-center">
            	<div class="map-inner" id="map"></div>
       	    	<!--<img src="../images/home-map.jpg" alt="Map"/> -->
            </div>
            <div class="col-md-6 v-center">
            	<div class="content">
                    <h2>An iconic<br>neighborhood</h2>
                    <p>New York is one of the world’s most famous cities – full of countless things to see, do and experience. The New Yorker, A Wyndham Hotel’s picture perfect location in Midtown West, just moments from the Jacob Javits Center and Penn Station, puts some of the city’s most remarkable attractions right at your doorstep.</p>
                    <p class="p-t-60"><span>The new yorkeR</span>  -  481 8th Avenue & 34th Street, New York, NY 10001</p>
                    <div class="btn-holder">
                    	<a class="btn-common" href="https://www.google.com/maps/place/The+New+Yorker+A+Wyndham+Hotel/@40.752722,-73.9957992,17z/data=!3m1!4b1!4m5!3m4!1s0x89c259ade9128e5f:0x2276df1fe19f85bc!8m2!3d40.752722!4d-73.9936052" target="_blank">Get Hotel Directions</a>
                    </div>
                    <p class="p-t-40">We offer car service, shuttle bus service, and bus tours</p>
                    <div class="btn-holder p-t-20">
                        <a class="btn-common" href="http://www.wnyguest.com" target="_blank">LEARN MORE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<h1 class="mega-title">Discover the Big Apple</h1>
<section class="a-e">
	<div class="container">
    	<div class="row no-gutters">
        	<div class="col-md-12">
            	<h4>Attractions</h4>
                <div class="owl-carousel attractions-carousel">
                      <div class="item">
                        <img src="../images/home-owl/01.jpg" alt=""/> 
                        <h5>Empire State Building</h5>
                        <!--<a href="#">Read More <i class="fa fa-plus"></i></a>-->
                      </div>
                      <div class="item">
                        <img src="../images/home-owl/02.jpg" alt=""/> 
                        <h5>Madison Square Garden</h5>
                        <!--<a href="#">Read More <i class="fa fa-plus"></i></a>-->
                      </div>
                      <div class="item">
                        <img src="../images/home-owl/03.jpg" alt=""/> 
                        <h5>Times Square</h5>
                        <!--<a href="#">Read More <i class="fa fa-plus"></i></a>-->
                      </div>
                      <!--<div class="item">
                        <img src="../images/home-owl/04.jpg" alt=""/> 
                        <h5>Other Attraction</h5>
                        <a href="#">Read More <i class="fa fa-plus"></i></a>
                      </div>-->
                </div>
              <!--<div class="btn-holder">
                  <a class="btn-common btn-white" href="#">Discover More</a>
              </div>-->
            </div>
            <!--<div class="col-md-4">
            	<h4>Events</h4>
                <ul>
                	<li>
                    	<h6>11.09.2016</h6>
                        <h5>Event One / Event Venue</h5>
                        <a href="#">Read More <i class="fa fa-plus"></i></a>
                    </li>
                    <li>
                    	<h6>11.10.2016</h6>
                        <h5>Event One / Event Venue</h5>
                        <a href="#">Read More <i class="fa fa-plus"></i></a>
                    </li>
                    <li>
                    	<h6>11.11.2016</h6>
                        <h5>Event One / Event Venue</h5>
                        <a href="#">Read More <i class="fa fa-plus"></i></a>
                    </li>
                    <li>
                    	<h6>11.12.2016</h6>
                        <h5>Event One / Event Venue</h5>
                        <a href="#">Read More <i class="fa fa-plus"></i></a>
                    </li>
                </ul>
                <div class="btn-holder">
                    <a class="btn-common btn-white" href="#">Discover More</a>
                </div>
            </div>-->
        </div>
    </div>
</section>
