<section class="offers-wrapper home-page-offers">
     <div class="container-fluid" rt3-special-rates= "offers">
     	      <div class="col-sm-4 no-padding-margin" ng-repeat="offer in offers.special_rates | limitTo: 3">
     	                   <div class="thumb">
     	                        <img ng-src="[[offer.lead_photo_url.yankee_large]]" alt="...">
     	                         <div class="caption">
     	                             <h3 ng-bind-html="offer.rate_plan_name | renderHTMLCorrectly"></h3>

     	                             <a ng-href="/offer-details/#[[offer.rate_plan_name | formatNameForLink ]]" class="btn-common btn-white" rel="tooltip" title="View This Offer">View Offer</a>
     	                         </div>

     	                     </div>
     	      </div>

     </div>
</section>
