<script>
function initMap() {
        var myLatLng = {lat: 40.752941, lng: -73.993605};

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: new google.maps.LatLng(40.752941, -73.993605),
		  scrollwheel: false,
		  disableDefaultUI: true
        });
		
		

		var iconBase = '/images/'; 

		
        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          title: 'The New Yorker',
		  icon: iconBase + 'loc.png'
        });
		
      }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCPY6fPgnCMXn36KJoau9rPMTNkxIHkyYA&callback=initMap"></script>