{% if page.url contains 'location' %}
  {% assign map = true %}
{% elsif page.url contains 'hotels-near-me' %}
  {% assign map = true %}
{% elsif page.url contains 'last-minute-nyc-deals' %}
  {% assign map = true %}
{% elsif page.url == '/' %}
  {% assign map = true %}
{% endif %}

{% if map == true %}
  <!-- Leaflet -->
  <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
  integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
  crossorigin=""></script>

  <!-- Leaflet Settings -->
  <script>
  setTimeout(function(){
    // Create map object, assign it to the 'map' div, give initial latitude, longitude and zoom values.
    var map = L.map('map', {scrollWheelZoom:false}).setView([40.752941, -73.993605], 15);

    // Add base map tiles from Carto CDN - Voyager Theme
    L.tileLayer('https://{s}.basemaps.cartocdn.com/rastertiles/light_nolabels/{z}/{x}/{y}.png', {
      attribution:'&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>, &copy; <a href="https://carto.com/attribution/">CARTO</a>',
      maxZoom: 20,
      minZoom: 0,
    }).addTo(map);

    // Create a custom marker icon.
    var hotelIcon = L.icon({
      iconUrl: '/assets/images/leaflet/loc.png',
      iconSize: [25, 36],
    });

    // Create a default marker object, pass custom icon as an option, add it to the map.
    var marker = L.marker([40.752941, -73.993605], {icon:hotelIcon}).addTo(map);

    // Bind a popup to the default marker.
    }, 1000);
  </script>
{% endif %}
