<section id="mobileRedirect" class="mobile-redirect-popover modal" data-backdrop="static">
    <div class="wrapper" >
        <h5>Welcome to</h5>
        <img src="/images/the-new-yorker-logo.svg" alt="The Newyorker Hotel">
        <h4 ng-show="browser.toNightsRate">Tonight's Rate: <span>[[browser.toNightsRate]]</span></h4>
        <a class="btn btn-lg btn-primary button-home btn-inverse" href="https://newyorkerhotel.reztrip.com/mobile/">Book A Room Now</a>
        <a class="btn btn-lg btn-primary button-home" href="javascript:void(0);" data-dismiss="modal">Enter Hotel Website</a>
    </div>
    <div class="map-inner" id="map"></div>
</section>
