<section class="newsletter-signup">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-7">
                <h3>Sign-up for the latest updates</h3>
            </div>
            <div class="col-md-5">
                <form action="https://web2.cendynhub.com/FormPost/FormPost.ashx" method="post" name="form_6C05838C-2665-49DE-832D-D05694399AFB" id="6C05838C-2665-49DE-832D-D05694399AFB" accept-charset="utf-8">
                    <input type="hidden" name="formId" value="6C05838C-2665-49DE-832D-D05694399AFB" title="hidden" aria-label="hidden" />
                    <div class="input-group">
                        <input type="email" class="form-control validate[required]" placeholder="Enter Your Email Address" id="input_3" name="emailAddress" placeholder="YOUR EMAIL" title="YOUR EMAIL" aria-label="YOUR EMAIL" required="required">
                        <span class="input-group-btn">
                    <button class="btn btn-default" id="input_2" type="submit" title="Submit" aria-label="Submit" ><img src="/images/arrow-right.png" width="26" height="21" alt="Submit"/></button>
                  </span>
                    </div>
                    <!-- /input-group -->
                </form>
            </div>
        </div>
    </div>
</section>
