<script>
  function getIp(data) {
    sessionStorage.ip_add = data.ip;
  }
</script>
<script src="https://api.ipify.org?format=jsonp&callback=getIp"></script>

<script src="/js/jquery-1.11.1.js"></script>
<!-- <script src="/js/jquery-3.1.1.min.js"></script> -->
<script src="/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.js"></script>

<script src="/js/lightgallery.js"></script>
<script src="/js/lg-fullscreen.js"></script>
<script src="/js/lg-thumbnail.js"></script>
<script src="/js/jquery.mousewheel.min.js"></script>
<script src="/js/owl.carousel.js"></script>
<script src="/js/rez-gallery.js"></script>

<script src="/js/angular.min.js"></script>
<script src="/js/jquery-ui.min.js"></script>
<script src="/js/ui-date.js"></script>
<script src="/js/lunr.js"></script>
<script src="/js/search.js"></script>
<script src="/js/scripts.js"></script>
<script src="/js/utm-tracking.js"></script>
<script src="/js/rt3api.js"></script>
<script src="/js/rez-trip.js"></script>
<script src="/js/rt3-services.js"></script>
<script src="/js/rt3-directives.js"></script>
<script src="/js/rt3-filters.js"></script>
<script src="http://localhost:3000/rt3api.min.js"></script>
<!-- <script src="https://plugins.traveltripper.io/v3/rt3api.js"></script> //-->
<script src="https://plugins.traveltripper.io/v2/jquery.ttweb.js"></script>
<script src="/js/js.cookie-2.2.0.min.js"></script>


<style>
  .ttweb-gradient-modal .cp-header {
    font-size: 16px;
    width: 70%;
  }
  .ttweb-gradient-modal .cp-subheader {
    font-size: 9px;
  }
  .ttweb-gradient-modal .cp-lowestrate {
    float: right;
    width: 30%;
  }
  .ttweb-resume-search-widget__title {
    display: none;
  }
  .ttweb-resume-search-widget__rate {
    display: none;
  }
</style>

<script>
  
  var showCPDelay = 2000;
  var sessionLength = 120000; //TTWeb.UserData.defaultSessionLength
  
  TTWeb.Config.configure({
    hotelId: 'NYCNYR', // or whatever your values are,
    portalId: 'newyorkerhotel',
    defaultTimezone: 'America/New_York', // timezone of site
    ipAddress: sessionStorage.ip_add,
    defaultCurrency: 'USD',
    //rootPath: 'https://rt3api-prd-ase.ttaws.com' // include this line only if site is on asian server i.e elite and cristalhospitality
  });

  $("[show-booking-widget]").bookingWidget({
    showRateCalendar: true,
    showOfferCode: true
  });
  
  var bookingWidget = new TTWeb.Booking({
    showRateCalendar: true,
    showOfferCode: true      
  });

  function showBookingWidget() {
    bookingWidget.showWidget();
  }
  
  var hcName = "HC";
  var cpName = "CP"
  var assignment = TTWeb.AbTest.assignUser("CPvsHC", cpName, hcName)
  if (assignment == hcName) {
    // Set up HC
    var script = document.createElement('script');
    script.src = "//cdn.hotelchamp.com/app/launcher/0uGxjVM4pX.js";
    document.head.appendChild(script); 
  } else {
    // Launch CP
    // 1. set up content
    var formatter = new Intl.NumberFormat('en-US', {
      minimumFractionDigits: 0,
      maximumFractionDigits: 0
    })
    var liveRate = new TTWeb.LiveRate();
    
    
    
    var resumeSearchHTML = new TTWeb.ResumeSearch();
    //if (UserData.)
    
    var bookingSearch = new TTWeb.BookingSearch(TTWeb.UserData.globalSearch)
    
    var rateCompare = new TTWeb.RateCompare();
    var otaTablePromise = rateCompare.getOTATable();
    var resumeSearchPromise = resumeSearchHTML.getSearchRatesHtml();
    var liveRatePromise = liveRate.getCrossOutRate(bookingSearch.reztripParams)
    Promise.all([otaTablePromise, resumeSearchPromise, liveRatePromise]).then(function(vals) {
      
      var lrResp = vals[2];
      var ratesHtml = "";
      var lowestRateRoom = lrResp.lowestRateRoom;
      var lowestRateRoom = lrResp.lowestRateRoom;

      if (lowestRateRoom && lowestRateRoom.rateFound) {
        ratesHtml = "<span class=\"ttweb-resume-search-widget__lowestcost__crossout\">" + TTWeb.Config.defaultCurrencySymbol + formatter.format( lowestRateRoom.originalRate) + "</span>" + "<span class=\"ttweb-resume-search-widget__lowestcost__actual\">" + TTWeb.Config.defaultCurrencySymbol + formatter.format(lowestRateRoom.discountedRate) + "</span>";
      }
      
      var header = "<div><div class='cp-lowestrate'>"+ratesHtml+"</div><div class='cp-header'>Lowest Price, Guaranteed</div><div class='cp-subheader'>Sample rate for tonight</div></div>";
      
      
      var button ='<a href="'+bookingSearch.reztripBookingUrl+'">Book Now</a>'
      if (TTWeb.UserData.globalSearchEmpty) {
        button ='<a onClick="showBookingWidget()">Book Now</a>'
      }
      
      var overlay = new TTWeb.GradientModalPopup({
        header: header,
        body: vals[0],
        footer: vals[1] + button
      });
      window.overlay = overlay;
      overlay.onHide(function() {
        TTWeb.UserData.saveInStorage("ClosedCP", true, sessionLength);
      })
      overlay.onShow(function() {
        TTWeb.UserData.saveInStorage("ShownCP", true, sessionLength);
      })
      setTimeout(() => {
        // && !TTWeb.UserData.fetchFromStorage("ShownCP")
        if (!TTWeb.UserData.fetchFromStorage("ClosedCP")  && !overlay.isShown()) {
          overlay.show();
        }
      }, showCPDelay)
    });
  }  
</script>


{% if page.url == '/cyber-monday/' or page.url == '/pre-cyber-monday/' %}
  <script src="/js/moment.min.js"></script>
  <script src="/js/moment-timezone-with-data.min.js"></script>
  <script src="/js/jquery.countdown.min.js"></script>
  <script src="/js/flipclock.min.js"></script>
  <script src="/js/jquery.fitvids.js"></script>
  <script>
    $(document).ready(function() {
      //* Add fitVids to the special offer section below header.
      $("#video").fitVids();
    });
  </script>
{% endif %}


{% if page.url == '/cyber-monday/' %}
  <script>
    $(document).ready(function() {

      var clock;

      //* Set the current date
      var currentDate = new Date();

      //* Set the target date
      var targetDate = moment.tz("2017-11-28 23:59", "America/New_York");

      //* Calculate the difference, in seconds, between the two dates
      var timer = targetDate / 1000 - currentDate.getTime() / 1000;

      //* Setup FlipClock
      clock = $('#flip-clock').FlipClock(timer, {
        clockFace: 'DailyCounter',
        countdown: true
      });

      //* Add a non-flipy time on mobile
      $('#mobile-clock').countdown(targetDate.toDate(), function(event) {
        var daysClock = '<div class="col-xs-4"><p>Days</p><p>' + event.strftime('%D') + '</p></div>';
        var hoursClock = '<div class="col-xs-4"><p>Hours</p><p>' + event.strftime('%H') + '</p></div>';
        var minutesClock = '<div class="col-xs-4"><p>Minutes</p><p>' + event.strftime('%M') + '</p></div>';
          $(this).html( daysClock + hoursClock + minutesClock );
      });

    });
  </script>
{% endif %}


{% if page.url == '/pre-cyber-monday/' %}
  <script>
    $(document).ready(function() {

      var clock;

      //* Set the current date
      var currentDate = new Date();

      //* Set the target date
      var targetDate = moment.tz("2017-11-19 12:00", "America/New_York");

      //* Calculate the difference, in seconds, between the two dates
      var timer = targetDate / 1000 - currentDate.getTime() / 1000;

      //* Setup FlipClock
      clock = $('#flip-clock').FlipClock(timer, {
        clockFace: 'DailyCounter',
        countdown: true
      });

      //* Add a non-flipy time on mobile
      $('#mobile-clock').countdown(targetDate.toDate(), function(event) {
        var daysClock = '<div class="col-xs-4"><p>Days</p><p>' + event.strftime('%D') + '</p></div>';
        var hoursClock = '<div class="col-xs-4"><p>Hours</p><p>' + event.strftime('%H') + '</p></div>';
        var minutesClock = '<div class="col-xs-4"><p>Minutes</p><p>' + event.strftime('%M') + '</p></div>';
          $(this).html( daysClock + hoursClock + minutesClock );
      });

    });
  </script>
{% endif %}