<script>
function getIp(data){
   sessionStorage.ip_add =  data.ip;
}
</script>
<script src="https://api.ipify.org?format=jsonp&callback=getIp"></script>

<script src="/js/jquery-1.11.1.js"></script>

<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>-->

<script src="/js/bootstrap.min.js"></script>

<script src="/js/lightgallery.js"></script>
<script src="/js/lg-fullscreen.js"></script>
<script src="/js/lg-thumbnail.js"></script>
<script src="/js/jquery.mousewheel.min.js"></script>
<script src="/js/owl.carousel.js"></script>

<script src="/js/angular.min.js"></script>
<script src="/js/jquery-ui.min.js"></script>
<!-- <script src="/js/update-meta.min.js"></script>  -->
<script src="/js/rt3api.js"></script>
<script src="/js/ui-date.js"></script>
<script src="/js/rez-trip.js"></script>
<script src="/js/rt3-services.js"></script>
<script src="/js/rt3-directives.js"></script>
<script src="/js/rt3-filters.js"></script>
<script src="/js/scripts.js"></script>
<script src="/js/utm-tracking.js"></script>
<script src="https://plugins.traveltripper.io/v2/rt3api.js"></script>
  <script src="https://plugins.traveltripper.io/v2/jquery.ttweb.js"></script>

  <script>

    TTWeb.Config.configure({
      hotelId: 'NYCNYR', //'orwhatever your values are',
      portalId: 'newyorkerhotel',
      defaultTimezone: 'America/New_York', // timezone of site
      ipAddress: sessionStorage.ip_add,
      defaultCurrency: 'USD',
      //rootPath: 'https://rt3api-prd-ase.ttaws.com' // include this line only if site is on asian server i.e elite and cristalhospitality
    });


    $("[show-booking-widget]").bookingWidget({
         showRateCalendar: true,
         showOfferCode: true
    });
  </script>
