<!-- begin SEO -->
{% if site.url %}
  {% assign seo_url = site.url | append: site.baseurl %}
{% endif %}

{% if page.title %}
  {% assign seo_title = page.title | markdownify | strip_html | strip_newlines | normalize_whitespace | escape_once %}
{% endif %}

{% if seo_title %}
  {% assign seo_title = seo_title | append: " " | append: site.title_separator | append: " " | append: site.title %}
{% endif %}

{% if site.url %}
  {% assign canonical_url = page.url | replace: "index.html", "" | prepend: site.url %}
{% endif %}

<title>{% if page.seo_title %}{{ page.seo_title }}{% elsif page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

{% if page.seo_description %}
  {% assign seo_description = page.seo_description | default: page.excerpt | default: site.description %}
{% else %}
  {% assign seo_description = page.meta_description | default: page.excerpt | default: site.description %}
{% endif %}

{% if seo_description %}
  {% assign seo_description = seo_description | markdownify | strip_html | strip_newlines | normalize_whitespace | escape_once %}
{% endif %}

<meta name="description" content="{{ seo_description }}">
<meta property="og:description" content="{{ seo_description }}">

{% assign seo_author = page.author | default: page.author[0] | default: site.data.authors.primary.name %}
{% if seo_author %}
  {% if seo_author.twitter %}
    {% assign seo_author_twitter = seo_author.twitter %}
  {% else %}
    {% if site.data.authors.primary and site.data.authors.primary[seo_author] %}
      {% assign seo_author_twitter = site.data.authors.primary[seo_author].twitter  %}
    {% else %}
      {% assign seo_author_twitter = seo_author  %}
    {% endif %}
  {% endif %}
  {% assign seo_author_twitter = seo_author_twitter | replace: "@", "" %}
{% endif %}

<meta name="author" content="{{ seo_author }}">

<meta property="og:locale" content="{{ site.locale | replace: "-", "_" | default: "en_US" }}">
<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:title" content="{{ page.title | default: site.title | markdownify | strip_html | strip_newlines | escape_once }}">

{% if seo_url %}
  <link rel="canonical" href="{{ page.url | prepend: seo_url | replace: "/index.html", "/" }}">
  <meta property="og:url" content="{{ page.url | prepend: seo_url | replace: "/index.html", "/" }}">
{% endif %}

{% if site.data.social.twitter.username %}
  <meta name="twitter:site" content="@{{ site.data.social.twitter.username | replace: "@", "" }}">
  <meta name="twitter:title" content="{{ page.title | default: site.title | markdownify | strip_html | strip_newlines | escape_once }}">
  <meta name="twitter:description" content="{{ seo_description }}">
  <meta name="twitter:url" content="{{ canonical_url }}">
  {% if seo_author_twitter %}
    <meta name="twitter:site" content="@{{ seo_author_twitter }}">
  {% endif %}
   {% if page.blogimage %} 
  <meta name="twitter:card" content="summary_large_image">
  {% else%}
  <meta name="twitter:card" content="summary">
  {% endif %} 


  {% if page.blogimage %} 
    
   <meta name="twitter:image" content="https:{{ page.blogimage.url_large }}">
     
  {% elsif site.data.social.og_image %}
  <meta name="twitter:image" content="{{ site.data.social.og_image | absolute_url }}">
  {% endif %}

  {% if seo_author_twitter %}
    <meta name="twitter:creator" content="@{{ seo_author_twitter }}">
  {% endif %}
{% endif %}

{% if site.data.social.facebook %}
  {% if site.data.social.facebook.publisher %}
    <meta property="article:publisher" content="{{ site.data.social.facebook.publisher }}">
  {% endif %}

  {% if site.data.social.facebook.app_id %}
    <meta property="fb:app_id" content="{{ site.data.social.facebook.app_id }}">
  {% endif %}
{% endif %}

{% if page.blogimage %}
  <meta property="og:image" content="{{ page.blogimage.url_large }}">
{% elsif site.data.social.og_image %}
    <meta property="og:image" content="{% if site.data.social.og_image contains "://" %}{{ site.data.social.og_image }}{% else %}{{ site.data.social.og_image | absolute_url }}{% endif %}">
{% endif %}

{% if page.date %}
  <meta property="og:type" content="article">
  <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}">
{% endif %}

{% if site.data.social.og_image %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "url": {{ seo_url | jsonify }},
      "logo": {{ site.data.social.og_image | absolute_url | jsonify }}
    }
  </script>
{% endif %}

{% if site.social %}
  <script type="application/ld+json">
    {
      "@context" : "http://schema.org",
      "@type" : "{% if site.social.type %}{{ site.social.type }}{% else %}Person{% endif %}",
      "name" : "{{ site.social.name | default: site.name }}",
      "url" : {{ seo_url | jsonify }},
      "sameAs" : {{ site.social.links | jsonify }}
    }
  </script>
{% endif %}

{% if page.meta_tags.robots %}
  <meta name="robots" content="{{ page.meta_tags.robots }}">
{% endif %}
<script type='application/ld+json'>
{
  "@context": "http://www.schema.org",
  "@type": "Organization",
  "name": "The New Yorker Hotel",
  "url": "https://www.newyorkerhotel.com/",
  "logo": "https://www.newyorkerhotel.com/images/the-new-yorker-logo.svg",
  "description": "Experience The New Yorker Hotel, a boutique hotel in New York. Book your stay at our Midtown Manhattan Hotel and start your New York getaway.",
     "sameAs": [
    "https://plus.google.com/106550560316390846347"
   
  ]
  }
}
</script>	
<script type='application/ld+json'>
{
  "@context": "http://schema.org",
  "@type": "Hotel",
  "image": "https://www.newyorkerhotel.com/images/welcome-1.jpg",
  "starRating" : { "@type" : "Rating",
                   "ratingValue" : "4"},
  "priceRange" : "Best Rate Guaranteed",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "481 8th Ave",
    "addressLocality": "New York",
    "addressRegion": "New York",
    "postalCode": "NY 10001",
    "addressCountry": "United States"
  },
   "aggregateRating": {
    "@type": "AggregateRating",
    "ratingValue": "3.9",
    "bestRating": "5",
    "ratingCount": "2245"
    },
  
  "description": "Experience The New Yorker Hotel, a boutique hotel in New York. Book your stay at our Midtown Manhattan Hotel and start your New York getaway.",
  "name": "The New Yorker Hotel",
  "alternateName":"The New Yorker A Wyndham Hotel",
  "telephone": "+1 212-971-0101",
  "email": "reservations@nyhotel.com",
  "url": "https://www.newyorkerhotel.com/",
   "sameAs" : ["https://twitter.com/WyndhamNYH","https://www.facebook.com/newyorkerhotel","https://plus.google.com/106550560316390846347","https://www.tripadvisor.com/Hotel_Review-g60763-d122005-Reviews-The_New_Yorker_A_Wyndham_Hotel-New_York_City_New_York.html","https://www.instagram.com/newyorkerhotel/","https://www.youtube.com/channel/UCXDFDBPGBkC07HOxL7ISQLQ""]
    },   
   "hasMap": "https://goo.gl/maps/h5Mei2sS23z"
 },
 
  "potentialAction":{
   "@type":"ReserveAction",
   "target":{
   "@type":"EntryPoint",
   "urlTemplate":"https://newyorkerhotel.reztrip.com/classic/en/searches/5a214b6361b4d71d66bd93e9/hotels/NYCNYR/rooms?action=show&adults%5B%5D=1&children%5B%5D=0&controller=landings&locale=en&starting_page=search","actionPlatform":[
   "http://schema.org/DesktopWebPlatform",
   "http://schema.org/IOSPlatform",
    "http://schema.org/AndroidPlatform"
]
},
   "result":{
   "@type":"LodgingReservation",
   "name":"Book Now"
  }
 }
}
</script>

<!-- end SEO -->
