<!--Special Banner Bar-->
{% comment %}
<section class="special-banner-bar">
    <!--
    <h3 tabindex="0">Exclusive Halloween offer - Save 30% when you book direct</h3>
    <a href="https://newyorkerhotel.reztrip.com/classic/en/special_offer?_ga=2.22703602.810927318.1540840164-1302808830.1537194918&action=show&controller=landings&locale=en&rate_code=DISSUB&rate_code=DISSUB&starting_page=special_offer" title="Book Offer" target="_blank" class="btn-common">BOOK & SAVE</a> -->
</section>
{% endcomment %}
