<section class="instagram-feed" style="display: none;">
<div class="container-fluid no-padding" tabindex="-1">
  <div class="row no-gutters">
    <h3><a href="https://www.instagram.com/explore/tags/newyorkerhotel/" tabindex="-1" rel="nofollow" title="Instagram" target="_blank">#newyorkerhotel</a></h3>
    <h5><a href="https://www.instagram.com/newyorkerhotel/" rel="nofollow" tabindex="-1" target="_blank" title="Instagram">Our Instagram</a></h5>
      <ul class="instafeed">

      </ul>
  </div>
</div>
</section>
