<section class="instagram-feed">
<div class="container-fluid no-padding">
  <div class="row no-gutters">
  	  <h3>#newyorkerhotel</h3>
    <h5><a href="https://www.instagram.com/newyorkerhotel/" target="_blank">Our Instagram</a></h5>
      <ul>
        <li><img src="/images/insta/1.jpg" alt="The New Yorker"/></li>
        <li><img src="/images/insta/2.jpg" alt="Muhammad Ali at The New Yorker"/></li>
        <li><img src="/images/insta/3.jpg" alt="The New Yorker"/></li>
        <li><img src="/images/insta/4.jpg" alt="The New Yorker"/></li>
        <li><img src="/images/insta/5.jpg" alt="New Yorker Queen Suite"/></li>
      </ul>
  </div>
</div>
</section>
