<section class="intro-wrap">
	<div class="container-fluid">
        <div class="intro">
          <div class="col-sm-5 no-padding">
                <div class="-left">
                    <div class="img-holder"><img src="/images/welcome-1.jpg" alt=""/></div>
                    <div class="img-holder"><img src="/images/welcome-2.jpg" alt=""/></div>
              </div>
          </div>
            <div class="col-sm-7 no-padding">
            	<div class="-right">
                	<h2>welcome to the<br>New yorker</h2>
                    <p>Dolor ergo, id est summum malum, metuetur semper, etiamsi non aderit; Nobis aliter videtur, recte secusne, postea; Duarum enim vitarum nobis erunt instituta capienda. Potius inflammat, ut coerce quam dedocendi esse videantur. Si verbum sequimur, primum longius verbum praepositum quam bonum.</p>
                    <div class="btn-holder"><a href="#" class="btn-common">Discover this historical icon</a></div>
                </div>
            </div>
        </div>
    </div>
</section>