<section class="intro-wrap">
	<div class="container-fluid">
        <div class="intro">
          <div class="col-sm-5 no-padding">
                <div class="-left">
                    <div class="img-holder"><img src="/images/welcome-1.jpg" alt=""/></div>
                    <div class="img-holder">
                        <img src="/images/welcome-2.jpg" alt=""/>
                        <a href="javascript:void(0)" id="link"><img src="/images/play-icon.svg" class="play-icon"></a>
                    </div>
              </div>
          </div>
            <div class="col-sm-7 no-padding">
            	<div class="-right">
                	<h2>welcome to the<br>New yorker</h2>
                    <p>Nestled in Midtown Manhattan along 8th Avenue – just south of Times Square and north of Penn Station – stands an iconic Jazz Age-era building that has drawn some of the most influential travelers in history. You’ll know you’re close when you look up to see its Art Deco façade, proudly adorned with red block-letters: <span style="color:red;">NEW YORKER</span>.</p>
                    <div class="btn-holder"><a href="/about/" class="btn-common">Discover this historical icon</a></div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade full-screen" id="welcomeVideo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <div class="modal-body">
      	<div class="embed-responsive embed-responsive-16by9">
       		<iframe class="embed-responsive-item"  frameborder="0" allowfullscreen=""></iframe>
        </div>
      </div>
    </div>
  </div>
</div>