
<div class="two-col-wrapper padding80 white_bg cover" style="background-image: url('/images/bg-tower.jpg');">
     <div class="container">
     	  <div class="row">
     	      <div class="col-sm-6">
     	      	   <div id="amenitiesCarousel" class="carousel slide no-shadow margin22" data-ride="carousel"> 

     	      	     <!-- Wrapper for slides -->
     	      	     <div class="carousel-inner" role="listbox">
     	      	       <div class="item active">
     	      	         <img src="/images/amenities/1.jpg" alt="amenities">
     	      	       </div>
					   <!-- <div class="item">
     	      	          <img src="/images/amenities/2.jpg" alt="amenities">
     	      	       </div> -->
                       <div class="item">
     	      	          <img src="/images/amenities/3.jpg" alt="amenities">
     	      	       </div>
                       <div class="item">
     	      	          <img src="/images/amenities/4.jpg" alt="amenities">
     	      	       </div>
                       
 
     	      	     </div>

     	      	     <!-- Left and right controls -->
     	      	     <a class="left carousel-control" href="#amenitiesCarousel" role="button" data-slide="prev">
     	      	       <img src="/images/amenities/arrow-left.png">
     	      	     </a>
     	      	     <a class="right carousel-control" href="#amenitiesCarousel" role="button" data-slide="next">
     	      	       <img src="/images/amenities/arrow-right.png"> 
     	      	     </a>
     	      	   </div>
     	      </div>
     	      <div class="col-sm-6">
     	           <div class="content-box">
		     	      	   <h2>World-class <br>amenities</h2>
		     	      	   <ul>
		     	      	   	 <li> An Art Deco icon </li>
							 <li> Unmatched Midtown West location </li>
							 <li> Upscale rooms and suites </li>
							 <li> 24-hour dining at Tick Tock Diner </li>  
							 <li> Beautiful and versatile event space </li>
							 <!-- <li> Incredible views of NYC from the Sky Lounge </li>  -->
		     	      	   </ul>
		     	      	   <div class="btn-holder">
		     	      	      <a class="btn-common" href="/gallery/"> View the Gallery</a>
		     	      	   </div>
     	      	   </div>
     	      </div>
     	  </div>
     </div> 
</div>
<div class="two-col-wrapper padding80 grey_bg">
     <div class="container">
     	  <div class="row">
     	      <div class="col-sm-5">
     	           <div class="content-box-left">
		     	      	   <h2>A New York <br>
                         art deco Icon</h2>
		     	      	    <p>Built in 1929, during the height of the Jazz Age, <a href="https://www.newyorkerhotel.com/" title="New Yorker">The New Yorker</a>, A Wyndham Hotel has dazzled visitors with its Art Deco décor, exceptional service, and <a href="https://www.newyorkerhotel.com/location/" title="Midtown Manhattan hotel">superb location in Midtown West</a> for generations.</p>
		     	      	   <div class="btn-holder">
		     	      	      <a class="btn-common" href="/about/"> Discover Our History</a>
		     	      	   </div>
     	      	   </div>
     	      </div>
     	      <div class="col-sm-7"> 
     	      	        <img src="/images/amenities/history.jpg" alt="history" class="img-responsive img-5">
     	      	     
     	      </div> 
     	  </div>
     	  <div class="row">
     	      <div class="col-sm-5 text-right">
                       <img src="/images/amenities/building1.jpg" alt="building" class="margin40">
     	      </div>
     	      <div class="col-sm-5">
     	                <img src="/images/amenities/30-dancing.jpg" alt="30's dancing " class="img-responsive margin40">
     	      </div>
     	  </div>
     </div> 
</div>
