
.our-art{
	h2{
		padding: 0 0 40px 0;
	}
	p{
		padding: 40px 0 0 0;
	}
	.btn-holder{
		margin: 40px 0 0 0 !important;
		padding: 0 !important;
	}
}
.about{
	background:url(../images/about/about-banner.jpg) no-repeat; 
	background-size:cover;
	position: relative;
	.overlay{
		position: absolute;
		top: 0;
		background: rgba(16,16,24,.75);
		width: 100%;
		height: 100%;
		display: block;
	}
	
}
.two-cal-wraper-full{
	position: relative;

	img{
		width: 100%;
	}
	.content-area{
		top: 0px;
		width: 100%;
		height: 100%;
		text-align: center;
		padding: 32% 0;
		background-size: cover;
		.overlay{
			background-color: rgba(0,0,0,.3);
			position: absolute;
			height: 100%;
			top: 0;
			left: 0;
			width: 100%;
			padding: 25% 0 0 0;
			@media (max-width:768px){ padding:5% 10% 0;}
		
		h1{
			color: $white;
			font-size: 36px;
			letter-spacing: 3px;
			text-transform: uppercase;
			font-family: $main-font-medium;
			line-height: 40px;
			@media (max-width:768px){ font-size:24px;}
		}
		h4{
			color: $white;
			font-size: 16px;
			letter-spacing: 3px;
			text-transform: uppercase;
			font-family: $main-font-regular;
			line-height: 24px;
			padding: 10px 0 0 0;
			@media (max-width:768px){ font-size:12px;}
		}
		a{
			color: #ffffff;
			padding: 5px 15px 5px;
			border: solid 1px #ffffff;
			margin: 30px auto 0;
			display: inline-block;
			i{
				font-size: 24px;
			}
			&:hover{ opacity:0.6;}
			@media (max-width:768px){ margin-top:15px;}
		}
			&.aminites-services{
				padding: 15% 0 0 0;
				
				h2{
					text-align:center;
					color: #ffffff;
					&:after{
					left:0;
					right:0;
					margin:auto;
					background-color:#ffffff;
					}
				}
				p{
					 color: #ffffff;
					 max-width:80%;
					 margin:10px auto;

					}
				a{
				 margin: 5px auto 0;
				 border:none;
				 padding: 5px 15px 0px;
				}
			}
			}
}
}

/* carousel css starts here */
.landmark{
	&.taber{
		li{ margin:0 25px;
			&:first-child{ margin-left:0px;}
			&:last-child{ margin-right:0px;}
			@media (max-width:768px){ margin:0px;}
		}
		@media (max-width:768px){ padding:120px 0 0px !important;}	
	}
	padding: 200px 0px 130px 0px !important;
	 ol.carousel-indicators {
		top: -70px;
		text-align: left;
		left: 43.8%;
		bottom: auto;
		 li{
			width: auto;
			height: auto;
			text-align: center;
			border: none;
			background-color: transparent;
			text-transform: uppercase;
			letter-spacing: 2px;
			color: $black;
			text-indent: 0;
			padding: 5px 0px;
			font-size: 14px;
			font-family: $main-font-bold;
			border-radius: 0px;
			&.active{
				border-bottom: 4px solid $heading;
			}
			@media (max-width:768px){ width:100%;}
		 }
		 @media (max-width:768px){left:50%;}
		
	}
	.content-box{
		padding-top: 59px !important;
			h2{
			 &:after{
				width: 0px;
				}
			}
			p{
				margin: 0 0 20px 0;
				&:last-child{
					margin: 0px 0 0 0;
				}
			}
	}
	.col-sm-5{
		padding: 50px 0 0 0;
			img{
				width: 100%;
			}
	}
	a{
		background: none !important;
		&:hover, &:focus, &:active{
			background: none;
		}
		
		
			&.left{
				background: transparent url(../images/about/arrow-left.png) no-repeat center 40% !important;
				opacity: 1 !important;
			}
			&.right{
				background: transparent url(../images/about/arrow-right.png) no-repeat center 40% !important;
				opacity: 1 !important;
			}
		
	}
}
/* carousel css ends here */

.rooms-rates{
	.caption{
		    padding-top: 15% !important;
			height: auto !important;
			top: 0 !important;
			background-size: cover;
			position: relative !important;
			span{
				color: $white;
				font-family: $main-font-medium;
				text-transform: uppercase;
				letter-spacing: 3px;
				border-bottom: 1px solid $white;
				width: auto;
				padding: 0 0 6px 0;
					strong{
						font-weight: normal;
					}
			}
		h3{
			padding: 110px 0 0 0;
			@media (min-width: $screen-sm-min) {
				font-size: 25px !important;
			}
			@media (min-width: $screen-md-min) {
				max-width: 320px !important;
				font-size: 32px !important;
			}
			@media (min-width: 1320px) {
				max-width: 416px !important;
				font-size: 40px !important;
			}
		}
		.btn-common{
			background-color: transparent !important;
			color: $white !important;
			font-size: 16px;
			text-transform: inherit;
			margin: 30px 0 50px;
			&:after{
				content: "+";
				padding: 0 0 0 10px;
			}
		}
		.cal-icon{
			width: auto !important;
			padding-bottom: 76px;
		}
	}
}

