/*Attractions here*/

.attractions-listing{
	padding:15px 0; background:none;
	border-bottom:solid 1px #ececec;
}
.inner-page-banner{
	&.detail{
		height:324px;
		h1{top: 50%; margin:auto; left:0; right:0;
    transform: translateY(-50%);
    position: absolute; padding:0 20px !important;}
	}
}

.offer-section{
	&.other-attractions{ background:#fff;
		.equal{
			div{ height:300px;}
		}
	}
}
.landmark{
	&.featured{
		.btn-holder{
			padding:0px !important;
			a{background:#0a0a12 !important;}
		}
	}
}

.bg-link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  a {
    display: block;
    height: 100%;
  }
}
