.special-banner-bar#conversion-plus-banner {
  .ttweb-banner {
    background: black;
    &__ad-text {
      font-family: "Poiret One";
    }
    &__book-now-button {
      padding: 12px 16px 8px 16px;
      line-height: 1em;
      margin: 0;
    }
  }
}