.inner-page-banner {
	&.banner {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		position: relative;
	}
}
.intro-wrap {
		&.events {
			background-color: transparent;
				p {
					&.black {
						color: $heading;
					}
				}
			
		}
	}
.intro-bg {
	background-position: right center;
	background-size: cover;
	background-repeat: no-repeat;
}
.events-wrap {
	padding: 50px 0;
		@media (min-width: $screen-sm-min){
			padding: 69px 0;
		}
		.container {
			max-width: 1114px;
		}
		.-left {
			padding: 0 0 0 0;
			@media (min-width: $screen-sm-min){
				padding: 0 0 0 40px;
			}
			@media (min-width: $screen-md-min){
				padding: 0 0 0 108px;
			}
		}
		.-right {
			padding: 0 0 50px 0;
			@media (min-width: $screen-md-min){
				padding: 0 15px 0 30px;
			}
			@media (min-width: $screen-lg-min){
				padding: 0 15px 0 20.173%;
			}
		}
		
		.carousel-control {
		bottom: auto;
		top: 0;
		right:0;
		left: auto;
		transform: none;
		&.left {
			left: auto;
			right: 50px;
			margin: 0 0 0 -50px;
			background-color: #161515;	
				&:hover {
						background: $white;
							.fa {
								color: #161515;
							}
					}
		}
		&.right {
			right: 0;
			left: auto;
			margin: 0 0 0 0;
			background-color: #161515;
				&:hover {
						background: $white;
							.fa {
								color: #161515;
							}
					}
			&:after {
					position: absolute;
					content: "";
					background-color: $white;
					top: 15px;
					bottom: 15px;
					left: 0;
					width: 1px;
				}
		}
		.fa {
				color: $white;
			}
	}
}
.events-cta {
	.banner-overlay {
		background-color: rgba(10, 10, 18, 0.2);
	}
	h3 {
		padding-bottom: 10px;
		color: #fff;
	}
	p {
		color: #fff;
		padding: 0 0 50px 0;
		@media (min-width: $screen-sm-min){
			padding: 0 0 84px 0;
		}
		a {
			color: $white;
				&:hover {
					color: $white;	
				}
		}
	}
}
.dining {
	&.discover {
		&.events-content {
			.intro {
				.img {
					max-width: 394px;
					width: auto;
					height: auto;
						img {
							width: 100%;
						}
				}
			}
		.content-box {
			p {
				padding-bottom: 30px;
					&:last-child{
						padding-bottom: 0;
					}
			}
		}
		.m-t--150 {
			margin: 0;
		}
		#amenitiesCarousel {
			margin-top: 0;
				@media (min-width: $screen-md-min){
					margin-top: -120px;
				}
		}
		}
	}
}
.cta-events {
	.cta-events-img {
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		position: relative;
		height: 220px;
			@media (min-width: $screen-sm-min){
				height: auto;
			}
	}
	.-right {
		padding-top: 50px;
		padding-bottom: 50px;
			@media (min-width: $screen-sm-min){
				padding-top: 65px;
				padding-bottom: 65px;
			}
	}
	.-left {
		
		@media (max-width: $screen-xs-max){
				position: absolute;
				top: 50%;
				left: 0;
				right: 0;
				transform: translateY(-50%);
				margin: 0 auto;
			}
		.btn-holder {
			text-align: center;
			padding: 0;
		}
	}
}
.events-cta-2 {
	&.cta-one {
		background-position: top center;
	}
	h3 {
		padding-bottom: 10px;
		color: #fff;
	}
	p {
		color: #fff;
		padding: 0 0 50px 0;
		@media (min-width: $screen-sm-min){
			padding: 0 0 84px 0;
			width: 60%;
			margin: 0 auto;
		}
		@media (min-width: $screen-md-min){
			width: 35%;
		}
		a {
			color: $white;
				&:hover {
					color: $white;	
				}
		}
	}
}
#events-video {
	.modal-dialog {
		@media (min-width: $screen-sm-min){
			width: 560px;
		}
		@media (min-width: $screen-md-min){
			width: 800px;
		}
	}
	iframe {
		@media (min-width: $screen-sm-min){
			width: 100%;
			height: 315px;
		}
		@media (min-width: $screen-md-min){
			width: 100%;
			height: 450px;
		}
	}
}