 .history-wrapper{ 
	.history{
	    background:url(/images/history/guests-old.jpg) no-repeat; 
		background-size:cover;
		position: relative;
		.overlay{
			position: absolute;
			top: 0;
			background: rgba(16,16,24,.75);
			width: 100%;
			height: 100%;
			display: block;
		}
	}
	@media (min-width: 992px){
		.two-col-wrapper .container .content-box{
	 	 	 padding-right: 20px;
	 	 }
	}
	
}
// Responsive
@mixin responsive() {
  @media only screen and (max-width: 767px) {
    @content;
  }
}

$content-font: "BrandonGrotesqueWeb-Regular";

$heading-font: "Poiret One"; 
$timeline-width:700px;
$timeline-container-width:100%;
.timeline {
  h2{
     &:after{
       background-color: none !important;
       height: 0px !important;
     }
  }
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  max-width: $timeline-width;
  position: relative;
  &__content {
    &-title {
      font-weight: normal;
      font-size: 66px;
      margin: -10px 0 0 0;
      transition: .4s;
      padding: 10px 10px;
      box-sizing: border-box;
      font-family: $heading-font;
      color: #fff;
      background: $black;
    }
    &-desc {
      margin: 0;
      font-size: 18px;
      box-sizing: border-box;
      color: #FFF;
      font-family: $content-font;
      font-weight: normal;
      line-height: 25px;
      background: $black;
      padding: 10px;
    }
  }
  &:before {
    position: absolute;
    left: 50%;
    width: 2px;
    height: 100%;
    margin-left: -1px;
    content: "";
    background: rgba(255, 255, 255, .07);
    @include responsive() {
      left: 40px;
    }
  }
  &-item {
    padding: 40px 0;
    opacity: .3;
    filter: blur(2px);
    transition: .5s;
    box-sizing: border-box;
    width: calc(50% - 40px);
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    position: relative;
    transform: translateY(-80px);
    &:before {
      content: attr(data-text);
      letter-spacing: 3px;
      width: 100%;
      position: absolute;
      color: rgba(#fff, 1);
      font-size: 20px;
      font-family: $heading-font;
      border-left: 2px solid rgba(#fff, .5);
      top: 70%;
      margin-top: -5px;
      padding-left: 15px;
      opacity: 0;
      right: calc(-100% - 56px);
    }
    &:nth-child(even) {
      align-self: flex-end;
      &:before {
        right: auto;
        text-align: right;
        left: calc(-100% - 56px);
        padding-left: 0;
        border-left: none;
        border-right: 2px solid rgba(#fff, .5);
        padding-right: 15px;
      }
    }
    &--active {
      opacity: 1;
      transform: translateY(0);
      filter: blur(0px);
      &:before {
        top: 50%;
        transition: .3s all .2s;
        opacity: 1;
      }
      .timeline__content-title {
        margin: -50px 10px 20px 0;
        background: $black;
      }
    }
    @include responsive() {
      align-self: baseline !important;
      width: 100%;
      padding: 0 30px 150px 80px;
      &:before {
        left: 10px !important;
        padding: 0 !important;
        top: 50px;
        text-align: center !important;
        width: 60px;
        border: none !important;
      }
      &:last-child {
        padding-bottom: 40px;
      }
    }
  }
  &__img {
    max-width: 100%;
    box-shadow: 0 10px 15px rgba(0, 0, 0, .4);
  }
  &-container {
    width: $timeline-container-width;
    position: relative;
    padding: 80px 0;
    background-attachment: fixed;
    background-size: cover;
    &:before {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.8);
      content: "";
    }
  }
  &-header {
    width: 100%;
    text-align: center;
    margin-bottom: 80px;
    position: relative;
    &__title {
      color: #fff;
      font-size: 46px;
      font-family: $heading-font;
      font-weight: normal;
      text-align: center;
      margin: 0;

    }
    &__subtitle {
      color: rgba(255, 255, 255, .5);
      font-family: $heading-font;
      font-size: 16px;
      letter-spacing: 5px;
      margin: 10px 0 0 0;
      font-weight: normal;
    }
  }
}	  

.inner-page-banner{
          .view-space{
                     h1{
                          font-size: 50px;
                          line-height: 68px;
                          padding-top: 35px !important;
                          @media (max-width: 1200px){
                            font-size: 25px !important;
                          line-height: 32px;
                        }
                         @media (max-width: 1200px){
                          font-size: 25px !important;
                          line-height: 30px;
                        }
                        @media (max-width: 400px) { 
                         font-size: 20px !important;
                        line-height: 28px !important;
                       }
                      }
                      p{
                         padding: 0 5px !important;
                        @media (max-width: 467px){
                        line-height: 20px;
                        font-size: 16px;
                      }
                      }
                  }
              }


 @media (max-width: 639px) and (min-width: 500px){
              .v-banner-h{
                         height: 337px !important;
                         }
                       }
      
.content-align{
  text-align: inherit !important;
  padding: 50px 15px 50px 55px !important;
}
.mg-top{
  margin-top: 20px;
  li{
    font-size: 18px !important;
  }
}