/*Common Styles Here*/
@media (min-width: $screen-sm-min){
	.two-col-wrap {
		display: table;
		width: 100%;
		img {
			width: 100%;
			height:auto;
		}
		.v-center {
			display: table-cell;
			vertical-align: middle;
			float: none;
		}
	}


}
@media (min-width: $screen-md-min){
	.two-col-md-wrap {
		display: table;
		width: 100%;
		img {
			width: 100%;
			height:auto;
		}
		.v-center {
			display: table-cell;
			vertical-align: middle;
			float: none;
		}
	}

}
.reverse-button{ 
	background:$btn; color:$white; font-family:$main-font-regular; font-size:12px; text-transform:uppercase; letter-spacing:2px; padding:20px 20px 15px; display:inline-block;
	&:hover{ background:$white; color:$btn;}
}

/*Home Map styles here*/

.home-map{display:table;
	position:relative;
	background:$bg;
	padding:100px;
	@media (min-width: 768px) and (max-width: 1024px){
		padding:50px 20px;
	}
	@media (min-width: 1025px) and (max-width: 1280px){
		padding:80px 50px;
	}
	@media (max-width: 767px){
		padding:20px 0;
	}
	
	.img{
		img{ width:100%;}	
	}
	.content{ width:80%; margin:0 auto; 
		p{ padding:40px 0 50px;
			span{ text-transform:uppercase; letter-spacing:2px;}
		}
		@media (max-width: 767px){
			width:98%; margin:20px auto;	
		}
	}
}

/*Mega Title*/

h1{
	&.mega-title{ font-family:$main-heading; color:$text; font-size:85px; letter-spacing:2px; text-align:center; text-transform:uppercase; padding:60px 0;}	
}

/*Attractions & Events*/

.a-e{ text-align:center; background:url(../images/a-e-bg.jpg) no-repeat; background-size:cover; padding:50px 0;
	h4{ font-family:$main-font-medium; font-size:32px; color:$text; letter-spacing:1px; text-transform:uppercase; padding:20px 0;}
	ul{
		li{ 
			list-style:none;
			padding-bottom:20px;
			h5{font-family:$main-font-bold; font-size:14px; text-transform:uppercase; letter-spacing:2px; color:$text;}
			h6{font-family:$main-font-bold; font-size:14px; letter-spacing:2px; color:$grey-text;}
			a{font-family:$main-font-regular; font-size:12px; letter-spacing:2px; color:$text; padding:10px 0; display:block;
				i{ font-size:7px; padding-left:2px;}
				&:hover{ opacity:0.6;}
			}
			&:last-child{ padding-bottom:0px;}
		}
	}
}


/*Overwrites here*/
.p-t-60{ padding-top:60px !important;}
.relavtive{ position:relative;}