.container {
	max-width: 1320px;
	width: auto;
}
.no-padding {
	padding: 0;
}
.btn-common {
	background-color: $btn;
    padding: 14px 16px;
    text-transform: uppercase;
    font-family: $main-font-regular;
    letter-spacing: 2px;
    font-size: 12px;
    display: inline-block;
    color: $white;
    text-shadow: none;
    transition: all 0.4s;
		&:hover {
			background-color: rgba(10,10,18,0.6);
			color: $white;
		}
	&.btn-white {
		background-color: $white;
		color: $btn;
			&:hover {
				background-color: $btn;
				color: $white;
		}
	}
}

.btn-holder {
	padding: 30px 0 0 0;
		@media (min-width: $screen-md-min){
			padding: 55px 0 0 0;
		}
}
