/*Inner Page common banner*/

.inner-page-banner{
	display:table;
	background:$grey-bg;
	height:424px;
	color:$white;
	text-align:center;
	width:100%;
	vertical-align:middle;
	@media (max-width:499px){
		height:370px;	
	}
	@media (min-width:500px) and (max-width:639px){
		height:283px;	
	}
	@media (min-width:640px) and (max-width:768px){
		height:260px;	
	}
	h1{
		@extend .mega-title;
		color:$white !important;
		letter-spacing:8px !important;
		padding:120px 0 20px !important;	
		@media (max-width:768px){
			padding-top:60px !important;
		}
	}
	p{ color:$white; max-width:660px; margin:0 auto; padding:0 20px;}
	
	/*Individual Inner page Banner images here*/
	
	&.location{
		background:url(../images/location-banner.jpg) no-repeat; background-size:cover;
	}
}

.discover{
	.content-box{
		padding:30px 95px 20px 95px !important;
		h5{font-family:$main-font-bold; font-size:14px; text-transform:uppercase; letter-spacing:2px; color:$text; padding:26px 0 8px;}
		p{font-family:$main-font-regular; font-size:14px;color:$grey-text;
			a{ color:$grey-text;}
		}
		.btn-holder{ padding:45px 0 0 0px !important;}
		@media (min-width:769px) and (max-width:1024px){ padding: 30px 22px 10px 22px;}
		@media (max-width:768px){ text-align:center;}	
	}
	.intro{
		.content{ width:80%; margin:50px auto 30px;
			h2{ margin-top:20px;}
			p{ margin-top:30px;color:$grey-text;
				@media (max-width:768px){ text-align:center;}
			}
		}
		.img{
			width:328px;
			height:295px;
			margin:20px auto 70px;	
			@media (max-width:768px){ margin:20px auto;}
		}	
	}
}