.no-padding {
    padding: 0;
}

.page-banner {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    text-align: center;

    &:after{
    	content: "";
    	display: block;
    	position: absolute;
    	background-color: rgba(16, 16, 24, 0.75);    	
    	top:0px;
    	left:0px;
    	width:100%;
    	height: 100%;   	

    }

    .page-title{

    	padding:90px 0;
    	position:relative;
    	z-index:99;

    	 @media(min-width: $screen-sm-min)

    	 {

    	 padding:150px 0;

    	}

    	
    }

    h2{
    	    font-size: 45px;
    	    color:$white;
    	    text-transform:uppercase;
    	    line-height: 50px;

    	    @media(min-width: $screen-sm-min)
		{
			font-size: 85px;
			line-height: 70px;
			
			
		}
    }

    p{
    		color:$white;
    		max-width: 500px;
   			margin: 0px auto;

   			 @media(max-width:767px)
		{
			
			padding:0px 15px;
			
		}


    }

}

.rooms-list-container{

    .col-sm-6, .col-md-4{
            padding: 1px;
    }

    .room-item{
        position:relative;
        text-align:center;


                .overlay{
                    position:absolute;
                    width:100%;
                    height:100%;
                     background: rgba(16, 16, 24, 0.3);

                }

                .room-details{
                   position: relative;
                   color:$white;
                   
                
                        .price{
                            letter-spacing: .1em;
                            font-size:15px;
                            font-family:$main-font-medium;
                            padding: 5px 0px;
                            text-transform:uppercase;
                            border-bottom:1px solid #fff;
                            display: inline-block;
                            margin-top: 40px;

                        }

                        h3{
                                font-size: 36px;
                                font-family: $main-font-medium;
                                text-transform: uppercase;
                                line-height: 38px;
                                letter-spacing: .05em;
                                padding: 64px 10px 10px 27px;
                                width: 81%;
                                margin: 0 auto;

                                 @media(min-width:1669px){

                                    width: 54%;

                                }


                        }

                        .view-rooms{
                            display:inline-block;
                            color:$white;
                            padding: 5px 0px;
                            font-family:$main-font-regular;
                            font-size:16px;
                            margin-bottom: 40px;
                            position:relative;
                            letter-spacing:.1em;

                            &:hover{

                                &:after{
                                    content:"";
                                    position: absolute;
                                    bottom: 0px;
                                    width: 100%;
                                    background: #fff;
                                    height: 1px;
                                    left: 0px;

                                }
                            }

                        }

                        .book-now{

                            display: block;
                            width: 50px;
                            height: 45px;
                            background-color: $white;
                            margin: 0 auto;
                            padding: 12px 15px;

                            &:hover{

                                    background-color: #e8e8e8;
                            }

                            img{

                                width: 21px;
                                height: 23px;
                            }

                        }

                }
    }
}

.offer-section{

    padding:87px 0px 0px 64px;
    background-color:$bg;
    text-align:center;

    h4{
        font-family:$main-heading;
        font-size:42px;
        text-transform:uppercase;
        letter-spacing: .1em;
        padding-bottom:70px;
    }

    h5{

         font-family:$main-font-bold;
        font-size:14px;
        text-transform:uppercase;
        letter-spacing: .1em;
        padding: 23px 0px 3px 0px;
        color:#161515;
    }
    a{
        font-family:$main-font-regular;
        font-size:12px;
        padding:5px;
        color:#161515;
        letter-spacing: .2em;
        display: inline-block;

    }

}