.thankyou {
 padding: 50px 15px;
 text-align: center;
  @media (min-width: $screen-md-min){
   padding: 100px 15px;
  }

 h3 {
  font-family: $main-heading;
  font-size: 72px;
  text-transform: uppercase;
  padding: 0 0 30px 0;
  margin: 0;
  color: #000;
  letter-spacing: 3px;
 }
 p {
  font-family: $main-font-regular;
  font-size: 18px;
  padding: 0;
  margin: 0;
 }
}
h1{
		&.page-title{font-family: $main-heading; color:$white;}
	}
// Mother day SWEEPSTAKES
.mothers-day-banner{
  background:url(/images/blog/blog-banner.jpg) no-repeat;
	background-size:cover;
	position: relative;
}
.mothers-day-form-heading{
  padding-bottom: 20px !important;
}
  .mothers-day-lineheight{
    h1{
      font-size: 60px;
    }
  }
  .mothers-day-content{
    ul{
      padding: 12px 0px !important;
      margin-left: 15px;
      font-size: 16px;
    }
  }
  .mothers-day-form-field{
    margin-left: 20px !important;
  }
