
.discover{
	.content-box{
		padding:20px !important;
		h2{padding:26px 0 8px; font-size: 42px; letter-spacing: 4px; line-height: 53px;}
		h5{font-family:$main-font-bold; font-size:14px; text-transform:uppercase; letter-spacing:2px; color:$text;}
		p{font-family:$main-font-regular; font-size:14px;color:$grey-text;
			a{ color:$grey-text;}
		}
	}
	.intro{
		.content{ width:80%; margin:50px auto 30px;
			h2{ margin-top:50px;}
			p{ margin-top:30px;color:$grey-text;
			@media (max-width:768px){ text-align:center;}
			}
		}
		.img{
			width:328px;
			height:295px;
			margin:20px auto 70px;	
			@media (max-width:768px){ margin:20px auto; width:90%; height:auto;}
		}	
	}
}
