<script type="application/ld+json">{
    "@context": "http://schema.org",
    "@type": "Hotel",
    "name": "The New Yorker, A Wyndham Hotel",
    "url": "https://www.newyorkerhotel.com/",
    "logo": "https://www.newyorkerhotel.com/images/the-new-yorker-logo.svg",
    "image": "https://www.newyorkerhotel.com/images/welcome-1.jpg",
    "description": "The New Yorker Hotel has a history as intriguing as her intricate design. From her iconic Art Deco style to her ingenious American construction, the “Grand Old Lady” has been striking component of the New York skyline, towering above all others and illuminating it since her 1930 inception.",
    "sameAs": "https://www.facebook.com/newyorkerhotel",
    "telephone": "(212) 971-0101",
    "checkinTime": "2017-01-01T16:00-0500",
    "checkoutTime": "2017-01-01T23:00-0500",
    "address": {
        "@type": "PostalAddress",
        "streetAddress": "481 8th Ave",
        "addressLocality": "New York",
        "addressRegion": "NY",
        "postalCode": "10001",
        "addressCountry": "USA"
    },
    "starRating": {
        "@type": "http://schema.org/Rating",
        "ratingValue": "4"
    },
    "makesOffer": {
        "@type": "Offer",
        "acceptedPaymentMethod": [
            {
                "@type": "PaymentMethod",
                "url": "http://purl.org/goodrelations/v1#Cash"
            },
            {
                "@type": "PaymentMethod",
                "url": "http://purl.org/goodrelations/v1#AmericanExpress"
            },
            {
                "@type": "PaymentMethod",
                "url": "http://purl.org/goodrelations/v1#Discover"
            },
            {
                "@type": "PaymentMethod",
                "url": "http://purl.org/goodrelations/v1#MasterCard"
            },
            {
                "@type": "PaymentMethod",
                "url": "http://purl.org/goodrelations/v1#VISA"
            }
        ]
    },
    "amenityFeature": [
        {
            "@type": "LocationFeatureSpecification",
            "name": "Free Wi-Fi"
        },
        {
            "@type": "LocationFeatureSpecification",
            "name": "Accessible"
        },
        {
            "@type": "LocationFeatureSpecification",
            "name": "Air-conditioned"
        },
        {
            "@type": "LocationFeatureSpecification",
            "name": "Business center"
        },
        {
            "@type": "LocationFeatureSpecification",
            "name": "Kid-friendly"
        },
        {
            "@type": "LocationFeatureSpecification",
            "name": "Restaurant"
        },
        {
            "@type": "LocationFeatureSpecification",
            "name": "Fitness Center"
        },
        {
            "@type": "LocationFeatureSpecification",
            "name": "Bar"
        },
        {
            "@type": "LocationFeatureSpecification",
            "name": "Smoke-free"
        }
    ]
}
</script>