.cyber-monday {

  &.home-banner .offer-details {
    position: relative;
    top: 0;
    transform: none;
  }

  &.room-details-page .room-details .room-name {
    @media (min-width: $screen-sm-min) {
      padding: 40px 0;
    }
  }

  h1 {
    font-size: 20px;
    color: #fff;
    @media (min-width: $screen-sm-min) {
      font-size: 43px;
    }
  }


}

.button-holder {
  margin-top: 80px;
  text-align: center;
}

.flip-clock-wrapper {
  max-width: 620px;
  margin: 1em auto;
  padding-top: 140px;
  zoom: .5;
  -moz-transform: scale(.5);
  @media (min-width: $screen-sm-min) {
    zoom: 1;
    -moz-transform: scale(1);
  }
}

.flip-clock-divider .flip-clock-label {
  font-size: 20px;
  color: #fff;
}

.flip-clock-divider.days .flip-clock-label {
  right: -94px;
}

.flip-clock-divider.hours .flip-clock-label {
  right: -97px;
}

.flip-clock-divider.minutes .flip-clock-label {
  right: -106px;
}

.flip-clock-divider.seconds .flip-clock-label {
  right: -111px;
}

.flip-clock-wrapper ul li a div div.inn {
  color: #333;
  text-shadow: none;
  background-color: #fff;
}

.flip-clock-dot {
  display: none;
  background-color: #fff;
  @media (min-width: $screen-sm-min) {
    display: block;
  }
}
