---
---
<!DOCTYPE html>
<html>

  <head>
  <meta charset="utf-8">

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-MZGV8GK');</script>
  <!-- End Google Tag Manager -->

  <!-- begin SEO -->








<title>Le New Yorker, de la chaîne hôtelière Wyndham</title>





<meta name="description" content="Le New Yorker, superbe hôtel à la décoration de style Art déco situé dans le quartier Midtown de Manhattan, possède une riche histoire et a accueilli de célèbres clients. Il se trouve près de la gare Penn Station et du Madison Square Garden.">
<meta property="og:description" content="Le New Yorker, superbe hôtel à la décoration de style Art déco situé dans le quartier Midtown de Manhattan, possède une riche histoire et a accueilli de célèbres clients. Il se trouve près de la gare Penn Station et du Madison Square Garden.">




<meta name="author" content="WyndhamNYH">

<meta property="og:locale" content="en_US">
<meta property="og:site_name" content="The New Yorker, A Wyndham Hotel | Midtown Manhattan Hotel">
<meta property="og:title" content="Le New Yorker, de la chaîne hôtelière Wyndham">


  <link rel="canonical" href="https://www.newyorkerhotel.com/contact/">
  <meta property="og:url" content="https://www.newyorkerhotel.com/contact/">



  <meta name="twitter:site" content="@WyndhamNYH">
  <meta name="twitter:title" content="Le New Yorker, de la chaîne hôtelière Wyndham">
  <meta name="twitter:description" content="Le New Yorker, superbe hôtel à la décoration de style Art déco situé dans le quartier Midtown de Manhattan, possède une riche histoire et a accueilli de célèbres clients. Il se trouve près de la gare Penn Station et du Madison Square Garden.">
  <meta name="twitter:url" content="https://www.newyorkerhotel.com/contact/">
  <meta name="twitter:card" content="summary">


  <meta name="twitter:image" content="https://www.newyorkerhotel.com/images/banner-4.jpg">



    <meta name="twitter:creator" content="@WyndhamNYH">










  <meta property="og:image" content="https://www.newyorkerhotel.com/images/banner-4.jpg">





  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "url": "https://www.newyorkerhotel.com",
      "logo": "https://www.newyorkerhotel.com/images/banner-4.jpg"
    }
  </script>




<!-- end SEO -->


  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <script>
    document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
  </script>

  <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="/css/all.css">
  <!--<![endif]-->

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poiret+One">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/owl.carousel.css">
  <link rel="stylesheet" href="/css/owl.theme.css">
  <link rel="stylesheet" href="/css/owl.transitions.css">
  <link rel="stylesheet" href="/css/animations.css">
  <link rel="stylesheet" href="/css/lightgallery.css">
  <link rel="stylesheet" href="/css/font-awesome.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
  <link rel="apple-touch-icon" sizes="57x57" href="/fav-icon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/fav-icon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/fav-icon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/fav-icon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/fav-icon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/fav-icon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/fav-icon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/fav-icon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/fav-icon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/fav-icon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/fav-icon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/fav-icon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/fav-icon/favicon-16x16.png">
  <link rel="manifest" href="/fav-icon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/fav-icon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <meta http-equiv="cleartype" content="on">

  <script id="gtsgig-boot" data-hotel-id="newyorkerhotel" src="https://widgets.gtsgig.com/boot.js" ></script>
  <script>(function(){ var v = document.createElement('script'); var s = document.getElementsByTagName('script')[0]; v.src = '//io.voyat.com/v.js'; v.async = true; s.parentNode.insertBefore(v, s); })();</script>



<!--Tracking Pixel-->
<!-- Sojern Master Pixel Tag cp_v1_js, Pixel Version: 1 -->
<script>
  (function () {
    /* Please fill the following values. */
    var params = {
      hpid: "NYCNYR", /* Property ID */
      pt: "TRACKING" /* Page Type - HOME_PAGE or PRODUCT or TRACKING */
    };

    /* Please do not modify the below code. */
    var paramsArr = [];
    for(key in params) { paramsArr.push(key + '=' + encodeURIComponent(params[key])) };

    var pl = document.createElement('script');
    pl.type = 'text/javascript';
    pl.async = true;
    pl.src = "https://beacon.sojern.com/pixel/cp/8?f_v=cp_v1_js&p_v=1&" + paramsArr.join('&');
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(pl);
  })();
</script>
<!-- End Sojern Tag -->


  <link rel="stylesheet" type="text/css" href="https://plugins.traveltripper.io/v2/css/booking-widget.css" />
<style type="text/css">
  @media screen and (max-width: 1023px){
    .menu-btn{
      right: 302px;
    }
  }
  @media screen and (max-width: 767px){
    .menu-btn{
      right: 265px;
    }
  }
</style>

    <link rel="alternate" hreflang="en" href="https://www.newyorkerhotel.com/contact/">
    <link rel="alternate" hreflang="es" href="https://www.newyorkerhotel.com/es/contact/">
    <link rel="alternate" hreflang="it" href="https://www.newyorkerhotel.com/it/contact/">
    <link rel="alternate" hreflang="fr" href="https://www.newyorkerhotel.com/fr/contact/">
    <link rel="alternate" hreflang="de" href="https://www.newyorkerhotel.com/de/contact/">
    <link rel="alternate" hreflang="zh-hans" href="https://www.newyorkerhotel.com/zh/contact/">
</head>


  <body ng-app="rezTrip" rt3-hotel-info="hotelInfo" rt3-rooms-browser="browser">
<input type="hidden" id="rezlang" value="fr">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MZGV8GK"
    height="0" width="0" style="display: none; visibility: hidden;"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

   	<nav class="header-wrapper">
  <div class="container-fluid">
    <div class="logo"> <a href="/fr/"><img src="/images/the-new-yorker-logo.svg" alt="Le New Yorker"/></a> </div>
    <div class="main-menu">
      <ul class="nav">
      <!-- <li  class="dropdown" ><a href="/fr/about/"   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >À propos</a>
        <ul class="dropdown-menu">
            <li><a href="/fr/about/">Présentation</a></li>
            <li><a href="/fr/history/">Histoire</a></li>
            <li><a href="/fr/amenities/">Commodités</a></li>
        </ul>
        </li> -->
        <li ><a href="/fr/rooms/"  >Chambres</a></li>
        <li ><a href="/fr/offers/"  >Offres</a></li>
        <li  class="dropdown" ><a href="/fr/location/"   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >Emplacement</a>
        <!-- <ul class="dropdown-menu"><li><a href="/fr/attractions/">Attractions</a></li></ul> --></li>
        <!-- <li ><a href="/fr/dining/"  >Restaurants</a></li> -->
        <li ><a href="/fr/gallery/"  >Galerie</a></li>
        <!-- <li ><a href="/fr/events/"  >Événements</a></li><li ><a href="/fr/blog/"  >Blog</a></li> -->
        <li ><a href="/fr/contact/"  >Coordonnées</a></li>
      </ul>
    </div>
    <div class="menu-btn"></div>
    <div class="booknow langpick">
        <select class="selectpicker" data-width="fit" onchange="location = this.value;">
        <option value="/" data-content='<span class="flag-icon flag-icon-us"></span> EN'></option>
        <option value="/fr/" {% if page.url contains '/fr/'%} selected="selected"{% endif %}  data-content='<span class="flag-icon flag-icon-fr"></span> FR'></option>
        <option value="/es/" {% if page.url contains '/es/'%} selected="selected"{% endif %} data-content='<span class="flag-icon flag-icon-es"></span> ES'></option>
        <option value="/it/" {% if page.url contains '/it/'%} selected="selected"{% endif %} data-content='<span class="flag-icon flag-icon-it"></span> IT'></option>
        <option value="/de/" {% if page.url contains '/de/'%} selected="selected"{% endif %} data-content='<span class="flag-icon flag-icon-de"></span> DE'></option>
        <option value="/zh/" {% if page.url contains '/zh/'%} selected="selected"{% endif %} data-content='<span class="flag-icon flag-icon-zh"></span> ZH'></option>
      </select>
      <a href="javascript:void(0);" show-booking-widget style="font-size:10px; padding-right: 10px; padding-left: 10px;"><span class="cal"><img src="/images/calendar.svg" alt=""/></span>Réservez dès maintenant</a>
    </div>
  </div>
</nav>


    <section class="inner-page-banner contact">
   <div class="overlay">
      <h1>Nous joindre</h1>
      <p>Nous sommes heureux de vous servir.</p>
   </div>
</section>
<section class="discover">
   <div class="two-col-wrapper white_bg cover" style="background-image: url('/images/location/03-black.jpg');">
      <div class="container intro">
         <div class="col-sm-12">
            <div class="content-box-info">

            <div class='tt-region' data-region='en/contact/index.html/inquiries.json' data-region-type='html' data-region-classes='text-center'><div class='tt-region_ped' data-ped-index='0' data-ped-type='html'>
            <p class="text-center">
            Pour toute question, veuillez vous adresser au bureau des ventes au<br> <a  href="tel:212-971-0101">212-971-0101</a> <br>ou remplir le formulaire ci-dessous.</p>
            </div></div>

               <!-- <h5>Services/ Amenities</h5>
               <p>Coffee makers are available upon request.</p>
               <p>Refrigerators are available upon request for a minimal fee.</p>
               <p>Daily Facility Fee: Includes premium Wi-Fi, unlimited domestic/ international calls, access to the business center (internet, printing etc.) and access to the fitness center.</p>
                     <h5>Parking</h5>
           <p>ICON parking located at 1 Penn Plaza (34th street between 7th and 8th avenue). Rates are calculated per 24 hours, with no in and out privileges. On the day of departure the vehicle must be retrieved at the exact time it was dropped off to avoid incurring additional charges.<br>
            Valet Parking is $60.00 for a sedan and $70.00 for an SUV<br>
             Self-parking is $40.00 for a sedan and $50.00 for an SUV</p>
               <h5>Pets</h5>
               <p>The New Yorker Hotel is a pet friendly hotel. There is a pet cleaning fee $25 per night for each pet. No more than 2 pets are allowed in the guest room. The pet must be in a crate when the guest is not in the room.</p>
               <h5>Check-In/ Out</h5>
               <p>Check-in time: 4pm</p>
               <p>Check-out time: 12pm</p>
               <p>Early check-in is based on availability for a minimal fee</p>
               <p>Late check-out is based on availability for a minimal fee</p>
               <h5>Concierge</h5>
               <p>Are you looking to book tickets to a show, a tour bus, or sporting event? Are you looking for ideas on what to do in and around NYC? Our Concierge is here to assist!</p>
               <p>Phone: &nbsp<a href="tel:212-572-5115">212-572-5115</a><br>
               Email: &nbsp<a href="mailto:newyorker@continentalguestservices.com">newyorker@continentalguestservices.com</a></p>

               <h5>Contact</h5>
               <p><a href="tel:212-971-0101">(212) 971-0101</a><br>
                  <a href="mailto:reservations@nyhotel.com">reservations@nyhotel.com</a><br>
                  <a href="mailto:guestservices@nyhotel.com">guestservices@nyhotel.com</a>
               </p> -->

                   <div class="contact-form">
                         <form class="jotform-form" action="https://submit.jotform.me/submit/71714056482456/" method="post" name="form_71714056482456" id="71714056482456" accept-charset="utf-8"> <input type="hidden" name="formID" value="71714056482456" />
                          <div class="two-fields-holder">
                            <div class="col-sm-6 no-padding">
                              <div class="form-group right-space">
                                <input type="text" class="form-control validate[required, Alphabetic]" id="input_3" name="q3_first-name" placeholder="First Name" required>
                              </div>
                            </div>
                            <div class="col-sm-6 no-padding">
                              <div class="form-group left-space">
                                <input type="text" class="form-control validate[required, Alphabetic]" id="input_9" name="q9_last-name" placeholder="Last Name" required>
                              </div>
                            </div>
                          </div>
                          <div class="form-group">
                            <input type="email" class="form-control validate[required, Email]" id="input_4" name="q4_email" placeholder="Email" required>
                          </div>
                          <div class="form-group">
                            <input type="text" class="form-control validate[required]" id="input_5" name="q5_phone" placeholder="Phone Number" required>
                          </div>

                          <div class="form-group">
                            <textarea class="form-control" id="input_7" name="q7_comments" cols="40" rows="5" placeholder="Comments"></textarea>
                          </div>
                          <button type="submit" id="input_2" class="btn-common">Soumettre</button>

                     <script> JotForm.showJotFormPowered = "0"; </script> <input type="hidden" id="simple_spc" name="simple_spc" value="71714056482456" /> <script type="text/javascript"> document.getElementById("si" + "mple" + "_spc").value = "71714056482456-71714056482456"; </script>
                          </form>

                          <script type="text/javascript">JotForm.ownerView=true;</script>
                        </div>

            </div>
            </div>
         </div>
      </div>
   </div>
</section>


    <script>
function getIp(data){
   sessionStorage.ip_add =  data.ip;
}
</script>
<script src="https://api.ipify.org?format=jsonp&callback=getIp"></script>

<script src="/js/jquery-1.11.1.js"></script>

<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>-->

<script src="/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.js"></script>
<script src="/js/lightgallery.js"></script>
<script src="/js/lg-fullscreen.js"></script>
<script src="/js/lg-thumbnail.js"></script>
<script src="/js/jquery.mousewheel.min.js"></script>
<script src="/js/owl.carousel.js"></script>

<script src="/js/angular.min.js"></script>
<script src="/js/jquery-ui.min.js"></script>
<script src="/js/rt3api.js"></script>
<script src="/js/ui-date.js"></script>
<script src="/js/rez-trip.js"></script>
<script src="/js/rt3-services.js"></script>
<script src="/js/rt3-directives.js"></script>
<script src="/js/rt3-filters.js"></script>
<script src="/js/scripts.js"></script>
<script src="/js/utm-tracking.js"></script>
<script src="/js/update-meta.min.js"></script>
<script src="https://plugins.traveltripper.io/v2/rt3api.js"></script>
  <script src="https://plugins.traveltripper.io/v2/jquery.ttweb.js"></script>

  <script >

    TTWeb.Config.configure({
      hotelId: 'NYCNYR', //'orwhatever your values are',
      portalId: 'newyorkerhotel',
      defaultTimezone: 'America/New_York', // timezone of site
      ipAddress: sessionStorage.ip_add,
      defaultCurrency: 'USD',
      //rootPath: 'https://rt3api-prd-ase.ttaws.com' // include this line only if site is on asian server i.e elite and cristalhospitality
    });


    $("[show-booking-widget]").bookingWidget({
         showRateCalendar: true,
         showOfferCode: true
    });
  </script>






    <footer class="footer-wrap">
  <div class="container no-padding">
  		<div class="col-md-3 col-sm-6 no-padding">
        	<div class="footer-logo"><a href="/fr/"><img src="/images/the-new-yorker-logo-black.svg" alt="Le New Yorker"/></a></div>
        </div>
        <div class="col-md-3 col-sm-6 no-padding">
        	<div class="address">
            	<h3>Coordonnées</h3>
                <p>
                	<a href="https://goo.gl/maps/m7a6UQKkgcH2" target="_blank"> <span>481, 8e avenue et 34e rue</span> <span>New York (New York) 10001</span> <span>212-971-0101</span> </a>
                 </p>
                <p>
                	<span><a href="mailto:reservations@nyhotel.com">reservations@nyhotel.com</a></span> <span><a href="mailto:guestservices@nyhotel.com">guestservices@nyhotel.com</a></span>
                </p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 no-padding">
        	<div class="links extra-padding">
            	<h3>Liens</h3>
            	<ul>
                    <!-- <li><a href="/fr/about/">À propos</a></li> -->
                    <li><a href="/fr/rooms/">Chambres</a></li>
                    <li><a href="/fr/offers/">Offres</a></li>
                    <li><a href="/fr/location/">Emplacement</a></li>
                    <!-- <li><a href="/fr/dining/">Restaurants</a></li> -->
                    <li><a href="/fr/gallery/">Galerie</a></li>
                    <!-- <li><a href="/frmailto:hr@nyhotel.com">Carrières</a></li> -->
                    <li><a href="/fr/contact/">Coordonnées</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 no-padding">
        	<div class="social extra-padding">
            	<h3>Suivez-nous</h3>
            	<a href="https://www.facebook.com/newyorkerhotel" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a> <a href="https://twitter.com/WyndhamNYH" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a> <a href="https://www.instagram.com/newyorkerhotel/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a> <a href="https://www.youtube.com/channel/UCXDFDBPGBkC07HOxL7ISQLQ" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
            </div>
        </div>
  </div>
</footer>






  </body>

</html>
