---
layout: default
---
<section class="inner-page-banner about">
<div class="overlay">
	<h1>Historic new yorker</h1>
    <p>Built in 1929, during the height of the Jazz Age, Wyndham New Yorker has dazzled visitors with its
Art Deco décor, exceptional service, and superb location in Midtown West for generations.</p>
</div>
</section>
<div class="two-col-wrapper padding80 white_bg cover about" style="background-image: url('/images/about/our-art-bg.jpg');">
     <div class="container">
     	  <div class="row">
     	      <div class="col-sm-6">
     	      	   <div id="amenitiesCarousel" class="carousel slide no-shadow margin22" data-ride="carousel">

     	      	     <!-- Wrapper for slides -->
     	      	     <div class="carousel-inner" role="listbox">
     	      	       <div class="item active">
     	      	         <img src="/images/about/nyhotel-front.jpg" alt="front view">
     	      	       </div>

     	      	       <div class="item">
     	      	          <img src="/images/about/nyhotel-front.jpg" alt="front view">
     	      	       </div>

     	      	     </div>

     	      	     <!-- Left and right controls -->
     	      	     <a class="left carousel-control" href="#amenitiesCarousel" role="button" data-slide="prev">
     	      	       <img src="/images/amenities/arrow-left.png">
     	      	     </a>
     	      	     <a class="right carousel-control" href="#amenitiesCarousel" role="button" data-slide="next">
     	      	       <img src="/images/amenities/arrow-right.png">
     	      	     </a>
     	      	   </div>
     	      </div>
     	      <div class="col-sm-6">
     	           <div class="content-box our-art">
		     	      	   <h2>Our Art Deco<br>NYC Hotel</h2>
		     	      	   <p>Luminaries including Nikola Tesla, John F. Kennedy, Muhammad Ali and Jennifer Hudson have stayed here at our NYC Art Deco hotel. Learn more about our past, present, and future – and then add your name to our list of VIP guests!</p>
		     	      	   <div class="btn-holder">
		     	      	      <a class="btn-common" href="#"> discover hotel amenities</a>
		     	      	   </div>
     	      	   </div>
     	      </div>
     	  </div>
     </div>
</div>
<div class="two-cal-wraper-full">
	<div class="col-sm-6 no-padding">
		<div class="content-area" style="background-image:url(/images/about/events.jpg)";>
		<div class="overlay">
			<h1>world-class Events</h1>
			<h4>UNIQUE EVENT SPACES</h4>
			</div>
		</div>
	</div>
	<div class="col-sm-6 no-padding">
		<div class="content-area" style="background-image:url(/images/about/delight.jpg);">
		<div class="overlay">
			<h1>Cullinary Delight</h1>
			<h4>EXPERIENCE NY CITY DINING</h4>
			</div>
		</div>
	</div>
</div>
<div class="clearfix"></div>
<div class="two-col-wrapper padding80 white_bg cover landmark" style="background-image: url('/images/about/landmark-bg.jpg');">
   <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

   <!-- Indicators -->
	  <ol class="carousel-indicators">
		<li data-target="#carousel-example-generic" data-slide-to="0" class="active">Our Past</li>
	  </ol>


   <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <div class="container">
     	  <div class="row">
     	      <div class="col-sm-6">
     	           <div class="content-box">
		     	      	   <h2>An iconic <br>landmark</h2>
		     	      	   <p>The New Yorker was at the forefront of the city’s building boom in the 1920s. At the time of its opening, it was the largest hotel in New York City, with 2,500 rooms, as well as ballrooms and private dining “salons” – not to mention the nation’s largest
							   private power plant, installed in the hotel’s sub basements.</p>

<p>The Big Band era of the early 1930s ushered in the first heyday of the New Yorker, as guests affected by the Great Depression visited the hotel to forget their troubles, if only for a short while. </p>

     	      	   </div>
     	      </div>
     	      <div class="col-sm-5">
     	      	  <img src="/images/about/ali-newyorker.jpg" alt="Ali Newyorker">
     	      </div>

     	  	</div>
     	  </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>

<section class="offers-wrapper rooms-rates">
     <div class="container-fluid">
     	      <div class="col-sm-4 no-padding-margin" ng-repeat ="room in browser.roomsList | limitTo: 3">
     	                   <div class="thumb">
     	                        <div class="caption" style="background-image: url([[room.photos[0].yankee_large]]);">
    	                             <span>Tonight’s rate $ <strong><a href="{{site.data.config.reztripUrl}}search?selected_room_category=[[room.category]]&selected_room=[[room.code]]" target="_blank"><span>[[ room.todayRate ]]</span></a></strong></span>
     	                             <h3>[[room.name]]</h3>
     	                              <a href="/rooms/#[[room.name | formatNameForLink]]" class="btn-common" rel="tooltip" title="View This Offer">View Room</a>
     	                              <div class="clearfix"></div>
     	                             <a ng-href="{{site.data.config.reztripUrl}}search?selected_room_category=[[room.category]]&selected_room=[[room.code]]" target="_blank"><img class="cal-icon" src="../images/about/calendar-icon.jpg" alt="Calendar" /></a>
     	                         </div>

     	                     </div>
     	      </div>

     </div>
</section>
{% include exclusive-offer.html %}


{% include newsletter.html %}
{% include twitter-instagram.html %}
