---
layout: default
---
<section class="our-art-deco">
  <div class="container">
  		<div class="col-md-6">
  			<div class="slide">
  				<img src="../images/about/nyhotel-front.jpg" alt="Hotel front view" />
  			</div>
  		</div>
  		<div class="col-md-6">
  			<div class="slide-content pull-right">
  				<h1>Our Art Deco <br>NYC Hotel</h1>
  				<div class="divider"></div>
  				<p>Luminaries including Nikola Tesla, John F. Kennedy, Muhammad Ali and Jennifer Hudson have stayed here at our NYC Art Deco hotel. Learn more about our past, present, and future – and then add your name to our list of VIP guests!</p>
  				<a href="#">discover hotel amenities</a>
  			</div>
  		</div>
  </div>
</section>
