---
layout: default
---
<!--Banner here-->
<section class="inner-page-banner banner" style="background-image:url(/images/attractions-banner.jpg);">
	<div class="overlay">
        <h1>Attractions</h1>
        <p>The New Yorker Hotel’s picture-perfect location in Midtown Manhattan, is just minutes from the Jacob Javits Center, Penn Station and Madison Square Garden, puts some of the city’s most remarkable attractions right at your doorstep.</p>
    </div>
</section>
{% assign attractions = site.data._models.attractions | sort : 'sort_order' %}
{% for a in attractions %}
<section class="intro-wrap cta-events attractions-listing">
	<div class="container">
        <div class="intro">
            <div class="col-sm-5 no-padding cta-events-img" style="background-image: url({{a.attraction_image.url}})">
            	<div class="-left">
                	<div class="btn-holder"><a href="{{a.url_friendly_name}}/" class="btn-common">View this Attraction</a></div>
                </div>
            </div>
            <div class="col-sm-7 no-padding">
                <div class="-right">
                   <h2><a href="{{a.url_friendly_name}}/">{{a.title}}</a></h2>
                    <p>{{a.short_description}}</p>
               </div>
          </div>
        </div>
    </div>
</section>
{% endfor %}
{% include newsletter.html %}
{% include twitter-instagram.html %}

    
        
    

