---
layout: default
---
<!--Banner here-->
<section class="inner-page-banner banner" style="background-image:url(/images/attractions-banner.jpg);">
	<div class="overlay">
        <h1>Attractions</h1>
        <p>Hosting a meeting, conference, or corporate gathering? We offer you an unparalleled location steps from Penn Station, 23,000 square feet of impeccably appointed event space, and a full range of event planning and catering services.</p>
    </div>
</section>

{% for attractions in site.data._models.attractions %}
<section class="intro-wrap cta-events attractions-listing">
	<div class="container">
        <div class="intro">
            <div class="col-sm-5 no-padding cta-events-img" style="background-image: url({{attractions.attraction_image.url}})">
            	<div class="-left">
                	<div class="btn-holder"><a href="{{attractions.url_friendly_name}}" class="btn-common">View this Attraction</a></div>
                </div>
            </div>
            <div class="col-sm-7 no-padding">
                <div class="-right">
                   <h2>{{attractions.title}}</h2>
                    <p>{{attractions.short_description}}</p>
               </div>
          </div>
        </div>
    </div>
</section>
{% endfor %}
{% include newsletter.html %}
{% include twitter-instagram.html %}

    
        
    

