---
layout: default
---

{% assign attractions = page %}
{% assign model = page %}
<section class="location-tabs event-details">
  <div class="container no-padding ">
    <div class="content-container">
      <div class="col-sm-6 no-padding">
        <div class="desc">
        	<h2>{{attractions.title}}</h2>
            <p>{{attractions.detailpage_description}}</p>
            <div class="website"><span class="date-label">Website</span><a href="{{attractions.website_url}}">{{attractions.website_url}}</a></div>
        </div>
      </div>
      <div class="col-sm-6 no-padding tabs-img" style="background-image: url({{attractions.attraction_image.url}})">   
      </div>
    </div>
  </div>
</section>
{% include newsletter.html %}
{% include twitter-instagram.html %}