---
layout: default
---
<!--Banner here-->
<section class="inner-page-banner banner" style="background-image:url(/images/attractions-banner.jpg);">
	<div class="overlay">
        <h1>Attractions</h1>
        <p>The New Yorker, A Wyndham Hotel's picture-perfect location in Midtown West, just moments from the Jacob Javits Center and Penn Station, puts some of the city’s most remarkable attractions right at your doorstep.</p>
    </div>
</section>
{% assign attractions = site.data._models.attractions | sort : 'sort_order' %}
<!--{% for attractions in site.data._models.attractions | sort : 'sort_order' %}-->
{% for attractions in attractions %}
<section class="intro-wrap cta-events attractions-listing">
	<div class="container">
        <div class="intro">
            <div class="col-sm-5 no-padding cta-events-img" style="background-image: url({{attractions.attraction_image.url}})">
            	<div class="-left">
                	<div class="btn-holder"><a href="{{attractions.url_friendly_name}}" class="btn-common">View this Attraction</a></div>
                </div>
            </div>
            <div class="col-sm-7 no-padding">
                <div class="-right">
                   <h2>{{attractions.title}}</h2>
                    <p>{{attractions.short_description}}</p>
               </div>
          </div>
        </div>
    </div>
</section>
{% endfor %}
{% include newsletter.html %}
{% include twitter-instagram.html %}

    
        
    

