---
layout: default
pagename: about
---
{% assign blog = page %}
{% assign model = page %}
<!--Banner here-->
<section class="inner-page-banner banner detail" style="background-image:url(/images/blog/blog-details-banner.jpg);">
	<div class="overlay overlay-lite">
        <h6>Blog</h6>
    </div>
</section>

<section class="blog-details">
	<div class="container">
    	<div class="col-sm-7 no-padding">
        	<div class="-left">
            	<h1>{{blog.title}}</h1>
              <div class="date-holder">{{blog.date  |  date: "%B %d, %Y"}}</div>
                {{blog.more_content}}
                <div class="btn-holder"><a href="/blog/" class="btn-common">See all blog posts</a></div>
                <div class="col-xs-12 share-links">
              <h4>Share On</h4>
			  <a href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{ page.url }}&title={{blog.title}}&description={{ blog.blog_post | strip_html | truncatewords: 20 | remove: '<p>' | remove: '</p>'}}&caption=Triumph Hotels&picture={{blog.image.url}}" class="fa fa-facebook" title="Share on Facebook" onClick="window.open(this.href,'targetWindow','toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=250'); return false;" ></a>
                        <a  href="https://twitter.com/intent/tweet?{% if site.data.social.twitter.username %}via={{ site.data.social.twitter.username }}&{% endif %}text={{ post.title }} {{site.url}}{{ page.url }}" title="Share on Twitter"><i class="fa fa-fw fa-twitter" aria-hidden="true"></i></a>

                        <a href="https://plus.google.com/share?url={{site.url}}{{ page.url }}" class="fa fa-google-plus" onClick="window.open(this.href,'targetWindow','toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=250'); return false;" ></a>
            </div>
            </div>
        </div>
        <div class="col-sm-5 no-padding">
        	<div class="-right">
            	<h3>Most recent blog posts</h3>
                {% assign blog = site.data._models.blog %}
				{% for a in blog limit:5  | sort : 'date' %}
                <div class="fe-item">
            	<p><a href="/blog/{{a.url_friendly_name}}/"><img src="{{a.blogimage.url}}" alt=""/></a></p>
                <p><a href="/blog/{{a.url_friendly_name}}/">{{a.title}}</a></p>
                </div>
                {% endfor %}
                <div class="btn-holder"><a href="/blog/" class="btn-common">See all blog posts</a></div>
            </div>
            </div>
        </div>
    </div>
</section>

{% include newsletter.html %}
{% include twitter-instagram.html %}
