---
layout: default
pagename: blog
---
{% assign post = site.data._models.blog  %}
{% assign blog = page %}
{% assign seo_title = blog.seo_title %}
{% assign seo_description = blog.seo_description %}

{% for p in post %}
    {% if p.url_friendly_name == blog.url_friendly_name %}
        {% assign pInd = forloop.index0 | minus: 1 %}
        {% assign nInd = forloop.index0 | plus: 1 %}
        {% if forloop.first != true %}
            {% assign prevPostTitle = post[pInd].title %}
            {% assign prevPostUrl = post[pInd].url_friendly_name %}
        {% endif %}
        {% if forloop.last != true %}
            {% assign nextPostTitle = post[nInd].title %}
            {% assign nextPostUrl = post[nInd].url_friendly_name %}
        {% endif %}
    {% endif %}
{% endfor %}


{% assign model = page %}

<!--Banner here-->

<section>
  <div class="container-fluid no-padding">
    <div class="page-banner" style="background-image:url(/images/blog/blog-details-banner.jpg);">
    <div class="page-title">
      <h2>Blog</h2>
      <p>Find out what to do and where to go in the greatest city in the world from the hotel that shares its name — The New Yorker.</p>
    </div>
    </div>
  </div>
</section>

<section class="blog blog--single">
  <div class="blog__row">
    <div class="blog__categories">
      {% include blog-categories.html %}
    </div>
    <div class="blog__list">
      <div class="blog__item">
        <h1>{{ blog.title }}</h1>
        <div class="blog__info">
          <span class="blog__date">{% assign d = blog.date | date: "%-d" %}
                  {{ blog.date | date: "%B" }}
                  {% case d %}{% when "1" or "21" or "31" %}{{ d }}st{% when "2" or "22" %}{{ d }}nd{% when "3" or "23" %}{{ d }}rd{% else %}{{ d }}th{% endcase %},
                  {{ blog.date | date: "%Y" }}</span>
					{% if blog.category %}
					<a href="/blog/category/{{blog.category.url_friendly_name}}/" class="blog__category">{{ blog.category.title }}</a>
					{% endif %}
        </div>


        {{ blog.more_content }}

        <div class="blog__share">
          {% include social-share.html %}
        </div>

        <div class="pagenav">
                    {%if prevPostUrl %}
                    <a class="prev" href="/blog/{{prevPostUrl}}" title="Previous Blog"><i class="fa fa-arrow-left" aria-hidden="true"></i> Prev </a> |
                    {%else%}
                    <a class="prev not-active" href="/blog/{{prevPostUrl}}/" title="Current Blog"><i class="fa fa-arrow-left" aria-hidden="true"></i> Prev </a> |
                    {%endif%}
                    {%if nextPostUrl %}
                    <a class="next" href="/blog/{{nextPostUrl}}" title="Next Blog">Next <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                    {%else%}
                    <a class="next not-active" href="/blog/{{nextPostUrl}}/" title="Next Blog">Next <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                    {%endif%}
                </div>

        <div class="btn-holder">
          <a href="/blog/" class="btn-common">see all blog posts</a>
        </div>
      </div>

    </div>

  </div>
</section>

{% include newsletter.html %}
{% include twitter-instagram.html %}
