---
layout: default
---  

<section class="inner-page-banner about">
<div class="overlay">
    <h1>Contact Us</h1>
    <p>Happy to Help You.</p>
</div>
</section>


<section class="discover">
    <div class="two-col-wrapper"> 
         <div class="container intro">
              
                  <div class="col-sm-6">
                  <div class="content">
                      <h2>Accessibility</h2>
                      <p>New York is one of the world’s most famous cities – full of countless things to see, do and experience. The New Yorker, A Wyndham Hotel's picture-perfect location in Midtown West, just moments from the Jacob Javits Center and Penn Station, puts some of the city’s most remarkable attractions right at your doorstep.</p>
                      <h2>Overview</h2>
                      <p>New York is one of the world’s most famous cities – full of countless things to see, do and experience. The New Yorker, A Wyndham Hotel's picture-perfect location in Midtown West, just moments from the Jacob Javits Center and Penn Station, puts some of the city’s most remarkable attractions right at your doorstep.</p>
                      <h2>Content 3</h2>
                      <p>New York is one of the world’s most famous cities – full of countless things to see, do and experience. The New Yorker, A Wyndham Hotel's picture-perfect location in Midtown West, just moments from the Jacob Javits Center and Penn Station, puts some of the city’s most remarkable attractions right at your doorstep.</p>
                      <div class="btn-holder">
                              <a class="btn-common" href="#"> Button</a>
                           </div>
                  </div>
                </div>
                  <div class="col-sm-6">
                       <div class="content-box">
                           <h5>Services/ Amenities</h5>
                          <p>Coffee makers are available upon request.</p>
                          <p>Refrigerators are available upon request for a minimal fee.</p>
                          <p>Daily Facility Fee: Includes premium Wi-Fi, unlimited domestic/ international calls, access to the business center (internet, printing etc.) and access to the fitness center.</p>
                           <h5>Pets</h5>
                           <p>The New Yorker Hotel is a pet friendly hotel. There is a pet cleaning fee $25 per night for each pet. No more than 2 pets are allowed in the guest room. The pet must be in a crate when the guest is not in the room.</p>
                           <h5>Check-In/ Out</h5>
                           <p>Check-in time: 4pm</p>
                           <p>Check-out time: 12pm</p>
                           <p>Early check-in is based on availability for a minimal fee</p>
                           <p>Late check-out is based on availability for a minimal fee</p>
                           <h5>Contact</h5>
                           <p><a href="tel:212-971-0101">(212) 971-0101</a><br>
                            <a href="mailto:reservations@nyhotel.com">reservations@nyhotel.com</a><br>
                            <a href="mailto:guestservices@nyhotel.com">guestservices@nyhotel.com</a>
                           </p>
                       </div>
                  </div>
              
         </div> 
    </div>
</section>



<!--<section class="loc-main">
<div class="loc-main-inner">
	<div class="container loc-content">
    	
    		<div class="col-sm-7">
            <div class="loc-con-inner">
        		<div class="left-column">
                	{% region accessability %}
                    
                    {% region overview %}


<p>

<span class="sb-img">{% region starbucks-logo-image %}</span><br><br>

{% region starbuck-section-1 %}

</p>

{% region cuban-inspired-walkmap %}
              

{% region old-town-shuttle-service %}


                    
              </div>
              </div>
              <div class="shuttle-graphic sg-desktop">{% region shuttle-graphic-image %}</div>
        	</div>
        	<div class="col-sm-5">
        		<section class="discover">
    <div class="two-col-wrapper">
         <div class="container">
                       <div class="content-box">
                           <h5>Services/ Amenities</h5>
                          <p>Coffee makers are available upon request.</p>
                          <p>Refrigerators are available upon request for a minimal fee.</p>
                          <p>Daily Facility Fee: Includes premium Wi-Fi, unlimited domestic/ international calls, access to the business center (internet, printing etc.) and access to the fitness center.</p>
                           <h5>Pets</h5>
                           <p>The New Yorker Hotel is a pet friendly hotel. There is a pet cleaning fee $25 per night for each pet. No more than 2 pets are allowed in the guest room. The pet must be in a crate when the guest is not in the room.</p>
                           <h5>Check-In/ Out</h5>
                           <p>Check-in time: 4pm</p>
                           <p>Check-out time: 12pm</p>
                           <p>Early check-in is based on availability for a minimal fee</p>
                           <p>Late check-out is based on availability for a minimal fee</p>
                           <h5>Contact</h5>
                           <p><a href="tel:212-971-0101">(212) 971-0101</a><br>
                            <a href="mailto:reservations@nyhotel.com">reservations@nyhotel.com</a><br>
                            <a href="mailto:guestservices@nyhotel.com">guestservices@nyhotel.com</a>
                           </p>
                       </div>
         </div> 
    </div>
</section>
        	</div>
            <div class="shuttle-graphic sg-mobile">{% region shuttle-graphic-image %}</div>
    </div>
    
    </div>
</section>-->