---
layout: default
---  
<section class="inner-page-banner contact">
   <div class="overlay">
      <h1>Contact Us</h1>
      <p>Happy to Help You.</p>
   </div>
</section>
<section class="discover">
   <div class="two-col-wrapper">
      <div class="container intro">
         <div class="col-sm-8">
            <div class="content">
               <h2>Overview</h2>
               <p>Are you looking to book tickets to a show, a tour bus, or sporting event? Are you looking for ideas on what to do in and around NYC? Our Concierge is here to assist!</p>
               <div class="btn-holder">
                  <a class="btn-common" href="#"> View Special Offers</a>
               </div>
               <h2>Concierge</h2>
               <p>Are you looking to book tickets to a show, a tour bus, or sporting event? Are you looking for ideas on what to do in and around NYC? Our Concierge is here to assist!</p>
               <p>Phone: &nbsp<a href="tel:212-572-5115">212-572-5115</a><br>
               Email: &nbsp<a href="newyorker@continentalguestservices.com">newyorker@continentalguestservices.com</a></p>
            </div>
         </div>
         <div class="col-sm-4">
            <div class="content-box">
               <h5>Services/ Amenities</h5>
               <p>Coffee makers are available upon request.</p>
               <p>Refrigerators are available upon request for a minimal fee.</p>
               <p>Daily Facility Fee: Includes premium Wi-Fi, unlimited domestic/ international calls, access to the business center (internet, printing etc.) and access to the fitness center.</p>
               <h5>Pets</h5>
               <p>The New Yorker Hotel is a pet friendly hotel. There is a pet cleaning fee $25 per night for each pet. No more than 2 pets are allowed in the guest room. The pet must be in a crate when the guest is not in the room.</p>
               <h5>Check-In/ Out</h5>
               <p>Check-in time: 4pm</p>
               <p>Check-out time: 12pm</p>
               <p>Early check-in is based on availability for a minimal fee</p>
               <p>Late check-out is based on availability for a minimal fee</p>
               <h5>Contact</h5>
               <p><a href="tel:212-971-0101">(212) 971-0101</a><br>
                  <a href="mailto:reservations@nyhotel.com">reservations@nyhotel.com</a><br>
                  <a href="mailto:guestservices@nyhotel.com">guestservices@nyhotel.com</a>
               </p>
            </div>
         </div>
      </div>
   </div>
</section>