---
layout: default
---
<section class="inner-page-banner contact">
   <div class="overlay"></div>
      <h1 tabindex="0">CONNECT WITH US</h1>
      <p tabindex="0">Stay up to date with all things New Yorker Hotel and New York City.</p>
      <div class="social">
          <h4 tabindex="0">Follow Us</h4>
          <a href="https://www.facebook.com/newyorkerhotel" rel="nofollow" target="_blank" title="facebook"><span class="sr-only">fb</span><i class="fa fa-facebook" aria-hidden="true"></i></a>
          <a href="https://twitter.com/WyndhamNYH" rel="nofollow" target="_blank" title="twitter"><span class="sr-only">tw</span><i class="fa fa-twitter" aria-hidden="true"></i></a>
          <a href="https://www.instagram.com/newyorkerhotel/" rel="nofollow" target="_blank" title="instagram"><span class="sr-only">in</span><i class="fa fa-instagram" aria-hidden="true"></i></a>
          <a href="https://www.youtube.com/channel/UCXDFDBPGBkC07HOxL7ISQLQ" rel="nofollow" target="_blank" title="youtube"><span class="sr-only">yut</span><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
      </div>
      <div class="newsletter-signup">
          <div class="container">
              <div class="row no-gutters">
                  <div class="col-md-12">
                    <h4 tabindex="0">Sign-up for the latest updates</h4>
                      <form class="jotform-form" action="" method="post" id="NLF" name="form_63621092258455" accept-charset="utf-8">
                          <input type="hidden" id="NLF-formId" name="formId" value="7D093D5D-E7A1-4210-8430-87B91CE2F096" title="hidden" aria-label="hidden" />
                          <div class="input-group">
                              <input type="email" class="form-control validate[required]" placeholder="Enter Your Email Address" id="NLF-email" name="emailAddress" value="" placeholder="YOUR EMAIL" title="YOUR EMAIL" aria-label="YOUR EMAIL" required="required">
                              <span class="input-group-btn">
                          <button class="btn btn-default" id="NLF-submit" type="submit" title="Submit" aria-label="Submit" ><img src="/images/arrow-right.png" width="26" height="21" alt="Submit"/></button>
                        </span>
                          </div>
                          <!-- /input-group -->
                      </form>
                  </div>
              </div>
          </div>
      </div>
</section>
<!-- <section class="discover">
   <div class="two-col-wrapper white_bg cover" style="background-image: url('/images/location/03-black.jpg');">
      <div class="container intro">
         <div class="col-sm-12">
            <div class="content-box-info">

            {% regionblock inquiries %}
            <p class="text-center" tabindex="0">
            For inquiries, please call the Hotel at<br> <a  href="tel:212-971-0101" title="(212) 971 0101">(212) 971 0101</a> <br>or fill out the form below.</p>
            {% endregionblock %}

                   <div class="contact-form">
                         <form class="jotform-form" action="https://submit.jotform.me/submit/71714056482456/" method="post" name="form_71714056482456" id="71714056482456" accept-charset="utf-8"> <input type="hidden" name="formID" value="71714056482456" title="hidden" aria-label="hidden" />
                          <div class="two-fields-holder">
                            <div class="col-sm-6 no-padding">
                              <div class="form-group right-space">
                                <input type="text" class="form-control validate[required, Alphabetic]" id="input_3" name="q3_first-name" placeholder="First Name" required title="First Name" aria-label="First Name">
                              </div>
                            </div>
                            <div class="col-sm-6 no-padding">
                              <div class="form-group left-space">
                                <input type="text" class="form-control validate[required, Alphabetic]" id="input_9" name="q9_last-name" placeholder="Last Name" required title="Last Name" aria-label="Last Name">
                              </div>
                            </div>
                          </div>
                          <div class="form-group">
                            <input type="email" class="form-control validate[required, Email]" id="input_4" name="q4_email" placeholder="Email" required title="Email" aria-label="Email">
                          </div>
                          <div class="form-group">
                            <input type="text" class="form-control validate[required]" id="input_5" name="q5_phone" placeholder="Phone Number" required title="Phone Number" aria-label="Phone Number">
                          </div>

                          <div class="form-group">
                            <textarea class="form-control" id="input_7" name="q7_comments" cols="40" rows="5" placeholder="Comments" title="Comments" aria-label="Comments"></textarea>
                          </div>
                          <button type="submit" id="input_2" class="btn-common" title="Submit" aria-label="Submit">Submit</button>

                     <script> JotForm.showJotFormPowered = "0"; </script> <input type="hidden" id="simple_spc" name="simple_spc" value="71714056482456" title="hidden" aria-label="hidden" /> <script type="text/javascript"> document.getElementById("si" + "mple" + "_spc").value = "71714056482456-71714056482456"; </script>
                          </form>

                          <script type="text/javascript">JotForm.ownerView=true;</script>
                        </div>

            </div>
            </div>
         </div>
      </div>
   </div>
</section> -->
