<!DOCTYPE html>
<html>
  {% include head.html %}
  <body ng-app="rezTrip" rt3-hotel-info="hotelInfo" rt3-rooms-browser="browser">
  
  <!-- Google Tag Manager (noscript) -->
<!--<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MZGV8GK"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>-->
<!-- End Google Tag Manager (noscript) -->

   	{% include header.html %}

        {{ content }}

    {% include scripts.html %}
    {% include footer.html %}

    {% if page.map == true %}
	{% include map.html %}
{% endif %}

    {% include booking-widget.html %}

  </body>
</html>
