---
layout: default
---
<!--Banner here-->
<section class="inner-page-banner banner" style="background-image:url(/images/events/events-banner.jpg);">
	<div class="overlay">
        <h1>Meetings & Events</h1>
        <p>Hosting a meeting, conference, or corporate gathering? We offer you an unparalleled location steps from Penn Station, 23,000 square feet of impeccably appointed event space, and a full range of event planning and catering services.</p>
    </div>
</section>
<section class="intro-wrap events">
	<div class="container-fluid">
        <div class="intro">
          <div class="col-sm-5 no-padding">
                <div class="-left">
                    <div class="img-holder"><img src="/images/events/events-intro-1.jpg" alt=""/></div>
                    <div class="img-holder"><img src="/images/events/events-intro-2.jpg" alt=""/><a href="javascript:void(0);" id="ev"><img src="/images/play-icon.svg" class="play-icon"></a></div>
              </div>
          </div>
            <div class="col-sm-7 no-padding intro-bg" style="background-image:url(/images/events/events-intro-bg.jpg);">
            	<div class="-right">
                	<h2>Meetings at<br>The New Yorker</h2>
                    <p>Meetings and business gatherings of every size and style – from small retreats to grand corporate galas – absolutely shine here at The New Yorker. Peruse our range of all-inclusive, customizable meeting packages, select your ideal New York event venue and start planning your gathering here today!</p>
                    <div class="btn-holder"><span class="btn-block"><a href="https://www.speedrfp.com/irfps/singlefacility/choose/fb6c8b1dd225949d/?uid=71NK5" target="_blank" class="btn-common btn-spacing">Request for Proposal</a></span><span><a href="mailto:sales@nyhotel.com" class="btn-common">Contact Us</a></span></div>
                    <p class="black">For more information contact us at <a href="tel:212-244-0719"><strong>212-244-0719</strong></a><br>
						or email your request to <a href="mailto:sales@nyhotel.com"><strong>sales@nyhotel.com</strong></a></p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="intro-wrap events-wrap custom-carousel">
	<div class="container">
        <div class="intro">
          <div class="col-sm-5 no-padding">
                <div class="-right">
                   <h2>Social Events</h2>
                    <p>Host a small seminar in one of our conference rooms, or a reception in our stunning Grand Ballroom. Our 39th floor Sky Lounge provides a unique and inspiring meeting venue for up to 35 guests, with its sweeping views of the Empire State Building, the Statue of Liberty, and other legendary New York landmarks.</p>
                    <div class="btn-holder"><a href="https://www.speedrfp.com/irfps/singlefacility/choose/fb6c8b1dd225949d/?uid=71NK5" target="_blank" class="btn-common">Request for Proposal</a></div>
              </div>
          </div>
            <div class="col-sm-7 no-padding">
            	<div class="-left">
                	<div id="home-room-banner" class="carousel slide" data-ride="carousel">
  
                       <!-- Wrapper for slides -->
                      <div class="carousel-inner" role="listbox">
                        <div class="item active"><img src="/images/events/events-car-1.jpg"></div>
                      </div>
                      
                      
                      <!-- Left and right controls -->
                     <!-- <a class="left carousel-control" href="#home-room-banner" role="button" data-slide="prev">
                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                        <span class="sr-only">Previous</span>
                      </a>
                      <a class="right carousel-control" href="#home-room-banner" role="button" data-slide="next">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                        <span class="sr-only">Next</span>
                      </a>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="cta-one events-cta" style="background-image:url(/images/events/events-cta.jpg)">
	<div class="container">
    	<div class="banner-overlay"></div>
        <div class="cta-content">
            <h4>Dreams really do come true at the historic New Yorker Hotel!</h4>
            <h3>An elegant affair</h3>
            <p>Please email us at <a href="mailto:sales@nyhotel.com"><strong>sales@nyhotel.com</strong></a> or contact our event professionals<br>
at <a href="tel:(212) 971-0101"><strong>(212) 971-0101</strong></a> to help plan your happily forever after moment.</p>
            <div class="btn-holder"><span class="btn-block"><a href="https://www.speedrfp.com/irfps/singlefacility/choose/fb6c8b1dd225949d/?uid=71NK5" target="_blank" class="btn-common btn-white btn-spacing">Request for Proposal</a></span><span class="btn-block"><a href="mailto:sales@nyhotel.com" class="btn-common btn-white">Contact Us</a></span></div>
        </div>
    </div>
</section>
<section class="discover dining events-content">
	<div class="two-col-wrapper padding80 white_bg cover" style="background-image: url('/images/events/grand-ballroom.jpg');">
    	 <div class="container intro">
         	<div class="row no-gutters">
            	<div class="col-sm-6">
                  <div class="content">
                      <h2>Our unique<br>Event SPACES</h2>
                      <div class="btn-holder"><a href="https://www.speedrfp.com/irfps/singlefacility/choose/fb6c8b1dd225949d/?uid=71NK5" target="_blank" class="btn-common">Request for Proposal</a></div>
                      <p>Hosting a meeting, conference, or corporate gathering? Let The New Yorker Hotel set the stage for an amazing event!</p>
                  </div>
                </div>
                <div class="col-sm-6">
           	    	<div class="img"><img src="/images/events/events-dining.jpg" alt="" class="img-responsive"/></div> 
                </div>
            </div>
         </div> 
         
         <div class="container">
              <div class="row no-gutters m-t--150">
                  <div class="col-sm-6 no-gutters">
                       <div id="amenitiesCarousel" class="carousel slide no-shadow margin22" data-ride="carousel"> 
    					 <!-- Wrapper for slides -->
                         <div class="carousel-inner" role="listbox">
                           <div class="item active">
                             <img src="/images/events/events-meetings-1.jpg" alt="Dining">
                           </div>
    					   
     					  </div>
    					 <!-- Left and right controls -->
                         <!--<a class="left carousel-control" href="#amenitiesCarousel" role="button" data-slide="prev">
                           <img src="/images/amenities/arrow-left.png">
                         </a>
                         <a class="right carousel-control" href="#amenitiesCarousel" role="button" data-slide="next">
                           <img src="/images/amenities/arrow-right.png"> 
                         </a>-->
                       </div>
                  </div>
                  <div class="col-sm-6">
                       <div class="content-box">
                                <p> We offer you an unparalleled location steps from Penn Station, 23,000 square feet of impeccably appointed event space, and a full range of event planning and catering services. Host a small seminar in one of our conference rooms, or a reception in our stunning Grand Ballroom.</p>

<p>Our 39th floor Sky Lounge provides a unique and inspiring meeting venue for up to 35 guests, with its sweeping views of the Empire State Building, the Statue of Liberty, and other legendary New York landmarks.</p>
							   <!--<div class="btn-holder">
                                  <a class="btn-common" href="#">Download Floor Plans</a>
                               </div>-->
                       </div>
                  </div>
              </div>
         </div> 
    </div>
</section>
<section class="intro-wrap cta-events">
	<div class="container-fluid">
        <div class="intro">
            <div class="col-sm-5 no-padding cta-events-img" style="background-image:url(/images/events/events-ballroom.jpg)">
            	<div class="-left">
                	<div class="btn-holder"><a href="/rooms/" class="btn-common">View our rooms</a></div>
                </div>
            </div>
            <div class="col-sm-7 no-padding">
                <div class="-right">
                   <h2>Manhattan<br>Center</h2>
                    <p>The Manhattan Center’s history is a fascinating one - originally known as the Manhattan Opera House, it was built in the early 20th century by Oscar Hammerstein I, who accepted a large payout to stop producing opera from the rival Metropolitan Opera several years later. In 1939, the building was renamed the Manhattan Center, and has hosted marquee events of varying types ever since.</p>
                    
              </div>
          </div>
        </div>
    </div>
</section>
<section class="cta-one events-cta-2" style="background-image:url(/images/events/events-cta-2.jpg)">
	<div class="container">
    	<div class="banner-overlay"></div>
        <div class="cta-content">
            <h4>Let our enthusiastic on-site team Assist you with your dream event</h4>
            <h3>Extravagant Celebrations</h3>
            <p>From start to finish, our enthusiastic on-site team will assist you in planning your event, ensuring that your every request is taken into consideration.</p>
            <div class="btn-holder"><a href="mailto:sales@nyhotel.com" class="btn-common btn-white">Contact Us</a></div>
        </div>
    </div>
</section>
{% include newsletter.html %}
{% include twitter-instagram.html %}


<!--Youtube video--> 
<div class="modal fade full-screen" id="eventsVideo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <div class="modal-body">
      	<div class="embed-responsive embed-responsive-16by9">
       		<iframe class="embed-responsive-item"  frameborder="0" allowfullscreen=""></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
