---
layout: default
---
<!--Banner here-->
<section class="inner-page-banner banner" style="background-image:url(/images/gallery/gallery-banner.jpg);">
	<div class="overlay">
        <h1>Gallery</h1>
        <p>Lorem ipsum dolor sit amet, vel tale instructior signiferumque no.</p>
    </div>
</section>
<section> 
  <!-- gallery wrap --> 
  <div class="gallery-wrapper">
    <div class="gallery-listing">
      <div class="container">
        <ul class="gallery-nav">
         <li><a href="javascript:;" data-rel="all" class="filter active" data-filter="all">All</a></li>
         <li><a href="javascript:;" data-rel="hotel" class="filter">The Hotel</a></li>
         <li><a href="javascript:;" data-rel="rooms-suites" class="filter">Rooms & Suites</a></li>
          <li><a href="javascript:;" data-rel="gastronomy" class="filter">Gastronomy</a></li>
          <li><a href="javascript:;" data-rel="videos" class="filter">Videos</a></li>
        </ul>
      </div>
      <div class="container gallery-wrap" id="lightgallery">
        <ul class="row">        
          <li class="col-md-3 col-sm-3 fancybox" data-filter="hotel">
            <div class="item" data-src="/images/gallery/large/1.jpg"><img src="/images/gallery/thumb/1.jpg" class="img-responsive"/></div>
          </li>
           <li class="col-md-3 col-sm-3 fancybox" data-filter="hotel">
            <div class="item" data-src="/images/gallery/large/2.jpg"><img src="/images/gallery/thumb/2.jpg" class="img-responsive"/></div>
          </li>
           <li class="col-md-3 col-sm-3 fancybox" data-filter="hotel">
            <div class="item" data-src="/images/gallery/large/3.jpg"><img src="/images/gallery/thumb/3.jpg" class="img-responsive"/></div>
          </li>
           <li class="col-md-3 col-sm-3 fancybox" data-filter="hotel">
            <div class="item" data-src="/images/gallery/large/4.jpg"><img src="/images/gallery/thumb/4.jpg" class="img-responsive"/></div>
          </li>
           <li class="col-md-3 col-sm-3 fancybox" data-filter="hotel">
            <div class="item" data-src="/images/gallery/large/5.jpg"><img src="/images/gallery/thumb/5.jpg" class="img-responsive"/></div>
          </li>
           <li class="col-md-3 col-sm-3 fancybox" data-filter="hotel">
            <div class="item" data-src="/images/gallery/large/6.jpg"><img src="/images/gallery/thumb/6.jpg" class="img-responsive"/></div>
          </li>
          <li class="col-md-3 col-sm-3 fancybox" data-filter="hotel">
            <div class="item" data-src="/images/gallery/large/7.jpg"><img src="/images/gallery/thumb/7.jpg" class="img-responsive"/></div>
          </li>
           <li class="col-md-3 col-sm-3 fancybox" data-filter="hotel">
            <div class="item" data-src="/images/gallery/large/8.jpg"><img src="/images/gallery/thumb/8.jpg" class="img-responsive"/></div>
          </li>
           <li class="col-md-3 col-sm-3 fancybox" data-filter="hotel">
            <div class="item" data-src="/images/gallery/large/9.jpg"><img src="/images/gallery/thumb/9.jpg" class="img-responsive"/></div>
          </li>
<!--           <li class="col-md-3 col-sm-3 fancybox" data-filter="hotel">
            <div class="item" data-src="/images/gallery/large/10.jpg"><img src="/images/gallery/thumb/10.jpg" class="img-responsive"/></div>
          </li>-->
           <li class="col-md-3 col-sm-3 fancybox" data-filter="hotel">
            <div class="item" data-src="/images/gallery/large/11.jpg"><img src="/images/gallery/thumb/11.jpg" class="img-responsive"/></div>
          </li>
           <li class="col-md-3 col-sm-3 fancybox" data-filter="hotel">
            <div class="item" data-src="/images/gallery/large/12.jpg"><img src="/images/gallery/thumb/12.jpg" class="img-responsive"/></div>
          </li>        
        </ul>
      </div>
    </div>
    <!--<div class="btn-holder text-center"><a href="javascript:void(0);" class="button-common">load more images</a></div>-->
  </div>
  <!--/gallery wrap --> 
</section>
{% include newsletter.html %}
{% include twitter-instagram.html %}



