---
layout: default
---

<!--Banner here-->
<section class="inner-page-banner banner" style="background-image:url(/images/gallery/gallery-banner.jpg);">
  <div class="overlay" tabindex="0">
    <h1>Gallery</h1>
    <p>Our New York hotel pictures perfectly capture our sophisticated Art Deco décor, light-filled meeting and conference rooms, famed Tick Tock Diner and comfortable accommodations.</p>
  </div>
</section>
<section>
  <!-- gallery wrap -->
  {% assign categories = site.data._galleries %}
  <div class="gallery-wrapper">
    <div class="gallery-listing">
      <div class="container-fluid">
        <ul class="gallery-nav">
          <li><a href="javascript:;" class="filter active" data-filter="all" data-rel="all">All</a></li>
          {% for category in categories %} {% assign catname = category[0] %}
          <li><a href="javascript:;" class="filter" data-rel="{{catname}}">{{ site.data._galleries[catname].name }}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="container gallery-wrap">
        <div id="thenewyorkergallery">
            {% for category in categories %}
       		    {% assign catname = category[0] %}
                <div class="fancybox" data-filter="{{catname}}">
              <h3>{{ site.data._galleries[catname].name }}</h3>
                <div class="row">
       		  	      {% for photo in site.data._galleries[catname].photos %}
                      {% assign mod = forloop.index | modulo: 3 %}
                        <div class="col-md-3 col-sm-4 graphic-container">
                          <div class="item img-block" style="background-image:url({% if photo.url_xsmall %}{{ photo.url_xsmall }}{% else %}{{ photo.url }}{% endif %});"  data-src="{% if photo.url_large %}{{ photo.url_large }}{% else %}{{ photo.url }}{% endif %}" data-exthumbimage="{% if photo.url_xsmall %}{{ photo.url_xsmall}}{% else %}{{ photo.url }}{% endif %}">
                              <img style="display:none;" src="{% if photo.url_xsmall %}{{ photo.url_xsmall }}{% elsif photo.url_thumb %}{{ photo.url_thumb }}{% else %}{{ photo.url }}{% endif %}" alt="{{ photo.alt }}">
                          </div>
                          <p>{{ photo.alt }}</p>
                        </div>
                      {% if mod == 2 %}
                          <div class="item img-block hidden rez-offer" data-sub-html="" data-src=""> </div>

                     {% endif %}
       		  	     {% endfor %}
                </div>
                </div>
       		{% endfor %}
        </div>
        <div class="fancybox" data-filter="videos">
          <h3>Videos</h3>
          <div class="row">
            <div class="col-md-3 col-sm-4 graphic-container">
              <div class="item"><img src="/images/gallery/thumb/33.jpg" class="img-responsive" alt="Vidoe Thumb" />
                <a href="#" id="gal-1" title="Video"><img src="/images/play-icon.svg" class="play-icon" alt="Play"></a>
              </div>
            </div>
            <div class="col-md-3 col-sm-4 graphic-container">
              <div class="item" data-src="/images/gallery/large/34.jpg"><img src="/images/gallery/thumb/34.jpg" class="img-responsive" alt="Vidoe Thumb" />
                <a href="#" id="gal-2" title="Video"><img src="/images/play-icon.svg" class="play-icon" alt="Play"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--/gallery wrap -->
    </div>
  </div>
</section>
{% include newsletter.html %}
{% include twitter-instagram.html %}

<!--Youtube video-->
<div class="modal fade full-screen" id="galleryVideo-1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" title="Close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <div class="modal-body">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" title="Gallery Video" frameborder="0" allowfullscreen=""></iframe>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade full-screen" id="galleryVideo-2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" title="Close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <div class="modal-body">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" title="Gallery Video" frameborder="0" allowfullscreen=""></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
