---
layout: default
---
<section class="home-banner custom-carousel">
  <div class="container-fluid">
    <div id="home-banner" class="carousel slide carousel-fade" data-ride="carousel">
  
   <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active" style="background-image: url(/images/banner-4.jpg); height:650px;"></div>
    <div class="item" style="background-image: url(/images/banner-2.jpg);"></div>
    <div class="item" style="background-image: url(/images/banner-3.jpg);"></div>
    <div class="item" style="background-image: url(/images/banner-1.jpg);></div>
  </div>
  
  <div class="banner-overlay"></div>
  <div class="banner-logo"><a href="/"><img src="/images/the-new-yorker-logo-white.svg" alt="The New Yorker"/></a></div>
	<div class="counter"><span class="num">1 of 4</span></div>
  <!-- Left and right controls -->
  <a class="left carousel-control" href="#home-banner" role="button" data-slide="prev">
    <i class="fa fa-angle-left" aria-hidden="true"></i>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#home-banner" role="button" data-slide="next">
    <i class="fa fa-angle-right" aria-hidden="true"></i>
    <span class="sr-only">Next</span>
  </a>
</div>
  </div>
</section>

{% include welcome.html %}
{% include home-rooms.html %}
{% include cta-one.html %}
{% include world-class.html %} 
{% include home-offers.html %}
{% include home-map.html %}
{% include attractions-events.html %}
{% include newsletter.html %}
{% include twitter-instagram.html %}




