---
layout: default
title:
seo-title: 
seo-description:
---
<!--Banner here-->
<section class="inner-page-banner hotels-near-me">
    <div class="overlay">
    {% regionblock hotels_nyc_content %}
        <h1>Hotels in New York</h1>
    {% endregionblock %}
    </div>
</section>
<section class="discover">
    <div class="two-col-wrapper padding80 white_bg cover" style="background-image: url('/images/hotels-near-me/03.jpg');">
        <div class="container intro">
            {% regionblock discover_bigapple_content %}
            <div class="row no-gutters">
                <div class="col-sm-6">
                    <div class="content">
                        <h2>Discover<br>The big Apple</h2>
                        <p>New York is one of the world’s most famous cities – full of countless things to see, do and experience. The New Yorker, A Wyndham Hotel's picture-perfect location in Midtown West, just moments from the Jacob Javits Center and Penn Station, puts some of the city’s most remarkable attractions right at your doorstep.</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="img"><img src="../images/hotels-near-me/02.jpg" alt="" class="img-responsive"/></div>
                </div>
            </div>
            {% endregionblock %}
        </div>
        {% regionblock welcome_manhattan_content %}
<h1 class="mega-title small-variant">Welcome to the heart of Manhattan</h1>
{% endregionblock %}
<section class="full-map">
    <div class="map-inner" id="map"></div>
    <!--Yet to implement below code-->
    <!--<ul class="map-controls">
        <li><a href="#"><img src="../images/location/nav-icons/res.png" alt=""/></a></li>
           <li><a href="#"><img src="../images/location/nav-icons/bar.png" alt=""/></a></li>
           <li><a href="#"><img src="../images/location/nav-icons/coffee.png" alt=""/></a></li>
           <li><a href="#"><img src="../images/location/nav-icons/sites.png" alt=""/></a></li>
           <li><a href="#"><img src="../images/location/nav-icons/exh.png" alt=""/></a></li>
           <li><a href="#"><img src="../images/location/nav-icons/mta.png" alt=""/></a></li>
           <li><a href="#"><img src="../images/location/nav-icons/train.png" alt=""/></a></li>
           <li><a href="#"><img src="../images/location/nav-icons/plane.png" alt=""/></a></li>
        </ul>
        <div class="help-text">Click on icons to view sites</div>-->
</section>
        <div class="container">
        {% regionblock parking_content %}
            <div class="row no-gutters">
                <div class="col-sm-12">
                    <div class="parking">
                        <h2 class="text-center">Parking</h2>
                        <p></p>
                        <ul>
                            <li>ICON parking located at 1 Penn Plaza (34th street between 7th and 8th avenue). Rates are calculated per 24 hours, with no in and out privileges. On the day of departure the vehicle must be retrieved at the exact time it was dropped off to avoid incurring additional charges.</li>
                            <li>Valet Parking is $60.00 for a sedan and $70.00 for an SUV</li>
                            <li>Self-parking is $40.00 for a sedan and $50.00 for an SUV</li>
                        </ul>
                    </div>
                </div>
            </div>
        {% endregionblock %}
        </div>

        <div class="container">
        {% regionblock img_address_content %}
            <div class="row no-gutters">
                <div class="col-sm-6 no-gutters">
                    <div id="amenitiesCarousel" class="carousel slide no-shadow margin22" data-ride="carousel">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <img src="/images/hotels-near-me/01.jpg" alt="Location">
                            </div>
                            <!--<div class="item">
                                <img src="/images/location/01.jpg" alt="Location">
                                </div>-->
                        </div>
                        <!-- Left and right controls -->
                        <!-- <a class="left carousel-control" href="#amenitiesCarousel" role="button" data-slide="prev">
                            <img src="/images/amenities/arrow-left.png">
                            </a>
                            <a class="right carousel-control" href="#amenitiesCarousel" role="button" data-slide="next">
                            <img src="/images/amenities/arrow-right.png"> 
                            </a>-->
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="content-box">
                        <h2 class="m-b-20"></h2>
                        <h5>Address</h5>
                        <p>481 8th Avenue &amp; 34th Street<br>New York, NY 10001</p>
                        <h5>Contact</h5>
                        <p><a href="tel:212-971-0101">(212) 971 0101</a><br>
                            <a href="mailto:reservations@nyhotel.com">reservations@nyhotel.com</a><br>
                            <a href="mailto:guestservices@nyhotel.com">guestservices@nyhotel.com</a>
                        </p>
                        <div class="btn-holder">
                            <a class="btn-common" href="/gallery/"> View the Gallery</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endregionblock %}
        </div>
        


    </div>
</section>

<section class="offers-wrapper rooms-rates">
    <div class="container-fluid">
        <div class="col-sm-4 no-padding-margin" ng-repeat="room in browser.roomsList | limitTo: 3">
            <div class="thumb">
                <div class="caption" style="background-image: url([[room.photos[0].yankee_large]]); max-height: 545px;">
                    <span>Tonight’s rate $ <strong><a href="{{site.data.config.reztripUrl}}search?selected_room_category=[[room.category]]&selected_room=[[room.code]]" target="_blank"><span>[[ room.todayRate ]]</span></a></strong></span>
                    <h3>[[room.name]]</h3>
                    <a href="/rooms/#[[room.name | formatNameForLink]]" class="btn-common" rel="tooltip" title="View This Offer">View Room</a>
                    <div class="clearfix"></div>
                    <a ng-href="{{site.data.config.reztripUrl}}search?selected_room_category=[[room.category]]&selected_room=[[room.code]]" target="_blank"><img class="cal-icon" src="../images/about/calendar-icon.jpg" alt="Calendar" /></a>
                </div>
            </div>
        </div>
    </div>
</section>

{% include newsletter.html %}
{% include twitter-instagram.html %}
