---
layout: default
---
<section class="inner-page-banner location">
	<h1>Prime location</h1>
    <p>Wyndham New Yorker’s picture-perfect location in Midtown West, just moments from the Jacob Javits Center and Penn Station, puts some of the city’s most remarkable attractions right at your doorstep.</p>
</section>

{% include welcome.html %}
{% include home-rooms.html %}
{% include cta-one.html %}
{% include world-class.html %} 
{% include home-offers.html %}
{% include home-map.html %}
{% include attractions-events.html %}
{% include newsletter.html %}



