---
layout: default
---
<section class="inner-page-banner about">
<div class="overlay mothers-day-lineheight">
	<h1>The MOTHER’S DAY SWEEPSTAKES</h1>
    <p>begins on April 23, 2018 at 12:00 pm Eastern Time and ends on May 7, 2018 at 11:59 pm Eastern Time.</p>
</div>
</section>
<div class="two-col-wrapper padding80 white_bg cover about" style="background-image: url('/images/about/our-art-bg.jpg');">
     <div class="container">
     	  <div class="row">
     	      <div class="col-sm-12">
     	           <div class="content-box our-art mothers-day-content">
		     	      	   <h2>The MOTHER’S DAY<br>SWEEPSTAKES</h2>
		     	      	   <p>Enter the Sweepstakes during the Promotion Period online by visiting the entry form. Entrant must also follow the Sponsor on one of the following social media platforms: Facebook, Instagram, Twitter to be eligible. Eligible participants are to post a favorite memory about traveling with their mother and tag the Sponsor and include the hashtag #nyhoteltravelwithmom.</p>
                     <p>
                      The Winner of the Sweepstakes will be selected in a random drawing from among all eligible Entries received throughout the Promotion Period. Winner will be announced on Mary 8, 2018. The winner will receive:</p>
                      <ul>
                        <li> A voucher for a complimentary one (1) night stay at The New Yorker, a Wyndham Hotel to be redeemed for stays until May 31, 2019. Blackout dates and restrictions apply.</li>
                        <li>A complimentary bottle of champagne</li>
                        <li>A voucher for Continental Breakfast for 2 people</li>
                      </ul>
		     	      	   <!-- <div class="btn-holder">
		     	      	      <a class="btn-common" href="/gallery/" title="View the Gallery"> View the Gallery</a>
		     	      	   </div> -->
                     <p class="text-center mothers-day-form-heading">Please fill the form</p>
                     <div class="contact-form">
                           <form class="jotform-form" action="https://submit.jotform.me/submit/81121840982455/" method="post" name="form_81121840982455" id="81121840982455" accept-charset="utf-8"> <input type="hidden" name="formID" value="81121840982455" title="hidden" aria-label="hidden" />
                             <div class="two-fields-holder">
                              <div class="col-sm-6 no-padding">
                                <div class="form-group right-space">
                                  <input type="text" class="form-control validate[required, Alphabetic]" id="input_3" name="q3_first-name" placeholder="First Name" required title="First Name" aria-label="First Name">
                                </div>
                              </div>
                              <div class="col-sm-6 no-padding">
                                <div class="form-group left-space">
                                  <input type="text" class="form-control validate[required, Alphabetic]" id="input_9" name="q9_last-name" placeholder="Last Name" required title="Last Name" aria-label="Last Name">
                                </div>
                              </div>
                            </div>
                            <div class="form-group">
                              <input type="email" class="form-control validate[required, Email]" id="input_4" name="q4_email" placeholder="Email" required title="Email" aria-label="Email">
                            </div>
                            <div class="form-group">
                              Social Media
                              <input type="radio" class="form-radio validate[required] mothers-day-form-field" id="input_10_0" name="q10_socialNetwork" value="Facebook" />
                              <label id="label_input_10_0" for="input_10_0"> Facebook </label>

                              <input type="radio" class="form-radio validate[required] mothers-day-form-field" id="input_10_1" name="q10_socialNetwork" value="Instagram" />
                              <label id="label_input_10_1" for="input_10_1"> Instagram </label>

                              <input type="radio" class="form-radio validate[required] mothers-day-form-field" id="input_10_2" name="q10_socialNetwork" value="Twitter" />
                              <label id="label_input_10_2" for="input_10_2"> Twitter </label>
                            </div>
                            <div class="form-group">
                              <textarea class="form-control" id="input_7" name="q7_socialMedia" cols="40" rows="5" placeholder="Comments" title="Comments" aria-label="Comments"></textarea>
                            </div>
                            <div class="form-group">
                                Accepting
                                <input type="checkbox" class="form-checkbox validate[required] mothers-day-form-field" id="input_8_0" name="q8_accepting[]" value="Accepting with Sweepstakes" required="" />
                                <label id="label_input_8_0" for="input_8_0"> Accepting with Sweepstakes </label>
                            </div>
                            <button type="submit" id="input_2" class="btn-common" title="Submit" aria-label="Submit">Submit</button>

                            </form>
                          </div>
     	      	   </div>
     	      </div>
     	  </div>
     </div>
</div>

{% include exclusive-offer.html %}


{% include newsletter.html %}
{% include twitter-instagram.html %}
