---
layout: default
---
<section class="inner-page-banner mothers-day-banner">
<div class="overlay mothers-day-lineheight">
	<h1>MOTHER’S DAY SWEEPSTAKES</h1>
    <p>BEGINS ON APRIL 25, 2018 AT 12:00 PM EASTERN TIME AND ENDS ON MAY 7, 2018 AT 11:69 PM EASTERN TIME.</p>
</div>
</section>
<div class="two-col-wrapper padding80 white_bg cover about" style="background-image: url('/images/about/our-art-bg.jpg');">
     <div class="container">
     	  <div class="row">
     	      <div class="col-sm-12">
     	           <div class="content-box our-art mothers-day-content">
		     	      	   <h2>MOTHER’S DAY<br>SWEEPSTAKES</h2>
		     	      	   <p>We want to celebrate your mom for Mother’s Day. Enter our sweepstakes from April 25, 2018 to May 7, 2018 for a chance to win a free night stay in just three easy steps:</p>
<p>
1) Follow The New Yorker Hotel on any one of the below sites:<br>
• Facebook: <a href="https://www.facebook.com/newyorkerhotel" rel="nofollow" target="_blank">https://www.facebook.com/newyorkerhotel</a><br>
• Instagram: <a href="https://www.instagram.com/newyorkerhotel" rel="nofollow" target="_blank">https://www.instagram.com/newyorkerhotel</a><br>
• Twitter: <a href="https://twitter.com/WyndhamNYH" rel="nofollow" target="_blank">https://twitter.com/WyndhamNYH</a></p>

<p>2) Post a picture of your mom and tell us about your favorite travel memory. Hashtag <strong>#NYHTravelWithMom</strong> and tag us</p>

<p>3) Submit your entry on the below form</p>

		  <p><strong>*Please Note*</storng> Entrants must complete all the steps to be eligible for the sweepstakes. The winner will be selected in a random drawing from among all eligible entries received. The winner will be announced on May 8, 2018. The prize will include the following:</p>
									 <ul>
									 	<li>A voucher for a complimentary one (1) night stay at The New Yorker Hotel to be redeemed for stays until May 31, 2019. Blackout dates and restrictions apply.</li>
 										<li>A complimentary bottle of champagne</li>
 										<li>A voucher for Continental Breakfast for 2 people</li>
									 </ul>
		     	      	   <!-- <div class="btn-holder">
		     	      	      <a class="btn-common" href="/gallery/" title="View the Gallery"> View the Gallery</a>
		     	      	   </div> -->
                     <!-- <p class="text-center mothers-day-form-heading">Please fill the form</p> -->
                     <div class="contact-form">
                           <form class="jotform-form" action="https://web2.cendynhub.com/FormPost/FormPost.ashx" method="post" name="form_6C05838C-2665-49DE-832D-D05694399AFB" id="6C05838C-2665-49DE-832D-D05694399AFB" accept-charset="utf-8"> <input type="hidden" name="formID" value="6C05838C-2665-49DE-832D-D05694399AFB" title="hidden" aria-label="hidden" />
                             <div class="two-fields-holder">
                              <div class="col-sm-6 no-padding">
                                <div class="form-group right-space">
                                  <input type="text" class="form-control validate[required, Alphabetic]" name="firstName" placeholder="First Name" required title="First Name" aria-label="First Name">
                                </div>
                              </div>
                              <div class="col-sm-6 no-padding">
                                <div class="form-group left-space">
                                  <input type="text" class="form-control validate[required, Alphabetic]"  name="lastName" placeholder="Last Name" required title="Last Name" aria-label="Last Name">
                                </div>
                              </div>
                            </div>
                            <div class="form-group">
                              <input type="email" class="form-control validate[required, Email]" name="emailAddress" placeholder="Email" required title="Email" aria-label="Email">
                            </div>
                            <div class="form-group">
                              Social Media  (choose one)
                              <input type="radio" class="form-radio validate[required] mothers-day-form-field" name="facebook" value="Facebook" />
                              <label for="input_10_0"> Facebook </label>

                              <input type="radio" class="form-radio validate[required] mothers-day-form-field" id="input_10_1" name="instagram" value="Instagram" />
                              <label id="label_input_10_1" for="input_10_1"> Instagram </label>

                              <input type="radio" class="form-radio validate[required] mothers-day-form-field" id="input_10_2" name="twitter" value="Twitter" />
                              <label id="label_input_10_2" for="input_10_2"> Twitter </label>
                            </div>
                            <div class="form-group">
                              <textarea class="form-control" name="socialHandle" cols="40" rows="5" placeholder="Social Media Handle" title="Social Media Handle" aria-label="Social Media Handle"></textarea>
                            </div>
                            <div class="form-group">
                                Accepting
                                <input type="checkbox" class="form-checkbox validate[required] mothers-day-form-field" name="accepting" value="Accepting with Sweepstakes" required="" />
                                <label id="label_input_8_0" for="input_8_0"> Confirm you have read and agree with <a href="https://cdn.traveltripper.io/site-assets/426_558_14867/media/2018-04-25-151943/Mother-s-Day-Sweepstakes---Official-Rules.pdf" target="_blank">the official rules of the sweepstakes.</a>  </label>
                            </div>
                            <button type="submit" id="input_2" class="btn-common" title="Submit" aria-label="Submit">Submit</button>

                            </form>
                          </div>
     	      	   </div>
     	      </div>
     	  </div>
     </div>
</div>

{% include exclusive-offer.html %}


{% include newsletter.html %}
{% include twitter-instagram.html %}
