---
layout: default
---
<section class="inner-page-banner" style="background-image:url(/images/rooms/rooms-banner.jpg);">
  <div class="overlay">
        <h1>Special Offers</h1>
        <p>Whether you’re planning a business meeting or a romantic getaway, The New Yorker is sure to have a deal that’s perfect for you. </p>
    </div>
</section>
<section class="offers-container" rt3-special-rates= "offers">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6" ng-repeat="offer in offers.special_rates">
        <div class="offer-wrap">
          <div class="offer-img" style="background-image:url([[offer.lead_photo_url.yankee_large]]);" > </div>
          <div class="offers-description adjustHeight">
            <h4 ng-bind-html="offer.rate_plan_name | renderHTMLCorrectly"></h4>
            <div class="offerDesc"><span ng-bind-html="offer.short_description | limitTo: 120  | renderHTMLCorrectly "></span><span>[[offer.short_description.length > 120 ? '...' : '']]</span></div>
            <a ng-href="/offer-details/#[[offer.rate_plan_name | formatNameForLink ]]" class="btn-common btn-book"> View offer </a>
            <a href="#" class="btn-common btn-book"> Book Now </a>
            </div>
        </div>
      </div>
        <div class="col-sm-6">
            <div class="offer-wrap">
          <div class="offer-img" style="background-image:url(/images/attractions/broadway.jpg);"> </div>
          <div class="offers-description">
            <h4>Discounted Broadway Shows</h4>
            <p>Broadway Shows include Wicked, Jersey Boys and more..</p>
            <a href="http://newyorkerhotel.reservenewyorkcity.com/" target="_blank" class="btn-common btn-book"> View offer </a>
            <a href="#" class="btn-common btn-book"> Book Now </a>
          </div>
        </div>
      </div>
  </div>
    </div>
</section>
{% include newsletter.html %}
{% include twitter-instagram.html %}
