---
layout: default
---

<section>
  <div class="container-fluid no-padding">
    <div class="page-banner" style="background-image:url(/images/rooms/rooms-banner.jpg);">
    <div class="page-title">
      <h2>Special Offers</h2>
      <p>Whether you’re planning a business meeting or a romantic getaway, our Wyndham New Yorker Hotel is sure to have a deal that’s perfect for you. 
      </p>
    </div>
    </div>
  </div>
</section>
<section class="container-fluid rooms-list-container" >
	<div class="row">
	<div class="col-sm-6  col-md-4">
	<div class="room-item" style="background-image:url(/images/rooms/room-img.jpg);">
	
	<div class="room-details">
	<div class="price">from $199</div>
	<h3>EXECUTIVE VIEW DOUBLE</h3>
	<a class="view-rooms" href="#">View Room +</a>
	<a class="book-now" href="#"><img src="/images/calendar-blue.svg" alt=""></a>
	</div>
	</div>
	</div>
	<div class="col-sm-6  col-md-4">
	<div class="room-item" style="background-image:url(/images/rooms/room-img.jpg);">
	
	<div class="room-details">
	<div class="price">from $199</div>
	<h3>EXECUTIVE VIEW DOUBLE</h3>
	<a class="view-rooms" href="#">View Room +</a>
	<a class="book-now" href="#"><img src="/images/calendar-blue.svg" alt=""></a>
	</div>
	</div>
	</div>
	<div class="col-sm-6  col-md-4">
	<div class="room-item" style="background-image:url(/images/rooms/room-img.jpg);">
	
	<div class="room-details">
	<div class="price">from $199</div>
	<h3>EXECUTIVE VIEW DOUBLE</h3>
	<a class="view-rooms" href="#">View Room +</a>
	<a class="book-now" href="#"><img src="/images/calendar-blue.svg" alt=""></a>
	</div>
	</div>
	</div>
	<div class="col-sm-6  col-md-4">
	<div class="room-item" style="background-image:url(/images/rooms/room-img.jpg);">
	
	<div class="room-details">
	<div class="price">from $199</div>
	<h3>EXECUTIVE VIEW DOUBLE</h3>
	<a class="view-rooms" href="#">View Room +</a>
	<a class="book-now" href="#"><img src="/images/calendar-blue.svg" alt=""></a>
	</div>
	</div>
	</div>
	<div class="col-sm-6  col-md-4">
	<div class="room-item" style="background-image:url(/images/rooms/room-img.jpg);">
	
	<div class="room-details">
	<div class="price">from $199</div>
	<h3>EXECUTIVE VIEW DOUBLE</h3>
	<a class="view-rooms" href="#">View Room +</a>
	<a class="book-now" href="#"><img src="/images/calendar-blue.svg" alt=""></a>
	</div>
	</div>
	</div>
	<div class="col-sm-6  col-md-4">
	<div class="room-item" style="background-image:url(/images/rooms/room-img.jpg);">
	
	<div class="room-details">
	<div class="price">from $199</div>
	<h3>EXECUTIVE VIEW DOUBLE</h3>
	<a class="view-rooms" href="#">View Room +</a>
	<a class="book-now" href="#"><img src="/images/calendar-blue.svg" alt=""></a>
	</div>
	</div>
	</div>
	<div class="col-sm-6  col-md-4">
	<div class="room-item" style="background-image:url(/images/rooms/room-img.jpg);">
	
	<div class="room-details">
	<div class="price">from $199</div>
	<h3>EXECUTIVE VIEW DOUBLE</h3>
	<a class="view-rooms" href="#">View Room +</a>
	<a class="book-now" href="#"><img src="/images/calendar-blue.svg" alt=""></a>
	</div>
	</div>
	</div>
	<div class="col-sm-6  col-md-4">
	<div class="room-item" style="background-image:url(/images/rooms/room-img.jpg);">
	
	<div class="room-details">
	<div class="price">from $199</div>
	<h3>EXECUTIVE VIEW DOUBLE</h3>
	<a class="view-rooms" href="#">View Room +</a>
	<a class="book-now" href="#"><img src="/images/calendar-blue.svg" alt=""></a>
	</div>
	</div>
	</div>
	<div class="col-sm-6  col-md-4">
	<div class="room-item" style="background-image:url(/images/rooms/room-img.jpg);">
	
	<div class="room-details">
	<div class="price">from $199</div>
	<h3>EXECUTIVE VIEW DOUBLE</h3>
	<a class="view-rooms" href="#">View Room +</a>
	<a class="book-now" href="#"><img src="/images/calendar-blue.svg" alt=""></a>
	</div>
	</div>
	</div>
	<div class="col-sm-6  col-md-4">
	<div class="room-item" style="background-image:url(/images/rooms/room-img.jpg);">
	
	<div class="room-details">
	<div class="price">from $199</div>
	<h3>EXECUTIVE VIEW DOUBLE</h3>
	<a class="view-rooms" href="#">View Room +</a>
	<a class="book-now" href="#"><img src="/images/calendar-blue.svg" alt=""></a>
	</div>
	</div>
	</div>
	<div class="col-sm-6  col-md-4">
	<div class="room-item" style="background-image:url(/images/rooms/room-img.jpg);">
	
	<div class="room-details">
	<div class="price">from $199</div>
	<h3>EXECUTIVE VIEW DOUBLE</h3>
	<a class="view-rooms" href="#">View Room +</a>
	<a class="book-now" href="#"><img src="/images/calendar-blue.svg" alt=""></a>
	</div>
	</div>
	</div>
	<div class="col-sm-6  col-md-4">
	<div class="room-item" style="background-image:url(/images/rooms/room-img.jpg);">
	
	<div class="room-details">
	<div class="price">from $199</div>
	<h3>EXECUTIVE VIEW DOUBLE</h3>
	<a class="view-rooms" href="#">View Room +</a>
	<a class="book-now" href="#"><img src="/images/calendar-blue.svg" alt=""></a>
	</div>
	</div>
	</div>
	<div class="col-sm-6  col-md-4">
	<div class="room-item" style="background-image:url(/images/rooms/room-img.jpg);">
	
	<div class="room-details">
	<div class="price">from $199</div>
	<h3>EXECUTIVE VIEW DOUBLE</h3>
	<a class="view-rooms" href="#">View Room +</a>
	<a class="book-now" href="#"><img src="/images/calendar-blue.svg" alt=""></a>
	</div>
	</div>
	</div>
	<div class="col-sm-6  col-md-4">
	<div class="room-item" style="background-image:url(/images/rooms/room-img.jpg);">
	
	<div class="room-details">
	<div class="price">from $199</div>
	<h3>EXECUTIVE VIEW DOUBLE</h3>
	<a class="view-rooms" href="#">View Room +</a>
	<a class="book-now" href="#"><img src="/images/calendar-blue.svg" alt=""></a>
	</div>
	</div>
	</div>
	<div class="col-sm-6  col-md-4">
	<div class="room-item" style="background-image:url(/images/rooms/room-img.jpg);">
	
	<div class="room-details">
	<div class="price">from $199</div>
	<h3>EXECUTIVE VIEW DOUBLE</h3>
	<a class="view-rooms" href="#">View Room +</a>
	<a class="book-now" href="#"><img src="/images/calendar-blue.svg" alt=""></a>
	</div>
	</div>
	</div>
	<div class="col-sm-6  col-md-4">
	<div class="room-item" style="background-image:url(/images/rooms/room-img.jpg);">
	
	<div class="room-details">
	<div class="price">from $199</div>
	<h3>EXECUTIVE VIEW DOUBLE</h3>
	<a class="view-rooms" href="#">View Room +</a>
	<a class="book-now" href="#"><img src="/images/calendar-blue.svg" alt=""></a>
	</div>
	</div>
	</div>
	<div class="col-sm-6  col-md-4">
	<div class="room-item" style="background-image:url(/images/rooms/room-img.jpg);">
	
	<div class="room-details">
	<div class="price">from $199</div>
	<h3>EXECUTIVE VIEW DOUBLE</h3>
	<a class="view-rooms" href="#">View Room +</a>
	<a class="book-now" href="#"><img src="/images/calendar-blue.svg" alt=""></a>
	</div>
	</div>
	</div>


	</div>

</section>

<section class="offer-section">
	
	<h4>Exclusive Offers</h4>

	<div class="container">
	<div  class="row">
	<div class="col-sm-6 col-md-3">
		<img src="/images/rooms/offer1.jpg" alt="">
		<h5>PAY 3, STAY FREE!</h5>
		<a href="#"  class="view-offer">View Offer +</a>
	</div>
	<div class="col-sm-6 col-md-3">
		<img src="/images/rooms/offer2.jpg" alt="">
		<h5>BREAKFAST FOR A DOLLAR</h5>
		<a href="#" class="view-offer">View Offer +</a>
	</div>
	<div class="col-sm-6 col-md-3">
		<img src="/images/rooms/offer3.jpg" alt="">
		<h5>SUITE DEAL</h5>
		<a href="#" class="view-offer">View Offer +</a>
	</div>
	<div class="col-sm-6 col-md-3">
		<img src="/images/rooms/offer4.jpg" alt="">
		<h5>EMPIRE PACKAGE</h5>
		<a href="#" class="view-offer">View Offer +</a>
	</div>

	</div>
	</div>
	<a href="#" class="btn-common btn-white">View All Offers</a>

</section>
{% include newsletter.html %}
{% include twitter-instagram.html %}