---
layout: default
---
<!--Banner here-->
<section class="inner-page-banner dining pagenotfound">
	<div class="overlay">
        <h1>404<br>PAGE NOT FOUND</h1>
    </div>
</section>

<section class="inroom nopage">
<h4>We're sorry but it looks like that page doesn't exist anymore.<br>Please view the Sitemap below or go back to the <a href="/">Homepage.</a>
 </h4>
	<h2 class="sitemap">Sitemap</h2>
  <div class="container sitemap-pagenotfound">
  <div class="sitemaplist">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about/">about</a></li>
      <ul>
        <li><a href="/about/">overview</a></li>
        <li><a href="/history/">history</a></li>
        <li><a href="/amenities/">amenities</a></li>
      </ul>
    <li><a href="/rooms/">rooms</a></li>
    <li><a href="/offers/">offers</a></li>
    <li><a href="/location/">location</a></li>
    <li><a href="/dining/">dining</a></li>
    <li><a href="/gallery/">gallery</a></li>
    <li><a href="/events/">events</a></li>
    <li><a href="/blog/">blog</a></li>
    <li><a href="/contact/">contact</a></li>
  </ul>
  </div>
  </div>
</section>



