---
layout: default
---

<section>
  <div class="container-fluid no-padding">
    <div class="page-banner" style="background-image:url(/images/rooms/rooms-banner.jpg);">
    <div class="page-title">
      <h2>rooms & Suites</h2>
      <p>The accommodations at The New Yorker provide a relaxing, Art Deco-inspired sanctuary amidst the energy of Midtown Manhattan. 
      </p>
    </div>
    </div>
  </div>
</section>
<br>

dsadsadsa
<br>

dsadsadsa
<br>

dsadsadsa
<br>

dsadsadsa
<br>

dsadsadsa
<br>

dsadsadsa
<br>

dsadsadsa
<br>

</section>