---
layout: default
---

<section>
  <div class="container-fluid no-padding">
    <div class="page-banner" style="background-image:url(/images/rooms/rooms-banner.jpg);">
    <div class="page-title">
      <h2>rooms & Suites</h2>
      <p>The accommodations at The New Yorker provide a relaxing, Art Deco-inspired sanctuary amidst the energy of Midtown Manhattan.
      </p>
    </div>
    </div>
  </div>
</section>
<section class="container-fluid rooms-list-container" >
	<div class="row">
	<div class="col-sm-6  col-md-4" ng-repeat ="room in browser.roomsList">
  	<div class="room-item" style="background-image:url([[room.photos[0].yankee_large]]);">

    	<div class="room-details">
      	<div class="price"><span ng-hide="room.todayRate == 'CHECK AVAILABILITY'">from </span><a href="{{site.data.config.reztripUrl}}search?selected_room_category=[[room.category]]&selected_room=[[room.code]]" target="_blank"><span>[[ room.todayRate ]]</span></a></div>
      	<h3>[[room.name]]</h3>
      	<a class="view-rooms" href="/rooms/[[room.name | formatNameForLink]]/">View Room +</a>
      	<a class="book-now" href="{{site.data.config.reztripUrl}}search?selected_room_category=[[room.category]]&selected_room=[[room.code]]" target="_blank"><img src="/images/calendar-blue.svg" alt=""></a>
      	</div>
  	</div>
	</div>

	</div>

</section>

<section class="offer-section">

	<h4>Exclusive Offers</h4>

	<div class="container" rt3-special-rates= "offers">
	<div  class="row">
	<div class="col-sm-6 col-md-3" ng-repeat = "offer in offers.special_rates | limitTo :4">
		<img src="[[offer.lead_photo_url.yankee_large]]" alt="">
		<h5>[[offer.rate_plan_name]]</h5>
		<a href="/specials/[[offer.rate_plan_name | formatNameForLink ]]/"  class="view-offer">View Offer +</a>
	</div>


	</div>
	</div>
	<a href="/offers/" class="btn-common btn-white">View All Offers</a>

</section>
{% include newsletter.html %}
{% include twitter-instagram.html %}
