---
---
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-MZGV8GK');
        </script>
        <!-- End Google Tag Manager -->
        <!-- begin SEO -->
        <title>纽约客酒店 84 美元（1̶4̶8̶ 美元），温德姆酒店集团旗下的一家酒店 | 曼哈顿中区酒店</title>
        <meta name="description" content="敬请体验纽约客酒店，位于曼哈顿中区的一家标志性酒店。预订入住我们艺术装饰风格的精品酒店，立即开启您的纽约度假之旅，免费 WiFi 随心使用，早餐仅需 1 美元！我们距离帝国大厦和曼哈顿中城的众多知名场所仅半英里。">
        <meta property="og:description" content="敬请体验纽约客酒店，位于曼哈顿中区的一家标志性酒店。预订入住我们艺术装饰风格的精品酒店，立即开启您的纽约度假之旅，免费 WiFi 随心使用，早餐仅需 1 美元！我们距离帝国大厦和曼哈顿中城的众多知名场所仅半英里。">
        <meta name="author" content="WyndhamNYH">
        <meta property="og:locale" content="en_US">
        <meta property="og:site_name" content="纽约客酒店，温德姆酒店集团旗下的一家酒店 | 曼哈顿中区酒店">
        <meta property="og:title" content="纽约客酒店 84 美元（1̶4̶8̶ 美元），温德姆酒店集团旗下的一家酒店      曼哈顿中区酒店">
        <link rel="canonical" href="https://www.newyorkerhotel.com/">
        <meta property="og:url" content="https://www.newyorkerhotel.com/">
        <meta name="twitter:site" content="@WyndhamNYH">
        <meta name="twitter:title" content="纽约客酒店 84 美元（1̶4̶8̶ 美元），温德姆酒店集团旗下的一家酒店      曼哈顿中区酒店">
        <meta name="twitter:description" content="敬请体验纽约客酒店，位于曼哈顿中区的一家标志性酒店。预订入住我们艺术装饰风格的精品酒店，立即开启您的纽约度假之旅，免费 WiFi 随心使用，早餐仅需 1 美元！我们距离帝国大厦和曼哈顿中城的众多知名场所仅半英里。">
        <meta name="twitter:url" content="https://www.newyorkerhotel.com/">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:image" content="https://www.newyorkerhotel.com/images/banner-4.jpg">
        <meta name="twitter:creator" content="@WyndhamNYH">
        <meta property="og:image" content="https://www.newyorkerhotel.com/images/banner-4.jpg">
        <script type="application/ld+json">
            {
              "@context": "http://schema.org",
              "@type": "组织",
              "url": "https://www.newyorkerhotel.com",
              "logo": "https://www.newyorkerhotel.com/images/banner-4.jpg"
            }
        </script>
        <script type='application/ld+json'>
            {
              "@context": "http://www.schema.org",
              "@type": "组织",
              "name": "纽约人酒店",
              "url": "https://www.newyorkerhotel.com/",
              "logo": "https://www.newyorkerhotel.com/images/the-new-yorker-logo.svg",
              "description": "体验纽约人酒店，纽约的一家精品酒店。在曼哈顿中城酒店预订住宿并开始您的纽约之旅。",
                 "sameAs": [
                "https://plus.google.com/106550560316390846347"

              ]
              }
            }
        </script>
        <script type='application/ld+json'>
            {
              "@context": "http://schema.org",
              "@type": "酒店",
              "image": "https://www.newyorkerhotel.com/images/welcome-1.jpg",
              "starRating" : { "@type" : "评分",
                               "ratingValue" : "4"},
              "priceRange" : "最优惠房价保证",
              "address": {
                "@type": "PostalAddress",
                "streetAddress": "481 8th Ave",
                "addressLocality": "New York",
                "addressRegion": "New York",
                "postalCode": "NY 10001",
                "addressCountry": "美国"
              },
               "aggregateRating": {
                "@type": "AggregateRating",
                "ratingValue": "3.9",
                "bestRating": "5",
                "ratingCount": "2245"
                },

              "description": "体验纽约人酒店，纽约的一家精品酒店。在曼哈顿中城酒店预订住宿并开始您的纽约之旅。",
              "name": "纽约人酒店",
              "alternateName":"温德姆酒店旗下纽约人酒店",
              "telephone": "+1 212-971-0101",
              "email": "reservations@nyhotel.com",
              "url": "https://www.newyorkerhotel.com/",
               "sameAs" : ["https://twitter.com/WyndhamNYH","https://www.facebook.com/newyorkerhotel","https://plus.google.com/106550560316390846347","https://www.tripadvisor.com/Hotel_Review-g60763-d122005-Reviews-The_New_Yorker_A_Wyndham_Hotel-New_York_City_New_York.html","https://www.instagram.com/newyorkerhotel/","https://www.youtube.com/channel/UCXDFDBPGBkC07HOxL7ISQLQ"]
                },
               "hasMap": "https://goo.gl/maps/h5Mei2sS23z"
             },

              "potentialAction":{
               "@type":"ReserveAction",
               "target":{
               "@type":"EntryPoint",
               "urlTemplate":"https://newyorkerhotel.reztrip.com/classic/en/searches/5a214b6361b4d71d66bd93e9/hotels/NYCNYR/rooms?action=show&adults%5B%5D=1&children%5B%5D=0&controller=landings&locale=en&starting_page=search","actionPlatform":[
               "http://schema.org/DesktopWebPlatform",
               "http://schema.org/IOSPlatform",
                "http://schema.org/AndroidPlatform"
            ]
            },
               "result":{
               "@type":"LodgingReservation",
               "name":"Book Now"
              }
             }
            }
        </script>
        <!-- end SEO -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script>
            document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
        </script>
        <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="/css/all.css">
        <!--<![endif]-->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poiret+One">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/owl.carousel.css">
        <link rel="stylesheet" href="/css/owl.theme.css">
        <link rel="stylesheet" href="/css/owl.transitions.css">
        <link rel="stylesheet" href="/css/animations.css">
        <link rel="stylesheet" href="/css/lightgallery.css">
        <link rel="stylesheet" href="/css/font-awesome.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
        <link rel="apple-touch-icon" sizes="57x57" href="/fav-icon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/fav-icon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/fav-icon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/fav-icon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/fav-icon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/fav-icon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/fav-icon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/fav-icon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/fav-icon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/fav-icon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/fav-icon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/fav-icon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/fav-icon/favicon-16x16.png">
        <link rel="manifest" href="/fav-icon/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/fav-icon/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <meta http-equiv="cleartype" content="on">
        <script id="gtsgig-boot" data-hotel-id="newyorkerhotel" src="https://widgets.gtsgig.com/boot.js" async defer></script>
        <script>(function(){ var v = document.createElement('script'); var s = document.getElementsByTagName('script')[0]; v.src = '//io.voyat.com/v.js'; v.async = true; s.parentNode.insertBefore(v, s); })();</script>
        <!--Homepage Pixel-->
        <!-- Sojern Master Pixel Tag cp_v1_js, Pixel Version: 1 -->
        <script>
            (function () {
              /* Please fill the following values. */
              var params = {
                hpid: "NYCNYR", /* Property ID */
                pt: "HOME_PAGE" /* Page Type - HOME_PAGE or PRODUCT or TRACKING */
              };

              /* Please do not modify the below code. */
              var paramsArr = [];
              for(key in params) { paramsArr.push(key + '=' + encodeURIComponent(params[key])) };

              var pl = document.createElement('script');
              pl.type = 'text/javascript';
              pl.async = true;
              pl.src = "https://beacon.sojern.com/pixel/cp/8?f_v=cp_v1_js&p_v=1&" + paramsArr.join('&');
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(pl);
            })();
        </script>
        <!-- End Sojern Tag -->
        <link rel="stylesheet" type="text/css" href="https://plugins.traveltripper.io/v2/css/booking-widget.css" />
        <style type="text/css">
            @media screen and (max-width: 1023px){
                .menu-btn{
                    right: 260px;
                }
            }
            @media screen and (max-width: 767px){
                .menu-btn{
                    right: 185px;
                }
            }
        </style>
    </head>
    <body ng-app="rezTrip" rt3-hotel-info="hotelInfo" rt3-rooms-browser="browser">
        <input type="hidden" id="rezlang" value="zh-CN">
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MZGV8GK"
            height="0" width="0" style="display: none; visibility: hidden;"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        <nav class="header-wrapper">
            <div class="container-fluid">
                <div class="logo"> <a href="/zh/"><img src="/images/the-new-yorker-logo.svg" alt="纽约客酒店"/></a> </div>
                <div class="main-menu">
                    <ul class="nav">
                        <li ><a href="/zh/rooms/" title="客房">客房</a></li>
                        <li ><a href="/zh/offers/" title="优惠">优惠</a></li>
                        <li ><a href="/zh/location/" title="位置">位置</a></li>
                        <li ><a href="/zh/gallery/" title="图片库">图片库</a></li>
                        <li ><a href="/zh/contact/" title="联系我们">联系我们</a></li>
                    </ul>
                </div>
                <div class="menu-btn"></div>
                <div class="booknow langpick">
                    <select class="selectpicker" data-width="fit" onchange="location = this.value;">
                        <option value="/" data-content='<span class="flag-icon flag-icon-us"></span> EN'></option>
                        <option value="/fr/" {% if page.url contains '/fr/'%} selected="selected"{% endif %}  data-content='<span class="flag-icon flag-icon-fr"></span> FR'></option>
                        <option value="/es/" {% if page.url contains '/es/'%} selected="selected"{% endif %} data-content='<span class="flag-icon flag-icon-es"></span> ES'></option>
                        <option value="/it/" {% if page.url contains '/it/'%} selected="selected"{% endif %} data-content='<span class="flag-icon flag-icon-it"></span> IT'></option>
                        <option value="/de/" {% if page.url contains '/de/'%} selected="selected"{% endif %} data-content='<span class="flag-icon flag-icon-de"></span> DE'></option>
                        <option value="/zh/" {% if page.url contains '/zh/'%} selected="selected"{% endif %} data-content='<span class="flag-icon flag-icon-zh"></span> ZH'></option>
                    </select>
                    <!-- <select onchange="location = this.value;">
                        <option value="/">EN</option>
                        <option value="/fr/" {% if page.url contains '/fr/'%} selected="selected"{% endif %}>FR</option>
                        <option value="/es/"  {% if page.url contains '/es/'%} selected="selected"{% endif %}>ES</option>
                        <option value="/it/"  {% if page.url contains '/it/'%} selected="selected"{% endif %}>IT</option>
                        <option value="/de/"  {% if page.url contains '/de/'%} selected="selected"{% endif %}>DE</option>
                        </select> -->
                    <a href="javascript:void(0);" show-booking-widget><span class="cal"><img src="/images/calendar.svg" alt=""/></span>立即预订</a>
                </div>
            </div>
        </nav>
        <section class="home-banner custom-carousel" rt3-recent-bookings="recentBookings" ng-cloak>
            <div class="container-fluid">
                <div id="home-banner" class="carousel slide carousel-fade" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <!-- <div class="item active" style="background-image: url(/images/banner-4.jpg); height:650px;"></div> -->
                        <!-- <div class="item" style="background-image: url(/images/banner-2.jpg);"></div> -->
                        <div class="item active" style="background-image: url('https://cdn.traveltripper.io/site-assets/426_558_6591/media/2017-08-25-085033/new-yorker-exclusive-offer.jpg');">
                            <div class="offer-details">
                                <div class="offer-title"><span>纽约客酒店专属</span></div>
                                <a href="/zh/offer-details/#new-yorker-exclusive" class="btn-common">预订此优惠客房</a>
                            </div>
                        </div>
                        <div class="item" style="background-image: url('https://cdn.traveltripper.io/site-assets/426_558_6591/media/2017-08-25-085409/pay-now-save-10-percent-offer.jpg');">
                            <div class="offer-details">
                                <div class="offer-title"><span>Zahlen Sie direkt und sparen Sie 10 %</span></div>
                                <a href="https://newyorkerhotel.reztrip.com/classic/zh/special_offer?action=show&controller=landings&locale=zh-CN&rate_code=BPRADV&rate_code=BPRADV&starting_page=special_offer&vr=3" class="btn-common">Dieses Angebot buchen</a>
                            </div>
                        </div>
                        <div class="item" style="background-image: url('https://d31f902anbz5po.cloudfront.net/677/32888_2_yankee_large.jpg');">
                            <div class="offer-details">
                                <div class="offer-title"><span>一美元早餐</span></div>
                                <a href="/zh/offer-details/#breakfast-for-a-dollar" class="btn-common">预订此优惠客房</a>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="banner-overlay"></div> -->
                    <!-- <div class="banner-logo">
                        <a href="/"><img src="/images/the-new-yorker-logo-white.svg" alt="The New Yorker"></a>
                        </div> -->
                    <div class="caption-price" style="display:none">
                        <span class="price-holder" ng-show="recentBookings.totalBookings > 5"><span class="recentBookingNo">[[ recentBookings.totalBookings ]]</span><span class="recentBookingText">名客人在过去的 2 天里预订了我们的酒店</span></span>
                    </div>
                    <div class="counter"><span class="num">1 / 3</span></div>
                    <a class="left carousel-control" href="#home-banner" role="button" data-slide="prev"><i class="fa fa-angle-left" aria-hidden="true"></i><span class="sr-only">上一页</span></a> <a class="right carousel-control" href="#home-banner" role="button" data-slide="next"><i class="fa fa-angle-right" aria-hidden="true"></i><span class="sr-only">下一页</span></a>
                </div>
            </div>
        </section>
        <section class="price-wrap1 container-fluid" ng-show="browser.isRate" style="display:none">
            <div class="best-rate-ota" ng-show="browser.otaRates.brgFound">
                <div class="boxes">
                    <div class="tonight-rate ">
                        <p>最优价格</p>
                        <h4>今晚价格 <a href="https://newyorkerhotel.reztrip.com/search?locale=zh-CN" target="_blank" class="homeTonightRate" ><span class="price">[[ browser.otaRates.reztripRate ]]</span></a></h4>
                    </div>
                    <div class="ota-list">
                        <ul>
                            <li ng-repeat="(key, value) in browser.otaRates.brg">[[ key ]] <span>$[[ value ]]</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="intro-wrap">
            <div class="container-fluid">
                <div class="intro">
                    <div class="col-sm-5 no-padding">
                        <div class="-left">
                            <div class="img-holder">
                                <img src="/images/welcome-2.jpg"> <a href="javascript:void(0)" id="link"> <img src="/images/play-icon.svg" class="play-icon"> </a>
                            </div>
                            <div class="img-holder">
                                <img src="/images/welcome-1.jpg">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-7 no-padding">
                        <div class="-right">
                            <h1>欢迎光临<br>纽约客酒店</h1>
                            <p><a href="https://www.newyorkerhotel.com/" title="纽约客酒店">纽约客酒店</a>有着与她精巧的设计一样迷人的历史。从标志性的艺术装饰风格到独创性的美式建筑，这位“高贵老妇”自 1930 年建成以来，一直是纽约天际线上一道靓丽的风景，高耸入云，点亮整个纽约。建有私营发电厂、通往宾夕法尼亚车站的地下隧道，甚至还有一个溜冰场，纽约客酒店拥有她那个年代最先进的技术。在最受欢迎的鼎盛时期，她接待过有影响力的政治家、社会名流和体坛名将，邀请大乐队时代的明星大腕在 The Terrace Room 款待来宾。今天，她追根溯源，证明从一开始就注定不凡。</p>
                            <!-- <div class="btn-holder"><a href="/de/about/" class="btn-common">Entdecken Sie diese historische Legende</a></div> -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="modal fade full-screen" id="welcomeVideo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <div class="modal-body">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" frameborder="0" allowfullscreen=""></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="intro-wrap home-rooms custom-carousel">
            <div class="container-fluid">
                <div class="intro">
                    <div class="col-sm-5 no-padding">
                        <div class="-right">
                            <h2>客房和套房</h2>
                            <p>坐拥<a href="https://www.newyorkerhotel.com/location/" title="纽约中心酒店">纽约市中心</a>的优越地理位置，纽约客酒店的<a href="https://www.newyorkerhotel.com/rooms/" title="客房">客房</a>在熙熙攘攘的曼哈顿中区提供了一个艺术装饰风格的放松圣地。</p>
                            <div class="btn-holder"><a href="/zh/rooms/" class="btn-common" title="了解所有客房和套房">了解所有客房和套房</a></div>
                        </div>
                    </div>
                    <div class="col-sm-7 no-padding">
                        <div class="-left">
                            <div id="home-room-banner" class="carousel slide" data-ride="carousel">
                                <!-- Wrapper for slides -->
                                <div class="carousel-inner" role="listbox">
                                    <div class="item active"><img ng-src="/images/home-room-1.jpg"></div>
                                    <div class="item"><img ng-src="/images/home-room-2.jpg"></div>
                                    <div class="item"><img ng-src="/images/home-room-3.jpg"></div>
                                    <div class="item"><img ng-src="/images/home-room-4.jpg"></div>
                                </div>
                                <!-- Left and right controls -->
                                <a class="left carousel-control" href="#home-room-banner" role="button" data-slide="prev"> <i class="fa fa-angle-left" aria-hidden="true"></i> <span class="sr-only">上一页</span> </a> <a class="right carousel-control" href="#home-room-banner" role="button" data-slide="next"> <i class="fa fa-angle-right" aria-hidden="true"></i> <span class="sr-only">下一页</span> </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="cta-one" style="background-image:url(/images/home-cta.jpg)">
            <div class="container">
                <div class="banner-overlay"></div>
                <div class="cta-content">
                    <h4>鼓舞人心的世界级活动</h4>
                    <h3>一个独一无二的活动场所</h3>
                    <!-- <div class="btn-holder"><a href="/de/events/" class="btn-common btn-white">Entdecken Sie Veranstaltungen und Treffen</a></div> -->
                </div>
            </div>
        </section>
        <div class="two-col-wrapper padding80 white_bg cover" style="background-image: url('/images/bg-tower.jpg');">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div id="amenitiesCarousel" class="carousel slide no-shadow margin22" data-ride="carousel">
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                    <img src="/images/amenities/1.jpg" alt="便利设施">
                                </div>
<!--                                 <div class="item">
                                    <img src="/images/amenities/2.jpg" alt="Ausstattung">
                                </div> -->
                                <div class="item">
                                    <img src="/images/amenities/3.jpg" alt="便利设施">
                                </div>
                                <div class="item">
                                    <img src="/images/amenities/4.jpg" alt="便利设施">
                                </div>
                            </div>
                            <!-- Left and right controls -->
                            <a class="left carousel-control" href="#amenitiesCarousel" role="button" data-slide="prev"> <img src="/images/amenities/arrow-left.png"> </a> <a class="right carousel-control" href="#amenitiesCarousel" role="button" data-slide="next"> <img src="/images/amenities/arrow-right.png"> </a>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="content-box">
                            <h2>世界级的<br>便利设施</h2>
                            <ul>
                                <li> 一座艺术装饰风格的地标建筑 </li>
                                <li> 中城西区无与伦比的位置 </li>
                                <li> 高档客房和套房 </li>
                                <li> 24 小时营业的 Tick Tock Diner 餐厅 </li>
                                <li> 美观的多功能活动场地 </li>
                            </ul>
                            <div class="btn-holder">
                                <a class="btn-common" href="/zh/gallery/" title="查看图片库"> 查看图片库</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="two-col-wrapper padding80 grey_bg">
            <div class="container">
                <div class="row">
                    <div class="col-sm-5">
                        <div class="content-box-left">
                            <h2>纽约一座<br>艺术装饰风格的地标建筑</h2>
                            <p>温德姆酒店集团旗下的<a href="https://www.newyorkerhotel.com/" title="纽约客酒店">纽约客酒店</a>，建于爵士时代鼎盛期的 1929 年，以其艺术装饰风格的装修、卓越的服务和位于<a href="https://www.newyorkerhotel.com/location/" title="曼哈顿中区酒店">中城西区的绝佳位置</a>吸引了一代又一代的来客。</p>
                            <!-- <div class="btn-holder">
                                <a class="btn-common" href="/de/about/"> Entdecken Sie unsere Geschichte</a>
                                </div> -->
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <img src="/images/amenities/history.jpg" alt="历史" class="img-responsive img-5">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5 text-right">
                        <img src="/images/amenities/building1.jpg" alt="建筑" class="margin40">
                    </div>
                    <div class="col-sm-5">
                        <img src="/images/amenities/30-dancing.jpg" alt="30 年代的舞蹈" class="img-responsive margin40">
                    </div>
                </div>
            </div>
        </div>
        <section class="offers-wrapper home-page-offers">
            <div class="container-fluid" rt3-special-rates= "offers">
                <div class="col-sm-4 no-padding-margin" ng-repeat="offer in offers.special_rates | limitTo: 3">
                    <div class="thumb" style="background-image: url([[offer.lead_photo_url.yankee_large]]);">
                        <div class="caption">
                            <h3 ng-bind-html="offer.rate_plan_name | renderHTMLCorrectly"></h3>
                            <a ng-href="/zh/offer-details/#[[offer.rate_plan_code]]" class="btn-common btn-white" rel="tooltip" title="查看优惠">查看优惠</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="home-map">
            <div class="container-fluid two-col-wrap">
                <div class="row no-gutters">
                    <div class="col-sm-6 img v-center">
                        <div class="map-inner" id="map"></div>
                        <!--<img src="../images/home-map.jpg" alt="Map"/> -->
                    </div>
                    <div class="col-sm-6 v-center">
                        <div class="content">
                            <h2>一个标志性的 街区</h2>
                            <p>纽约是世界最著名的城市之一—充满无数有待您去欣赏和体验的东西。温德姆酒店集团旗下的纽约客酒店坐拥<a href="https://www.newyorkerhotel.com/location/" title="中城西区的酒店">中城西区</a>最完美的地理位置，距离雅各布贾维茨会议中心和宾夕法尼亚车站只有几分钟路程，纽约最著名的一些景点近在咫尺。</p>
                            <!--<p class="p-t-60"><span>The new yorkeR</span>  -  481 8th Avenue & 34th Street, New York, NY 10001</p>-->
                            <div class="btn-holder">
                                <a class="btn-common" href="https://www.google.com/maps/place/The+New+Yorker+A+Wyndham+Hotel/@40.752722,-73.9957992,17z/data=!3m1!4b1!4m5!3m4!1s0x89c259ade9128e5f:0x2276df1fe19f85bc!8m2!3d40.752722!4d-73.9936052" target="_blank" title="获取酒店路线">获取酒店路线</a>
                            </div>
                            <!-- <p class="p-t-40">We offer car service, shuttle bus service, and bus tours</p>
                                <div class="btn-holder p-t-20">
                                    <a class="btn-common" href="http://www.wnyguest.com" target="_blank">LEARN MORE</a>
                                </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="home-map exclusive-trans">
            <div class="container-fluid two-col-wrap">
                <div class="row no-gutters">
                    <div class="col-sm-6 v-center">
                        <div class="content">
                            <h2>专属客运</h2>
                            <p class="">第八大道宾客服务是纽约客酒店的专属客运服务商。了解更多关于预订私人汽车服务、机场穿梭巴士或纽约巴士观光服务的信息。</p>
                            <div class="btn-holder">
                                <a class="btn-common" href="http://www.wnyguest.com" target="_blank" title="了解更多">了解更多</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 img v-center">
                        <div class="ex-trans"><img src="/images/exclusive-transportation.jpg" alt="专属客运"/></div>
                    </div>
                </div>
            </div>
        </section>
        <!-- <h3 class="mega-title1">Erkunden Sie den Big Apple</h3> -->
        <!-- <section class="a-e">
            <div class="container">
                <div class="row no-gutters">
                    <div class="col-md-12">
                        <h4>Sehenswürdigkeiten</h4>
                           <div class="owl-carousel attractions-carousel">

                                 <div class="item">
                                   <img src="https://cdn.traveltripper.io/site-assets/426_558_1159/media/2017-01-05-222405/macys.jpg" alt=""/>
                                   <h5>MACY’S HERALD SQUARE</h5>
                                   <a href="/attractions/macys-herald-square">Attraktion anzeigen <i class="fa fa-plus"></i></a>
                                 </div>

                                 <div class="item">
                                   <img src="https://cdn.traveltripper.io/site-assets/426_558_1159/media/2017-01-05-235649/central-park.jpg" alt=""/>
                                   <h5>CENTRAL PARK</h5>
                                   <a href="/attractions/central-park">Attraktion anzeigen <i class="fa fa-plus"></i></a>
                                 </div>

                                 <div class="item">
                                   <img src="https://cdn.traveltripper.io/site-assets/426_558_1159/media/2017-01-05-235652/madison.jpg" alt=""/>
                                   <h5>MADISON SQUARE GARDEN</h5>
                                   <a href="/attractions/madison-square-garden">Attraktion anzeigen <i class="fa fa-plus"></i></a>
                                 </div>

                                 <div class="item">
                                   <img src="https://cdn.traveltripper.io/site-assets/426_558_1159/media/2017-01-05-235656/theatre.jpg" alt=""/>
                                   <h5>THEATER-DISTRIKT</h5>
                                   <a href="/attractions/theater-district">Attraktion anzeigen <i class="fa fa-plus"></i></a>
                                 </div>

                                 <div class="item">
                                   <img src="https://cdn.traveltripper.io/site-assets/426_558_1159/media/2017-01-05-235650/interpid.jpg" alt=""/>
                                   <h5>INTREPID-MUSEUM</h5>
                                   <a href="/attractions/intrepid-museum">Attraktion anzeigen <i class="fa fa-plus"></i></a>
                                 </div>

                                 <div class="item">
                                   <img src="https://cdn.traveltripper.io/site-assets/426_558_1159/media/2017-01-05-235655/sept-11.jpg" alt=""/>
                                   <h5>NATIONAL SEPTEMBER 11TH MEMORIAL & MUSEUM</h5>
                                   <a href="/attractions/national-september-11th-memorial-museum">Attraktion anzeigen <i class="fa fa-plus"></i></a>
                                 </div>

                                 <div class="item">
                                   <img src="https://cdn.traveltripper.io/site-assets/426_558_1159/media/2017-01-05-235653/natural.jpg" alt=""/>
                                   <h5>AMERICAN MUSEUM OF NATURAL HISTORY</h5>
                                   <a href="/attractions/american-museum-of-natural-history">Attraktion anzeigen <i class="fa fa-plus"></i></a>
                                 </div>

                                 <div class="item">
                                   <img src="https://cdn.traveltripper.io/site-assets/426_558_1159/media/2017-01-05-235650/empire.jpg" alt=""/>
                                   <h5>EMPIRE STATE BUILDING</h5>
                                   <a href="/attractions/empire-state-building">Attraktion anzeigen <i class="fa fa-plus"></i></a>
                                 </div>

                                 <div class="item">
                                   <img src="https://cdn.traveltripper.io/site-assets/426_558_1159/media/2017-01-05-235657/timesquare.jpg" alt=""/>
                                   <h5>TIMES SQUARE</h5>
                                   <a href="/attractions/times-square">Attraktion anzeigen <i class="fa fa-plus"></i></a>
                                 </div>

                                 <div class="item">
                                   <img src="https://cdn.traveltripper.io/site-assets/426_558_1159/media/2017-01-05-235652/jacob.jpg" alt=""/>
                                   <h5>JACOB JAVITS CONVENTION CENTER</h5>
                                   <a href="/attractions/jacob-javits-convention-center">Attraktion anzeigen <i class="fa fa-plus"></i></a>
                                 </div>

                           </div>
                         <div class="btn-holder">
                             <a class="btn-common btn-white" href="/attractions/">Alle Attraktionen anzeigen</a>
                         </div>
                       </div>
                   </div>
               </div>
            </section> -->
        <!--<section class="a-e">
            <div class="container">
                <div class="row no-gutters">
                    <div class="col-md-12">
                        <h4>Attractions</h4>
                           <div class="owl-carousel attractions-carousel">
                                 <div class="item">
                                   <img src="../images/home-owl/01.jpg" alt=""/>
                                   <h5>Empire State Building</h5>
                                   <a href="#">Read More <i class="fa fa-plus"></i></a>
                                 </div>
                                 <div class="item">
                                   <img src="../images/home-owl/02.jpg" alt=""/>
                                   <h5>Madison Square Garden</h5>
                                   <a href="#">Read More <i class="fa fa-plus"></i></a>
                                 </div>
                                 <div class="item">
                                   <img src="../images/home-owl/03.jpg" alt=""/>
                                   <h5>Times Square</h5>
                                   <a href="#">Read More <i class="fa fa-plus"></i></a>
                                 </div>
                                 <div class="item">
                                   <img src="../images/home-owl/04.jpg" alt=""/>
                                   <h5>Other Attraction</h5>
                                   <a href="#">Read More <i class="fa fa-plus"></i></a>
                                 </div>
                           </div>
                         <div class="btn-holder">
                             <a class="btn-common btn-white" href="#">Discover More</a>
                         </div>
                       </div>
                       <div class="col-md-4">
                        <h4>Events</h4>
                           <ul>
                            <li>
                                <h6>11.09.2016</h6>
                                   <h5>Event One / Event Venue</h5>
                                   <a href="#">Read More <i class="fa fa-plus"></i></a>
                               </li>
                               <li>
                                <h6>11.10.2016</h6>
                                   <h5>Event One / Event Venue</h5>
                                   <a href="#">Read More <i class="fa fa-plus"></i></a>
                               </li>
                               <li>
                                <h6>11.11.2016</h6>
                                   <h5>Event One / Event Venue</h5>
                                   <a href="#">Read More <i class="fa fa-plus"></i></a>
                               </li>
                               <li>
                                <h6>11.12.2016</h6>
                                   <h5>Event One / Event Venue</h5>
                                   <a href="#">Read More <i class="fa fa-plus"></i></a>
                               </li>
                           </ul>
                           <div class="btn-holder">
                               <a class="btn-common btn-white" href="#">Discover More</a>
                           </div>
                       </div>
                   </div>
               </div>
            </section>-->
        <section class="newsletter-signup">
            <div class="container">
                <div class="row no-gutters">
                    <div class="col-md-7">
                        <h3>注册以获取最新更新</h3>
                    </div>
                    <div class="col-md-5">
                        <form class="jotform-form" action="https://submit.jotform.me/submit/63621092258455/" method="post" name="form_63621092258455" id="63621092258455" accept-charset="utf-8">
                            <input type="hidden" name="formID" value="63621092258455" />
                            <div class="input-group">
                                <input type="email" class="form-control validate[required]" placeholder="Enter Your Email Address" id="input_3" name="q3_email" value="" placeholder="YOUR EMAIL" required="required">
                                <span class="input-group-btn">
                                <button class="btn btn-default" id="input_2" type="submit" ><img src="/images/arrow-right.png" width="26" height="21" alt=""/></button>
                                </span>
                            </div>
                            <!-- /input-group -->
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <section class="instagram-feed" style="display: none;">
            <div class="container-fluid no-padding">
                <div class="row no-gutters">
                    <h3><a href="https://www.instagram.com/explore/tags/newyorkerhotel/" target="_blank">#newyorkerhotel</a></h3>
                    <h5><a href="https://www.instagram.com/newyorkerhotel/" target="_blank">我们的 Instagram</a></h5>
                    <ul class="instafeed">
                    </ul>
                </div>
            </div>
        </section>
        <script>
            function getIp(data){
               sessionStorage.ip_add =  data.ip;
            }
        </script>
        <script src="https://api.ipify.org?format=jsonp&callback=getIp"></script>
        <script src="/js/jquery-1.11.1.js"></script>
        <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>-->
        <script src="/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.js"></script>
        <script src="/js/lightgallery.js"></script>
        <script src="/js/lg-fullscreen.js"></script>
        <script src="/js/lg-thumbnail.js"></script>
        <script src="/js/jquery.mousewheel.min.js"></script>
        <script src="/js/owl.carousel.js"></script>
        <script src="/js/angular.min.js"></script>
        <script src="/js/jquery-ui.min.js"></script>
        <script src="/js/rt3api.js"></script>
        <script src="/js/ui-date.js"></script>
        <script src="/js/rez-trip.js"></script>
        <script src="/js/rt3-services.js"></script>
        <script src="/js/rt3-directives.js"></script>
        <script src="/js/rt3-filters.js"></script>
        <script src="/js/scripts.js"></script>
        <script src="/js/utm-tracking.js"></script>
        <script src="/js/update-meta.min.js"></script>
        <script src="https://plugins.traveltripper.io/v2/rt3api.js"></script>
        <script src="https://plugins.traveltripper.io/v2/jquery.ttweb.js"></script>
        <script >
            TTWeb.Config.configure({
              hotelId: 'NYCNYR', //'orwhatever your values are',
              portalId: 'newyorkerhotel',
              defaultTimezone: 'America/New_York', // timezone of site
              ipAddress: sessionStorage.ip_add,
              defaultCurrency: 'USD',
              //rootPath: 'https://rt3api-prd-ase.ttaws.com' // include this line only if site is on asian server i.e elite and cristalhospitality
            });


            $("[show-booking-widget]").bookingWidget({
                 showRateCalendar: true,
                 showOfferCode: true
            });
        </script>
        <footer class="footer-wrap">
            <div class="container no-padding">
                <div class="col-md-3 col-sm-6 no-padding">
                    <div class="footer-logo"><a href="/zh/"><img src="/images/the-new-yorker-logo-black.svg" alt="The New Yorker"/></a></div>
                </div>
                <div class="col-md-3 col-sm-6 no-padding">
                    <div class="address">
                        <h3>联系我们</h3>
                        <p>
                            <a href="https://goo.gl/maps/m7a6UQKkgcH2" target="_blank"> <span>纽约州纽约市第八大道 34 街 481 号</span> <span>, 10001</span></a> <span>+1 (21 2) 9 71 01 01</span>
                        </p>
                        <p>
                            <span><a href="mailto:reservations@nyhotel.com">reservations@nyhotel.com</a></span> <span><a href="mailto:guestservices@nyhotel.com">guestservices@nyhotel.com</a></span>
                        </p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 no-padding">
                    <div class="links extra-padding">
                        <h3>链接</h3>
                        <ul>
                            <li><a href="/zh/rooms/" title="客房">客房</a></li>
                            <li><a href="/zh/offers/" title="优惠">优惠</a></li>
                            <li><a href="/zh/location/" title="位置">位置</a></li>
                            <li><a href="/zh/gallery/" title="图片库">图片库</a></li>
                            <li><a href="/zh/contact/" title="联系我们">联系我们</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 no-padding">
                    <div class="social extra-padding">
                        <h3>关注我们</h3>
                        <a href="https://www.facebook.com/newyorkerhotel" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a> <a href="https://twitter.com/WyndhamNYH" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a> <a href="https://www.instagram.com/newyorkerhotel/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a> <a href="https://www.youtube.com/channel/UCXDFDBPGBkC07HOxL7ISQLQ" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </footer>
        <script>
            function initMap() {
                    var myLatLng = {lat: 40.752941, lng: -73.993605};

                    var map = new google.maps.Map(document.getElementById('map'), {
                      zoom: 15,
                      center: new google.maps.LatLng(40.752941, -73.993605),
                  scrollwheel: false,
                  disableDefaultUI: true
                    });



                var iconBase = '/images/';


                    var marker = new google.maps.Marker({
                      position: myLatLng,
                      map: map,
                      title: 'The New Yorker',
                  icon: iconBase + 'loc.png'
                    });

                  }
        </script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAuWyydFA14iTVzJEaiASa6fgKgpMwOQLQ&callback=initMap"></script>
    </body>
</html>
